<md-button
  md-no-ink
  aria-label="Fretboard"
  class="toggle-button icon-hover"
  ng-class="{ active: viewer.fretboardVisible }"
  ng-click="setFretboardVisible(!viewer.fretboardVisible)">
  <md-icon md-svg-icon="fretboard"></md-icon>
  <md-tooltip
    md-delay="1500"
    md-direction="top">
    <span translate="FRETBOARD"></span>
  </md-tooltip>
</md-button>

<md-divider></md-divider>

<md-menu
  md-position-mode="target target"
  md-offset="5, 0">
  <md-button
    md-no-ink
    aria-label="Selection playback"
    class="icon-hover"
    ng-click="
      initSliders();
      $mdOpenMenu($event)
    ">

    <md-icon md-svg-icon="{{ viewer.layout.name }}"></md-icon>

    <md-tooltip
      md-delay="1500"
      class="multiline-tooltip">
      <p><b>Playback scrolling</b></p>
      <md-divider></md-divider>
      <p>Options to adjust layout and automatic scrolling during playback</p>
    </md-tooltip>
  </md-button>
  <md-menu-content
    class="preferences editor-layout md-whiteframe-16dp">

    <md-list>

      <md-list-item>
        <label translate="LAYOUT"></label>
        <md-input-container>
          <md-select
            md-no-ink
            aria-label="Layout"
            md-container-class="preferences"
            ng-model="viewer.layout"
            ng-change="
              setLayout(viewer.layout)
            ">
            <md-option
              ng-repeat="layout in ::viewer.layouts track by layout.name"
              ng-value="layout">
              <span ng-attr-translate="{{ ::layout.name | uppercase }}_LAYOUT"></span>
            </md-option>
          </md-select>
        </md-input-container>
      </md-list-item>

      <md-list-item class="disabled-on-playback">
        <label translate="BEATS_PER_SLIDE"></label>
        <md-input-container>
          <input
            aria-label="Beats"
            type="number"
            min="6"
            max="12"
            step="1"
            ng-model="viewer.beatsPerSlide"
            ng-change="setLayout(viewer.layout)">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <label translate="SCROLL_ANIMATION"></label>
        <md-input-container>
          <input
            aria-label="Duration"
            type="number"
            min="0"
            max="1500"
            step="50"
            ng-model="viewer.layout.animation">
        </md-input-container>
      </md-list-item>

    </md-list>
  </md-menu-content>
</md-menu>

<md-divider></md-divider>

<md-input-container>
  <label
    class="md-label md-no-float"
    translate="NOTE_LABELS">
  </label>
  <md-select
    md-no-ink
    aria-label="Note"
    md-container-class="preferences"
    ng-model="bass.settings.label">
    <md-option value="name-and-fret" translate="NAME_AND_FRET"></md-option>
    <md-option value="name" translate="NOTE_NAME"></md-option>
    <md-option value="fret" translate="FRET"></md-option>
  </md-select>
  <md-tooltip
    md-delay="1500"
    md-direction="top">
    <span>Note notation</span>
  </md-tooltip>
</md-input-container>

<md-button
  md-no-ink
  aria-label="Colors"
  class="toggle-button icon-hover"
  ng-class="{ active: bass.settings.colors }"
  ng-click="bass.settings.colors = !bass.settings.colors">
  <md-icon md-svg-icon="color-palette"></md-icon>
  <md-tooltip
    md-delay="1500"
    md-direction="top">
    <span translate="COLORS"></span>
  </md-tooltip>
</md-button>