<div
  ng-controller="PlaylistEditor"
  layout="row">

  <div layout="column">
    <div
      flex
      layout="column"
      class="playlist-panel md-whiteframe-6dp">
      <div class="toolbar">
        <label translate="PLAYLIST"></label>
      </div>
      <md-list
        flex
        class="playlist"
        ng-keyup="playlistKeyPressed($event)"
        ui-on-drop="dropPlaylistSection($event, workspace.playlist.items, $data, workspace.playlist.items.length)"
        drop-channel="playlist">
        <div
          md-no-ink
          ng-repeat="item in workspace.playlist.items track by $index"
          class="playlist-item"
          ng-class="{selected: selected.item === item}"
          ng-click="selected.item = item"
          layout="row"
          ui-draggable="true"
          drag="{
            index: $index,
            data: item
          }"
          ui-on-drop="dropPlaylistSection($event, workspace.playlist.items, $data, $index, item)"
          drag-channel="playlist"
          drop-channel="playlist">
          <div
            class="repeats"
            ng-class="{'one-repeat': item.repeats === 1}">
            <input
              type="number"
              min="1"
              ng-model="item.repeats"
              ng-change=updatePlaylist()>
            <span>x</span>
          </div>
          <span>{{ sectionNames[item.section] }}</span>
        </div>
      </md-list>
    </div>
    <md-button
      md-no-ink
      aria-label="Clear"
      class="playlist-button"
      ng-click="clearPlaylist()">
      <md-icon md-svg-icon="x"></md-icon>
      <span translate="CLEAR_ALL"></span>
    </md-button>
  </div>

  <div layout="column">
    <div
      flex
      layout="column"
      class="playlist-panel md-whiteframe-6dp">
      <div class="toolbar">
        <label translate="SECTIONS"></label>
      </div>
      <md-list
        flex
        class="playlist">
        <div
          md-no-ink
          ng-repeat="item in availableSections track by item.section"
          class="playlist-item"
          layout="row"
          ui-draggable="true"
          drag="{data: item}"
          drag-channel="playlist">
          <span>{{ sectionNames[item.section] }}</span>
        </div>
      </md-list>
    </div>
    <md-button
      md-no-ink
      aria-label="Move all"
      class="playlist-button"
      ng-click="moveAllUnused()">
      <md-icon md-svg-icon="arrow-left"></md-icon>
      <span translate="MOVE_ALL"></span>
    </md-button>
  </div>

  <!-- <div flex></div> -->
  <p
    class="info-note"
    translate="PLAYLIST_INSTRUCTIONS">
  </p>
</div>
