<div layout="column" layout-fill ng-cloak>
  <div flex="none" layout="row">

    <!-- Beats with bass sounds (tabs) -->
    <div
      ng-repeat="beat in ::beats"
      layout="column"
      class="beat"
      ng-class="::{
        first: beat.beat === 1,
        last: beat.beat === beat.timeSignature.top,
        'with-header': beat.sectionInfo.timeSignature.top
      }"
      flex>

      <div
        ng-if="::beat.sectionInfo.timeSignature"
        class="section-header">
        <div class="time-signature">
          <div>{{ ::beat.timeSignature.top }}</div>
          <div>{{ ::beat.timeSignature.bottom }}</div>
        </div>
        <div class="strings-labels instrument-slide">
          <p ng-repeat="string in ::track.instrument.strings | orderBy:string.index:'-'">
            {{ string.label }}<sub class="octave-index">{{ string.octave }}</sub><br>
          </p>
        </div>
      </div>

      <div class="header">
        <div class="section-label">
          <label
            ng-if="::beat.sectionInfo.bpm"
            class="bpm">
            <i class="quarter-note"></i>={{ ::beat.sectionInfo.bpm }}
          </label>
          <label class="section-name">
            {{ ::beat.sectionInfo.name }}
          </label>
        </div>

        <label class="bar-label">
          {{ ::beat.bar }}
        </label>

        <span
          ng-repeat="chord in ::beat.chordLabels"
          class="chord-label"
          ng-class="{bar: beat.beat === 1 && chord.subbeat === 1}"
          style="
            left: {{ ::100*(chord.subbeat-1)/beat.subdivision }}%;
            width: {{ ::100/beat.subdivision }}%;
          ">
          {{ ::chord.label }}
        </span>
      </div>

      <!-- Bar -->
      <div
        class="bar-beat"
        layout="row">
        <div
          flex
          class="subbeat">
          <label class="subbeat-label {{ ::showTimeSig? 'align-right' : '' }}">
            {{ ::beat.beatLabel }}
          </label>
        </div>
        <div
          ng-repeat="label in ::barLabels[beat.subdivision] track by $index"
          flex
          class="subbeat">
          <label class="subbeat-label">
            {{ ::label }}
          </label>
        </div>
      </div>

      <!-- Instrument -->
      <div
        class="beat-container bass-board instrument-slide {{ ::($last && emptyBeats.length)? 'last' : '' }}">
        <div class="string-container">
          <div
            ng-repeat="string in ::track.instrument.strings"
            class="bass-string">
          </div>
        </div>
        <div
          ng-repeat="item in ::beat.sounds"
          class="
            bass-sound-wrapper
            string-{{ ::{G: 4, D: 3, A: 2, E: 1, B: 0}[item.sound.string] }}
            {{ ::item.sound.style }}
            {{ ::item.sound.note.type }}
            {{ ::item.sound.noteLength.staccato? 'staccato' : '' }}
          "
          style="
            left: {{ ::100*(item.subbeat-1)/beat.subdivision }}%;
            top: {{ ::{G: '0', D: '36px', A: '72px', E: '108px', B: '144px'}[item.sound.string] }};
            width: {{ ::(100 * beat.timeSignature.bottom * item.sound.noteLength.beatLength * (beat.subdivision === 3? 2/3 : 1)) }}%;">
          <div
            class="top-label">
          </div>
          <div
            ng-attr-octave="{{ ::item.sound.note.octave }}"
            class="bass-sound-container">
            <bd-sound-label
              sound="item.sound"
              string="track.instrument.stringByName(item.sound.string)">
            </bd-sound-label>
          </div>
        </div>
        <span class="bottom-note">{{ ::beat.meta.note }}</span>
      </div>

    </div>

    <div
      ng-repeat="empty in ::emptyBeats track by $index"
      class="empty"
      style="position:relative;"
      flex>
    </div>
  </div>
</div>