.subbeat {
  box-sizing: border-box;
  border-left: 2px solid #ccc;
  vertical-align: middle;
  text-align: center;
  height: 50px;
}

.bar-end,
.subbeat-1 {
  border-left: 2px solid #aaa;
  height: 80px;
}

.subbeat label {
  min-height: 20px;
  max-height: 20px;
}

.subbeat-1 label.subbeat-label {
  font-weight: bold;
  font-size: 20px;
}
.bar-container {
  position: relative;
  margin-bottom: 10px;
  height: 100px;
}

.bar .time-signature-button {
  position: absolute;
  min-width: 36px;
  left: -48px;
  top: 0;
  font-size: 20px;
  margin: 0 3px;
  padding: 0;
}

/**
 * Settings form styles
 */
.bar-settings-container {
  position: absolute;
  width: 250px;
  xheight: 80px;
  top: 80px;
  left: -30px;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  z-index: 51;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding-bottom: 5px;
}

.md-select-menu-container {
  z-index: 500;
}

md-menu-content.subbeat-form-container {
  background-color: white;
  font-size: 15px;
  max-height: 400px;
}

.subbeat-form {
  overflow: hidden;
}

.md-open-menu-container {
  border-radius: 8px;
}
.subbeat-form-container {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 4px;
  min-width: 250px;
  width: 280px;
}

.subbeat-form-container.closed {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(-100px, -120px, 0px) scale3d(0.5, 0.25, 1);
}

.subbeat-form-container .volume-field md-input-container {
  width: 65px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 1px;
}
.subbeat-form-container md-slider {
  margin: 2px 8px 0 10px;
  height: 46px;
  border-bottom: 1px solid #ddd;
}

.subbeat-form-container .horizontal-space {
  width: 8px;
}

.subbeat-form-container .play-button {
  margin: 2px;
  padding: 0px;
  min-width: 40px;
}
.subbeat-form-container .clear-button.md-focused,
.subbeat-form-container .clear-button:hover:not([disabled]) {
  background-color: transparent;
}
.subbeat-form-container .clear-button md-icon {
  width: 26px;
  height: 26px;
}

.bar-settings-container label, 
.control-panel label {
  margin-top: 16px;
  padding: 5px;
}

.bar-settings-container .md-select-value {
  min-width: 38px;
  max-width: 45px;
}

.bar-settings-container .md-select-value span {
  max-width: 18px;
}

.volume-field md-input-container:not(.md-input-focused):not(.md-input-has-value) label {
  font-size: 12px;
}
.volume-field md-slider {
  margin-top: 10px;
}
md-slider .md-focus-ring {
  width: 40px;
  height: 40px;
  left: -20px;
  top: 4px;
}

.md-button.md-raised.hammer,
.md-button.md-raised.pull {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -6px;
  box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.26);
  width: calc(100% + 6px);
}
.note-button sup {
  position: absolute;
  left: 2px;
  top: 2px;
  line-height: 12px;
}
.bar-musical-char {
  display: inline-block;
  line-height: 10px;
  font-size: 60px;
  max-height: 38px;
  vertical-align: top;
}
.note-button .hammer-top {
  position: absolute;
  left: 7px;
  line-height: 40px;
  transform: rotate(90deg);
}
.note-button .hammer-bottom {
  position: absolute;
  left: 5px;
  bottom: 1px;
  line-height: 12px;
  font-size: 11px;
}
.note-button .pull-top {
  position: absolute;
  left: 6px;
  line-height: 24px;
  font-size: 11px;
}

.note-button .pull-bottom {
  position: absolute;
  left: 7px;
  line-height: 52px;
  transform: rotate(-90deg);
}

.subbeat-form md-input-container {
  margin-bottom: 4px;
  height: 42px;
}

.subbeat-form md-checkbox {
  margin: 24px 5px 0px 10px;
  vertical-align: bottom;
  line-height: 30px;
  height: 30px;
  bottom: 0;
}

.subbeat-form input {
  height: 34px;
}

.note-symbol {
  font-size: 22px;
}

.note-length-title {
  padding-left: 10px;
}
.md-select-value .note-length-title {
  display: none;
}

.buttons-spinner {
  margin-top: 10px;
  height: 48px;
}
.buttons-spinner .md-button {
  margin: 0;
  padding: 2px;
  min-width: 20px;
  width: 20px;
  min-height: 20px;
  height: 20px;
  line-height: 16px;
  margin-top: 2px;
}
.buttons-spinner md-icon {
  width: 16px;
  height: 16px;
}

.md-select-menu-container.note-select-menu {
  min-width: 220px!important;
}
.md-select-menu-container.note-select-menu md-content {
  overflow-x: hidden;
}

.note-select-menu .fret-index {
  padding: 0 5px;
}

.note-select-menu span {
  line-height: 44px;
  color: #777;
  font-size: 14px;
}