.bar-beat .subbeat {
  vertical-align: middle;
  text-align: center;
  position: relative;
  color: #777;
}

.subbeat.active {
  background-color: rgb(255, 250, 190);
}

.bar-slide .chord:hover {
  color: #2196F3;
}
.bar-slide .chord {
  position: absolute;
  top: -1.875em;
  text-align: center;
  cursor: pointer;
  color: #777;
  white-space: nowrap;
}

.bar-slide .chord .slash:before {
  content: " / ";
}

.audio-graph-container::before,
.bar-beat::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 2px;
  background-color: #bbb;
  z-index: 199;
}
.bar-slide .bar-beat::before {
  bottom: 5px;
}


.beat.first .audio-graph-container::before,
.beat.first .bar-beat::before {
  width: 3px;
}

.bar-beat .subbeat::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccc;
  content: "";
  width: 1px;
  height: 65%;
}

.bar-beat .subbeat:first-child label {
  font-weight: bold;
  font-size: 1.125em;
  color: #333;
}

.bar-end .audio-graph-container::after,
.bar-end .bar-beat::after {
  position: absolute;
  top: 0;
  right: -4px;
  left: auto;
  bottom: 0;
  content: "";
  width: 1px;
  border: solid #aaa;
  border-width: 0 2px;
  background-color: white;
  z-index: 200;
}
.bar-end .bar-beat::after {
  bottom: 5px;
}

.bar-slide {
  height: 70%;
}

.bar-beat {
  height: 7vh;
  max-height: 3.75em;
  min-height: 2.875em;
  position: relative;
}

.bar-label {
  visibility: hidden;
}
.beat.first .bar-label {
  visibility: visible;
}

.bar.swiper-container,
.bar-swiper {
  padding-top: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: hidden;
}
.bar-label {
  position: absolute;
  left: -0.57em;
  top: -2.15em;
  z-index: 500;
  font-weight: bold;
  font-size: 0.813em;
  background-color: #555;
  color: #fff;
  text-align: center;
  min-width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  border-radius: 50%;
}

/*.bar-slide .chord-label {
  position: absolute;
  left: 25px;
  right: 25px;
  width: calc(100% - 50px);
  top: -32px;
  border: none;
  color: #777;
  background-color: transparent;
}

.bar-slide .chord-label:hover {
  border-bottom: 1px solid #ccc;
}
.bar-slide .chord-label:focus {
  border-bottom: 1px solid #2196F3;
  outline: none;
}*/

.bar.swiper-container {
  padding-right: 0.25em;
  padding-bottom: 1.25em;
}

.bar-container {
  position: relative;
  margin: 0 1.125em 1vh 3em;
  transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.bar.swiper-container {
  min-height: 4.1rem;
}

.bar-beat label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  user-select: none;           /* Non-prefixed version, currently */
}

.bar-slide .subbeat {
  pointer-events: none;
}
.bar-slide .subbeat label {
  min-height: 20px;
  max-height: 20px;
}


.bar-slide .subbeat.hidden {
  display: none;
}

.bar-toolbar {
  position: absolute;
  left: -2.75em;
  top: 2em;
  width: 2.75em;
}

.section-preferences .md-menu {
  height: 7vh;
  min-height: 48px;
  max-height: 60px;
  display: block;
  position: relative;
  width: 100%;
}

.time-signature-button.md-button {
  min-width: 2.25em;
  min-height: 2.75em;
  height: 2.75em;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  position: relative;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

.time-signature-button.md-button p {
  margin: 0;
  line-height: 1.2em;
}
/*.time-signature-button.md-button:hover {
  color: #2196F3;
  opacity: 0.75;
  background-color: transparent;
  border-bottom: 2px solid #2196F3;
}*/

.time-signature-button.md-button.hover,
.time-signature-button.md-button:hover {
  background-color: #ffffe0;
  border-bottom: 2px solid #2196F3;
}

/**
 * form styles
 */
.bar-settings-container {
  position: absolute;
  width: 250px;
  top: 80px;
  left: -30px;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  z-index: 51;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding-bottom: 5px;
}

.md-select-menu-container {
  z-index: 500;
}


.bar-settings-container md-input-container {
  margin
}
.bar-settings-container label, 
.control-panel label {
  margin-top: 16px;
  padding: 5px;
}

.bar-settings-container .md-select-value {
  min-width: 38px;
  max-width: 45px;
}

.bar-settings-container .md-select-value span {
  max-width: 18px;
}

md-slider .md-focus-ring {
  width: 40px;
  height: 40px;
  left: -20px;
  top: 4px;
}

.bar-musical-char {
  display: inline-block;
  line-height: 10px;
  font-size: 60px;
  max-height: 38px;
  vertical-align: top;
}

.note-length-title {
  padding-left: 10px;
}
.md-select-value .note-length-title {
  display: none;
}

.buttons-spinner {
  margin-top: 2px;
  margin-right: 8px;
  height: 48px;
}
.buttons-spinner .md-button {
  margin: 0;
  padding: 2px;
  min-width: 20px;
  width: 20px;
  min-height: 20px;
  height: 20px;
  line-height: 16px;
  margin-top: 2px;
}
.buttons-spinner md-icon {
  width: 16px;
  height: 16px;
}

.md-select-menu-container.note-select-menu {
  min-width: 220px!important;
}
.md-select-menu-container.note-select-menu md-content {
  overflow-x: hidden;
}

.note-select-menu .fret-index {
  padding: 0 5px;
}

.note-select-menu span {
  line-height: 44px;
  color: #777;
  font-size: 14px;
}

.preferences md-list-item.time-signature-field input,
.preferences md-list-item.time-signature-field {
  text-align: center;
}


/**
 * Beat menu
 */
.context-menu {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 100%;
}
md-menu-content.beat-menu-content {
  padding-top: 3px;
}
.beat-menu.md-open .button {
  border-color: rgba(33,150,243,0.6);
}


.bar-slide .bar-beat {
  border-width: 0 0 2px 0;
  border-style: solid;
  transition: 0s border, background-color;
  border-color: transparent;
}

.bar-slide.hover .bar-beat,
.bar-slide .bar-beat:hover {
  transition-delay: 0.5s;
  border-color: rgba(33,150,243,0.6);
  background-color: #ffffe0;
  z-index: 10;
}

.beat-menu {
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  padding: 0;
}

.beat-menu .button {
  width: 100%;
  height: 100%;
  content: "";
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;

  border-width: 0 0 2px 0;
  border-style: solid;
  transition: 0s border;
  border-color: transparent;
}

.context-menu {
  z-index: 1;
}
.beat-menu.md-open .button {
  xborder-color: rgba(33,150,243,0.6);
  background-color: #ffffe0;
}

.audio-graph-container {
  border: none;
  background-color: #f7f7f7;
  position: relative;
  max-height: 0px;
  visibility: hidden;
  transition: max-height 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  margin-top: 5px;
}
.graph-enabled .audio-graph-container {
  max-height: 120px;
  visibility: inherit;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.audio-graph-container canvas {
  z-index: 200;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.audio-graph {
  height: 10vh;
  max-height: 85px;
  width: 100%;
}

/*.audio-graph-container::after {
  position: absolute;
  content: "";
  bottom: 51%;
  height: 2px;
  left: 0;
  right: 0;
  background-color: #777;
  opacity: 0.15;
}*/


.beat[visible-subbeats="2"] .subbeat:nth-child(2),
.beat[visible-subbeats="2"] .subbeat:nth-child(4),
.beat[visible-subbeats="3"] .subbeat:nth-child(4) {
  display: none;
}
