.bass-board {
  margin: 20px 30px 40px 65px;
  position: relative;
}


.tabs-tunning-button {
  position: absolute;
  min-width: 36px;
  left: -48px;
  top: 0;
  font-size: 20px;
  margin: 0 3px;
  padding: 0;
}
.tabs-tunning-button p {
  margin: 0;
  height: 36px;
}

.string-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.tab-string {
  height: 36px;
  margin: 19px 0 15px 0;
  width: 100%;
  background-color: #eee;
  top: 18px;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
}

.tab-note-container {
  height: 100%;
  text-align: center;
  z-index: 50;
  position: relative;
  border-radius: 3px;
  margin: 2px 2px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
}
.tab-note-container label {
  display: none;
  font-size: 15px;
}

.tab-note-container.active {
  background-color: #bbb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 1px solid #777;
  max-height: 32px;
  line-height: 32px;
  padding-left: 6px;
}
.tab-note-container.active label {
  padding-left: 5px;
  display: inline-block;
}
.tab-note-container.ghost label.fret {
  display: none;
}
.tab-note-container.active[octave="1"] {
  background-color: #ff5722;
}
.tab-note-container.active[octave="2"] {
  background-color: #ff9800;
}
.tab-note-container.active[octave="3"] {
  background-color: #ffc107;
}
.tab-note-container.active[octave="4"] {
  background-color: #ffeb3b;
}

.tab-note-container.active.selected {
  border: 2px solid #333;
  margin: 1px 1px 1px 2px;
  border-radius: 4px;
  line-height: 32px;
  max-height: 34px;
}
.fret-input {
  min-width: 18px;
  max-width: 18px;
}
.fretboard-icon {

}
.fretboard-select md-select {
  min-width: 30px;
  max-width: 30px;
}
.fretboard-select .md-select-icon {
  display: none;
}
.fretboard-select md-select-value {
  min-width: 30px;
  max-width: 30px;
  padding: 0;
}
.fretboard-select md-icon {
  width: 22px;
  height: 22px;
  pointer-events: none;
}

.spinner-label {
  line-height: 30px;
  height: 29px;
  width: 30px;
  border-bottom: 1px solid #ddd;
}

.tab-button {
  position: absolute;
  left: 3px;
  top: 0;
  min-width: 32px;
  min-height: 30px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding: 0 2px;
  text-transform: none;
  color: #777;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #ccc;

  outline-color: white;
  outline-style: solid;
}
.tab-button:hover:not([disabled]) {
  background-color: #fff;
  opacity: 1;
}

.tab-button md-icon {
  width: 18px;
  height: 18px;
  color: #ccc;
}
.tab-note-container.active md-icon {
  color: #444;
  margin-bottom: 2px;
}

.tab-note-container {
  text-align: center;
}

.tab-note-container.active .tab-button {
  color: #333;
  opacity: 0;
  xborder-radius: 0;
  xborder-width: 0 1px 0 0;
  xborder-color: rgba(50, 50, 50, 0.5);
  border: none;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  outline: none;
  background-color: transparent;
}
.tab-note-container.active:hover .rg-right,
.tab-note-container.active:hover .tab-button {
  opacity: 1;
}

.musical-tab-char {
  display: inline-block;
  line-height: 28px;
  font-size: 60px;
  max-height: 38px;
  width: 18px;
  vertical-align: top;
}

.tab-hammer,
.tab-pull {
  position: absolute;
  left: -10px;
  top: 10px;
  width: 28px;
  height: 32px;
  background-color: white;
}

.tab-hammer .hammer-top {
  transform: rotate(90deg);
  position: absolute;
  left: 12px;
  top: -8px;
}
.tab-hammer .hammer-bottom {
  position: absolute;
  top: 5px;
  left: 10px;
}

.tab-pull .pull-top {
  position: absolute;
  left: 11px;
  top: -26px;
}
.tab-pull .pull-bottom {
  position: absolute;
  top: -10px;
  left: 10px;
  transform: rotate(-90deg);
}

.subbeat-tab {
  width: 100%;
  height: 144px;
  xmargin: 2px;
  position: relative;
}

.tab-top-marker {
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #777;
  line-height: 5px;
}

.octave-index {
  opacity: 0.25;
  font-size: 14px;
}

.tab-note-container {
  z-index: 50;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.tab-note-container.active {
  z-index: 100;
}
.md-menu {
  padding: 0;
  line-height: 20px;
  display: block;
  text-align: left;
}

.tab-note-container:hover {
  xborder: 1px solid rgb(0, 170, 212);
}
.on-drag-hover .tab-button {
  xborder: 1px solid rgb(0, 170, 212);
}

.drop-note-area {
  position: absolute;
  height: 30px;
  padding: 0;
  border: 2px solid rgb(63,81,181);
  border-radius: 4px;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  z-index: 100;
  left: 0px;
  top: 0;
  pointer-events: none;
}

.resize-container {
  position: absolute;
  xbackground-color: rgba(217, 75, 75, 0.5);
  background-color: rgba(100, 0, 0, 0.2);
  border-radius: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.rg-right {
  right: 16px;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.rg-right > span {
  border-color: #333;
}
.drag-element {
  pointer-events: none;
}

.tab-note-container.drag-element {
  background-color: rgb(250, 220, 220);
}

#subbeat-menu {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
}



md-select-menu {
  border-radius: 5px;
}

md-select-menu:not(.md-overflow) md-content {
  padding: 0;
  border-radius: 5px;
}
