.bass-sound-form {
  background-color: white;
  font-size: 15px;
  max-height: 400px;
  min-height: 250px;
  xposition: fixed;
  z-index: 300;
}

.bass-sound-form.closed {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(-100px, -120px, 0px) scale3d(0.5, 0.25, 1);
}

.bass-sound-form [disabled="disabled"] md-input-container,
.bass-sound-form [disabled="disabled"] md-checkbox,
.bass-sound-form [disabled="disabled"] .md-button {
  pointer-events: none;
  opacity: 0.5;
}


.bass-sound-form md-input-container {
  margin-bottom: 4px;
  height: 42px;
}

.bass-sound-form md-checkbox {
  margin: 24px 5px 0px 10px;
  vertical-align: bottom;
  line-height: 30px;
  height: 30px;
  bottom: 0;
}

.bass-sound-form md-input-container.volume-field {
  width: 65px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 1px;
}
.bass-sound-form .play-field {
  height: 34px;
}
.bass-sound-form md-input-container.volume-field .md-errors-spacer {
  display: none;
}

.bass-sound-form .volume-slider {
  margin-left: 4px;
  margin-right: 4px;
}

.bass-sound-form .horizontal-space {
  width: 8px;
}

.bass-sound-form .play-button {
  margin: 0;
  padding: 0px;
  min-width: 36px;
  min-height: 32px;
  line-height: 32px;
  text-align: left;
}

.bass-sound-form .clear-button.md-focused,
.bass-sound-form .clear-button:hover:not([disabled]) {
  background-color: transparent;
}
.bass-sound-form .clear-button md-icon {
  width: 26px;
  height: 26px;
}

.bass-sound-form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  min-width: 260px;
  width: 290px;
}


.bass-sound-form .note-symbol {
  font-size: 22px;
}

.bass-sound-form .selectbox-spinner {
  margin-right: 6px;
}


.line-editor {
  height: 50px;
  position: relative;
  margin-left: 4px;
  margin-right: 8px;
}
.line-editor svg.graph {
  position: absolute;
  top: 6px;
  height: calc(100% - 12px);
  background-color: transparent;
  overflow: visible;
}
.line-editor svg.graph line {
  stroke: #2196F3;
  stroke-width: 2px;
}
.line-editor svg.graph line.border {
  stroke: #D8E0F3;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}


.point-node.rzslider.rz-vertical {
  width: 14px;
  margin: 0 auto;
  text-align: center;
}
.point-node.rzslider.rz-vertical .rz-bar-wrapper {
  padding: 0;
  width: 14px;
  margin-left: 0px;
}


.point-node.rzslider .rz-pointer {
  width: 10px;
  height: 10px;
  border: 2px solid #2196F3;
  background-color: white;
}
.point-node.rzslider.rz-vertical .rz-pointer {
  left: 1px!important;
}

.point-node.rzslider .rz-pointer:after {
  display: none;
}
.point-node.rzslider.rz-vertical .rz-bar-wrapper .rz-bar:not(.rz-selection) {
  margin-bottom: 0px;
}
.point-node.rzslider.rz-vertical .rz-pointer {
  transform: translate(0, 0);
}
.point-node.rzslider.rz-vertical .rz-bar-wrapper .rz-bar:not(.rz-selection) {
  height: 100%;
}
.line-editor > span:last-child {
  display: none;
}

.bass-sound-form md-input-container:not(.md-input-focused) label {
  color: #777;
}

md-input-container.line-editor-field {
  margin-bottom: 12px;
}


/****  Slide graph editor ****/

md-input-container .slide-graph.down {
  transform: scale(1, -1);
}
md-input-container .slide-graph.line-editor {
  margin: 0;
}
md-input-container .slide-graph .rzslider {
  margin: 44px 4px 0px 4px;
  left: -5px;
}
.slide-graph svg.graph {
  width: 100%;
  height: 36px;
  margin: 0 4px;
  width: calc(100% - 8px);
}
.slide-graph .rzslider .rz-pointer.rz-pointer-max {
  top: -44px;
}
.slide-graph .rzslider .rz-bar {
  display: none;
}