.audio-graph-container {
  border: solid #ccc;
  border-width: 1px 0;
  background-color: #eee;
  position: relative;
  margin-bottom: 30px;
}
.audio-graph-container canvas {
  z-index: 200;
}


.drums-beat-container::before,
.audio-graph-container::before,
.bass-board::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  width: 1px;
  background-color: #555;
  opacity: 0.3;
  z-index: 199;
}
.beat-1 .drums-beat-container::before,
.beat-1 .audio-graph-container::before,
.beat-1 .bass-board::before {
  width: 3px;
}

.bass-board-container .swiper-container {
  padding-right: 4px;
}
.drums-slide:last-child .drums-beat-container::after,
.bass-slide:last-child .audio-graph-container::after,
.bass-slide:last-child .bass-board::after {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  content: "";
  width: 1px;
  border: solid #555;
  border-width: 0 2px;
  opacity: 0.3;
  z-index: 199;
}

.audio-graph {
  height: 10vh;
  max-height: 85px;
  width: 100%;
}

.bass-board {
  width: 100%;
  height: 144px;
  position: relative;
}

.bass-board-container {
  margin: 0px 30px 40px 65px;
  position: relative;
}
.bass-tunning-button {
  position: absolute;
  min-width: 36px;
  left: -52px;
  bottom: 0;
  font-size: 20px;
  margin: 0 3px;
  padding: 0;
}
.bass-tunning-button p {
  margin: 0;
  height: 36px;
}

.string-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.bass-string {
  height: 18px;
  margin: 19px 0 16px 0;
  width: 100%;
  background-color: #e2e2e2;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
}

.bass-sound-container {
  height: 100%;
  text-align: center;
  z-index: 50;
  position: relative;
  border-radius: 3px;
  margin: 2px 1px;
  outline: none;
  box-sizing: border-box;
  overflow: visible;
}
.bass-sound-container label {
  display: none;
  font-size: 14px;
}

.bass-sound-container.active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 1px solid #777;
  max-height: 32px;
  line-height: 32px;
  xtransform: scale(0.95, 1);
  xtransform-origin: 0 0 0;
}
.bass-sound-container.active label {
  display: inline-block;
}
.bass-sound-container.ghost label.fret {
  display: none;
}
.bass-sound-container.active[octave="1"] {
  background-color: #ff5722;
}
.bass-sound-container.active[octave="2"] {
  background-color: #ff9800;
}
.bass-sound-container.active[octave="3"] {
  background-color: #ffc107;
}
.bass-sound-container.active[octave="4"] {
  background-color: #ffeb3b;
}
.bass-sound-container.active.ghost {
  background-color: #ddd;
  max-width: 25%;
}
.bass-sound-container.active.selected {
  border: 2px solid #333;
  margin: 1px 1px 1px 1px;
  border-radius: 4px;
  line-height: 32px;
  max-height: 34px;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.fret-input {
  min-width: 18px;
  max-width: 18px;
}
.fretboard-icon {

}
.fretboard-select md-select {
  min-width: 30px;
  max-width: 30px;
}
.fretboard-select .md-select-icon {
  display: none;
}
.fretboard-select md-select-value {
  min-width: 30px;
  max-width: 30px;
  padding: 0;
}
.fretboard-select md-icon {
  width: 22px;
  height: 22px;
  pointer-events: none;
}

.spinner-label {
  line-height: 30px;
  height: 29px;
  width: 30px;
  border-bottom: 1px solid #ddd;
}

.bass-button {
  position: absolute;
  left: 3px;
  top: 0;
  min-width: 32px;
  min-height: 30px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding: 0 2px;
  text-transform: none;
  color: #777;
  background-color: #fff;
  xbackground-color: transparent;
  border-radius: 16px;
  border: 1px solid #e2e2e2;

  outline-color: white;
  outline-style: solid;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.instruments-tabs:hover .bass-button {
  opacity: 1;
}

.bass-button:hover:not([disabled]) {
  background-color: #fff;
}

.bass-button md-icon {
  width: 18px;
  height: 18px;
  color: #e2e2e2;
  xcolor: transparent;
  pointer-events: none;
}

.bass-sound-container {
  text-align: center;
}

.bass-sound-container.active .bass-button {
  display: none;
}
.bass-sound-container.active:hover .rg-right {
  opacity: 1;
}

.musical-tab-char {
  display: inline-block;
  line-height: 28px;
  font-size: 60px;
  max-height: 38px;
  width: 18px;
  vertical-align: top;
}

.subbeats-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
  bottom: 0;
  right: 0;
}

.tab-top-marker {
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #777;
  line-height: 5px;
}

.octave-index {
  opacity: 0.25;
  font-size: 14px;
}

.bass-sound-container {
  z-index: 50;
}

.bass-sound-container p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 30px;
  line-height: 36px;
  vertical-align: bottom;
}

.bass-sound-container.staccato p::before {
  content: "•";
  position: absolute;
  top: 0;
  padding-left: 2px;
  line-height: 12px;
}

.bass-sound-container .resize-handler {
  position: absolute;
  display: none;
  width: 10px;
  right: 0;
  padding: 4px 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  pointer-events: none;
}

.bass-sound-container.active .resize-handler {
  display: block;
  opacity: 0;
}

.bass-sound-container.active:hover .resize-handler {
  opacity: 1;
}
.bass-sound-container .resize-handler md-icon {
  width: 10px;
  height: 12px;
  display: block;
}

.bass-sound-container.active {
  z-index: 200;
}
.md-menu {
  padding: 0;
  line-height: 20px;
  display: block;
  text-align: left;
}

.drop-note-area {
  position: fixed;
  height: 34px;
  padding: 0;
  border: 2px solid rgb(63,81,181);
  border-radius: 4px;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  z-index: 199;
  left: 0px;
  top: 0;
  pointer-events: none;
  box-sizing: border-box;
}
.drop-note-area label {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 20px;
  width: 26px;
  height: 26px;
  text-align: center;
  background-color: rgba(63,81,181, 0.65);
  border-radius: 5px;
}
.drop-note-area label:empty {
  display: none;
}

.resize-container {
  position: absolute;
  
  border-radius: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.resize-container.no-transition {
  background-color: rgba(100, 0, 0, 0.2);
}
/** when active resize-container should be visible only when we are over it's sound container */
/*
.resize-container.no-transition,
.bass-sound-container:hover .resize-container {
  display: block;
}
*/
.rg-right {
  right: 14px;
}

.drag-move-element {
  pointer-events: none;
  opacity: 0.4;
}

.bass-sound-container.drag-element {
  background-color: rgb(250, 220, 220);
}

#subbeat-menu {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
}



md-select-menu {
  border-radius: 5px;
}

md-select-menu:not(.md-overflow) md-content {
  padding: 0;
  border-radius: 5px;
}

.bass-board-container .swiper-container {
  min-height: 144px;
}

.hidden .bass-sound-container:not(.active) {
  /*display: none;*/
  visibility: hidden;
}

.buttons-spinner .md-button.md-focused:not(:hover) {
  background-color: transparent;
}

md-input-container.slide-field {
  margin-left: 15px;
  position: relative;
}

md-input-container.slide-field input {
  padding: 6px 2px 1px 10px; 
  line-height: 45px;
}

md-input-container.slide-field > span {
  position: absolute;
  right: 30px;
  font-size: 12px;
  line-height: 36px;
  color: #555;
  text-align: right;
  pointer-events: none;
}

.bass-sound-container .label-wrapper {
  display: inline;
}

.bass-sound-container .slide-slash {
  transform: scale3d(4, 1, 1);
  padding: 0 10px;
  font-weight: 300;
}

/* #ff5722, #ff9800, #ffc107, #ffeb3b */
.bass-sound-container.slide p label {
  line-height: 30px;
}
.bass-sound-container.slide p.s-octave-1.e-octave-2 {
  background: linear-gradient(to right, #ff5722, #ff5722, #ff9800, #ff9800);
}
.bass-sound-container.slide p.s-octave-1.e-octave-3 {
  background: linear-gradient(to right, #ff5722, #ff5722, #ffc107, #ffc107);
}
.bass-sound-container.slide p.s-octave-2.e-octave-3 {
  background: linear-gradient(to right, #ff9800, #ff9800, #ffc107, #ffc107);
}
.bass-sound-container.slide p.s-octave-2.e-octave-4 {
  background: linear-gradient(to right, #ff9800, #ff9800, #ffeb3b, #ffeb3b);
}
.bass-sound-container.slide p.s-octave-3.e-octave-4 {
  background: linear-gradient(to right, #ffc107, #ffc107, #ffeb3b, #ffeb3b);
}

.bass-sound-container.slide p.s-octave-2.e-octave-1 {
  background: linear-gradient(to right, #ff9800, #ff9800, #ff5722, #ff5722);
}
.bass-sound-container.slide p.s-octave-3.e-octave-1 {
  background: linear-gradient(to right, #ffc107, #ffc107, #ff5722, #ff5722);
}
.bass-sound-container.slide p.s-octave-3.e-octave-2 {
  background: linear-gradient(to right, #ffc107, #ffc107, #ff9800, #ff9800);
}
.bass-sound-container.slide p.s-octave-4.e-octave-2 {
  background: linear-gradient(to right, #ffeb3b, #ffeb3b, #ff9800, #ff9800);
}
.bass-sound-container.slide p.s-octave-4.e-octave-3 {
  background: linear-gradient(to right, #ffeb3b, #ffeb3b, #ffc107, #ffc107);
}

.bass-sound-container p .grace {
  font-size: 10px;
  padding-right: 3px;
}

.drag-group {
  position: fixed;
  top: -100px;
  left: 0;
  overflow: hidden;
  xpadding-top: 28px;
  xbackground-color: rgba(255,0,0,0.1);
  height: 64px;
}

.drag-group .bass-sound-container {
  left: 0!important;
  top: 28px!important;
}

.bass-sound-container .hammer-on-label {
  position: absolute;
  left: -15px;
  top: -28px;
  width: 31px;
  height: 26px;
  background-color: rgba(255,255,255,0.75);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bass-sound-container .hammer-on-label > span:first-child {
  position: absolute;
  top: 5px;
  left: 11px;
  font-size: 20px;
  transform: rotate(-90deg);
}
.bass-sound-container .hammer-on-label > span:last-child {
  position: absolute;
  top: -5px;
  left: 10px;
  font-size: 14px;
}