.audio-graph-container {
  border: solid #ccc;
  border-width: 1px 0;
  background-color: #f5f5f5;
  position: relative;
}
.audio-graph-container canvas {
  z-index: 200;
}


.drums-beat-container::before,
.audio-graph-container::before,
.bass-board::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  width: 1px;
  background-color: #555;
  opacity: 0.3;
  z-index: 199;
}
.beat-1 .drums-beat-container::before,
.beat-1 .audio-graph-container::before,
.beat-1 .bass-board::before {
  width: 3px;
}

.bass-board-container .swiper-container {
  padding-right: 4px;
}
.drums-slide:last-child .drums-beat-container::after,
.bass-slide:last-child .audio-graph-container::after,
.bass-slide:last-child .bass-board::after {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  content: "";
  width: 1px;
  border: solid #555;
  border-width: 0 2px;
  opacity: 0.3;
  z-index: 199;
}

.audio-graph {
  height: 10vh;
  max-height: 85px;
  width: 100%;
}

.bass-board-container {
  margin: 0px 30px 40px 65px;
  position: relative;
  outline: none;
}

.bass-board {
  width: 100%;
  height: 144px;
  position: relative;
  margin-top: 36px;
}

.bass-tunning-button {
  position: absolute;
  min-width: 36px;
  left: -52px;
  bottom: 0;
  font-size: 20px;
  margin: 0 3px;
  padding: 0;
}
.bass-tunning-button p {
  margin: 0;
  height: 36px;
}

.string-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.bass-string {
  height: 1px;
  margin: 18px 0 35px 0;
  width: 100%;
  background-color: #e2e2e2;
  opacity: 0.8;
  pointer-events: none;
}

.bass-subbeat {
  position: relative;
  height: 36px;
  width: 100%;
}

.bass-grid {
  height: 100%;
  overflow: visible;
  position: relative;
}

.subbeats-container:not(.hidden) .bass-grid {
  pointer-events: auto;
}

.bass-sound-wrapper {
  height: 100%;
  top: 0;
  position: absolute;
  overflow: visible;
  outline: none;
  z-index: 200;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition-property: none;
}

/* with enter/leave animations */

.bass-sound-wrapper.ng-enter {
  transition-property: opacity;
  opacity:0;
}

.bass-sound-wrapper.ng-enter.ng-enter-active {
  opacity: 1;
}

.bass-sound-wrapper.ng-leave {
  transition-property: opacity;
  opacity: 1;
}
.bass-sound-wrapper.ng-leave.ng-leave-active {
  opacity: 0;
}


/* without enter/leave animations */

/*.bass-sound-wrapper.ng-enter,
.bass-sound-wrapper.ng-leave {
  transition: none;
  opacity: 1;
}*/


.bass-button {
  position: absolute;
  left: 5px;
  top: 2px;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding: 0 2px;
  text-transform: none;
  color: #e2e2e2;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #e2e2e2;
  font-size: 20px;
  font-weight: 300;

  outline-color: white;
  outline-style: solid;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.bass-sound-container {
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 200;
  position: absolute;
  border-radius: 3px;
  margin: 1px 1px;
  top: 0;
  outline: none;
  text-align: center;
  border: 1px solid #777;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  max-height: 34px;
  line-height: 34px;
  pointer-events: auto;
}

.drag-group .bass-sound-container .label-wrapper > div:not(.hammer-on-label) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bass-sound-container .label-wrapper label.note,
.bass-sound-container .label-wrapper label.fret {
  display: none;
}
.bass-sound-container label {
  white-space: nowrap;
}

.name .bass-sound-container .label-wrapper label.note,
.fret .bass-sound-container .label-wrapper label.fret,
.name-and-fret .bass-sound-container .label-wrapper label.note,
.name-and-fret .bass-sound-container .label-wrapper label.fret {
  display: block;
}

.name-and-fret .bass-sound-container .label-wrapper .ring,
.name-and-fret .ring:not(.slide) .bass-sound-container .label-wrapper,
.bass-sound-container .label-wrapper {
  line-height: 32px;
  font-size: 16px;
}


.name-and-fret .bass-sound-container .label-wrapper {
  font-size: 13px;
  line-height: normal!important;
}

.name-and-fret .bass-sound-container label.note,
.name-and-fret .bass-sound-container label.fret {
  display: block;
  max-height: 16px;
}

/*.bass-sound-container label.note {}
.bass-sound-container label.fret {}*/

.ghost .bass-sound-container label.fret {
  display: none;
}
.bass-sound-container[octave="1"] {
  background-color: #ff5722;
}
.bass-sound-container[octave="2"] {
  background-color: #ff9800;
}
.bass-sound-container[octave="3"] {
  background-color: #ffc107;
}
.bass-sound-container[octave="4"] {
  background-color: #ffeb3b;
}

.ghost .bass-sound-container {
  background-color: #ddd;
}
.ghost.bass-sound-wrapper {
  min-width: 25%;
}
.bass-sound-wrapper.selected .bass-sound-container {
  border: 2px solid #333;
  margin: 0 1px 0 1px;
  border-radius: 4px;
  line-height: 34px;
  max-height: 36px;
}
.bass-sound-wrapper.selected {
  transition-property: width, opacity;
}
.fret-input {
  min-width: 18px;
  max-width: 18px;
}

}
.fretboard-select md-select {
  min-width: 30px;
  max-width: 30px;
}
.fretboard-select .md-select-icon {
  display: none;
}
.fretboard-select md-select-value {
  min-width: 30px;
  max-width: 30px;
  padding: 0;
}
.fretboard-select md-icon {
  width: 22px;
  height: 22px;
  pointer-events: none;
}

.spinner-label {
  line-height: 30px;
  height: 29px;
  width: 30px;
  border-bottom: 1px solid #ddd;
}

.instruments-tabs:hover .bass-button {
  opacity: 1;
}

.bass-button:hover:not([disabled]) {
  background-color: #fff;
}


.musical-tab-char {
  display: inline-block;
  line-height: 28px;
  font-size: 60px;
  max-height: 38px;
  width: 18px;
  vertical-align: top;
}

.subbeats-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.tab-top-marker {
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #777;
  line-height: 5px;
}

.octave-index {
  opacity: 0.25;
  font-size: 14px;
}

.bass-sound-container p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 32px;
  line-height: 36px;
  vertical-align: bottom;
}

#bass-sound-menu {
  padding: 0;
  line-height: 20px;
  display: block;
  text-align: left;
  position: fixed;
  visibility: hidden;
  pointer-events: none;
}

.drop-note-area {
  position: fixed;
  height: 34px;
  padding: 0;
  border: 2px solid rgb(63,81,181);
  border-radius: 4px;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  z-index: 199;
  left: 0;
  top: -50px;
  pointer-events: none;
  box-sizing: border-box;
}
.drop-note-area label {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 20px;
  width: 26px;
  height: 26px;
  text-align: center;
  background-color: rgba(63,81,181, 0.65);
  border-radius: 5px;
}
.drop-note-area label:empty {
  display: none;
}

.resize-container {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 32px;
  right: 0;
}

.resize-container.no-transition {
  background-color: rgba(100, 0, 0, 0.2);
}
/** when active resize-container should be visible only when we are over it's sound container */
/*
.resize-container.no-transition,
.bass-sound-container:hover .resize-container {
  display: block;
}
*/
.bass-sound-container .resize-handler {
  position: absolute;
  display: none;
  width: 10px;
  right: 0;
  padding: 4px 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  pointer-events: none;
}
.ghost .bass-sound-container .resize-handler,
.ghost .bass-sound-container .resize-container {
  display: none;
}

.bass-sound-container .resize-handler {
  display: block;
  opacity: 0;
}

.bass-sound-container:hover .resize-handler {
  opacity: 1;
}
.bass-sound-container .resize-handler md-icon {
  width: 10px;
  height: 12px;
  display: block;
}

.rg-right {
  right: 14px;
}

.drag-move-element {
  pointer-events: none;
  opacity: 0.4;
}


md-select-menu {
  border-radius: 5px;
}

md-select-menu:not(.md-overflow) md-content {
  padding: 0;
  border-radius: 5px;
}

.bass-board-container .swiper-container {
  min-height: 144px;
}


.hidden .bass-button {
  display: none;
}

.buttons-spinner .md-button.md-focused:not(:hover) {
  background-color: transparent;
}

/*md-input-container.slide-field {
  margin-left: 15px;
  position: relative;
}

md-input-container.slide-field input {
  padding: 6px 2px 1px 10px; 
  line-height: 45px;
}

md-input-container.slide-field > span {
  position: absolute;
  right: 30px;
  font-size: 12px;
  line-height: 36px;
  color: #555;
  text-align: right;
  pointer-events: none;
}*/

.bass-sound-container .label-wrapper {
  display: inline;
}

.bass-sound-container .slide-slash {
  padding: 0 6px;
  width: 10px;
  line-height: 32px;
  vertical-align: top;
  max-height: 32px;
  font-size: 20px;
  font-weight: 300;
  transform: rotate3d(0, 0, 1, -55deg);
}

.bass-sound-container .slide-slash.up {
  transform: rotate3d(0, 0, 1, 55deg)!important;
}

/* #ff5722, #ff9800, #ffc107, #ffeb3b */
.bass-sound-container .label-wrapper .slide > div {
  display: inline-block;
  height: 32px;
}

.bass-board-container.name .bass-sound-container .label-wrapper .fret {
  display: none;
}
.bass-board-container.fret .bass-sound-container .label-wrapper .note {
  display: none;
}

.slide .bass-sound-container .s-octave-1.e-octave-2 {
  background: linear-gradient(to right, #ff5722, #ff5722, #ff9800, #ff9800);
}
.slide .bass-sound-container .s-octave-1.e-octave-3 {
  background: linear-gradient(to right, #ff5722, #ff5722, #ffc107, #ffc107);
}
.slide .bass-sound-container .s-octave-2.e-octave-3 {
  background: linear-gradient(to right, #ff9800, #ff9800, #ffc107, #ffc107);
}
.slide .bass-sound-container .s-octave-2.e-octave-4 {
  background: linear-gradient(to right, #ff9800, #ff9800, #ffeb3b, #ffeb3b);
}
.slide .bass-sound-container .s-octave-3.e-octave-4 {
  background: linear-gradient(to right, #ffc107, #ffc107, #ffeb3b, #ffeb3b);
}

.slide .bass-sound-container .s-octave-2.e-octave-1 {
  background: linear-gradient(to right, #ff9800, #ff9800, #ff5722, #ff5722);
}
.slide .bass-sound-container .s-octave-3.e-octave-1 {
  background: linear-gradient(to right, #ffc107, #ffc107, #ff5722, #ff5722);
}
. .bass-sound-containerslide .s-octave-3.e-octave-2 {
  background: linear-gradient(to right, #ffc107, #ffc107, #ff9800, #ff9800);
}
.slide .bass-sound-container .s-octave-4.e-octave-2 {
  background: linear-gradient(to right, #ffeb3b, #ffeb3b, #ff9800, #ff9800);
}
.slide .bass-sound-container .s-octave-4.e-octave-3 {
  background: linear-gradient(to right, #ffeb3b, #ffeb3b, #ffc107, #ffc107);
}

.bass-sound-container .grace {
  font-size: 11px;
  padding-right: 3px;
}

.name-and-fret .bass-sound-container .grace {
  font-size: 9px;
}

.drag-group {
  position: fixed;
  top: -100px;
  xtop: 10px;
  left: 0;
  overflow: hidden;
  xbackground-color: rgba(255,0,0,0.1);
  height: 64px;
}

.drag-group .label-wrapper .slide {
  max-height: 36px;
}
.drag-group .bass-sound-container {
  left: 0!important;
  top: 28px!important;
}

.bass-sound-container .hammer-on-label {
  position: absolute;
  left: -15px;
  top: -28px;
  width: 31px;
  height: 26px;
  line-height: 32px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
    text-shadow:
    0px 0px 5px #fff,
    0px 0px 5px #fff;
}
.selected .bass-sound-container .hammer-on-label {
  left: -16px;
}

.bass-sound-container .hammer-on-label > span:first-child {
  position: absolute;
  top: 5px;
  left: 11px;
  font-size: 20px;
  transform-origin: 50%  51%; /* to avoid blury text */
  transform: rotate3d(0, 0, 1, -90deg);
}
.bass-sound-container .hammer-on-label > span:last-child {
  position: absolute;
  top: -5px;
  left: 10px;
  font-size: 14px;
}

.top-label {
  position: absolute;
  z-index: 50;
  text-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 36px;
}

.bass-sound-wrapper.staccato .top-label::before {
  content: "•";
  position: absolute;
  top: 0;
  padding-left: 2px;
  line-height: 12px;
}

.bass-sound-wrapper.slap .top-label::after {
  content: "S";
}

.bass-sound-wrapper.pop .top-label::after {
  content: "P";
}
