
/*$octave0: #f44336;
$octave1: #ff5722;
$octave2: #ff9800;
$octave3: #ffc107;
$octave4: #ffeb3b;
$octave5: #fff176;*/

/* sepia 0.25 */
$octave0: #de5544;
$octave1: #eb6838;
$octave2: #f6a226;
$octave3: #fec831;
$octave4: #fff15f;
$octave5: #fff98e;