
.drums-labels-container {
  position: absolute;
  left: 0;
  width: 65px;
  padding: 0 2px 0 5px;
  top: 0;
}

.drums-labels-container md-icon {
  height: 48px;
  width: 48px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.drums-labels-container .md-button {
  text-transform: none;
  margin: 0;
  padding: 0 8px;
  min-width: 60px;
  min-height: 44px;
  height: 44px;
  line-height: 44px;
  text-align: right;
}

.drum-sound-box {
  min-height: 40px;
  max-height: 44px;
  height: 44px;
  text-align: center;
  z-index: 50;
  position: relative;
  line-height: 40px;
  margin: 2px 6px;
  padding: 0;
  outline: none;
  overflow: hidden;
}

.volume-meter {
  xbackground-color: #ff5722;
  background-color: rgb(255, 152, 0);
  max-width: 100%;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  transition: transform 0.3s ease 0s;
}


.beat[subdivision="4"][visible-subbeats="2"] .drums > .subbeats-container:nth-child(2),
.beat[subdivision="4"][visible-subbeats="2"] .drums > .subbeats-container:nth-child(4) {
  display: none;
}

.drum-grid {
  height: 100%;
}

.drums-beat {
  position: relative;
  width: 100%;
  outline: none;
}
.drum-sound {
  position: absolute;
  text-align: center;
  margin: 8px 0;
  height: 32px;
  /*background-color: blue;*/
}
.drum-sound .volume-meter {
  display: inline-block;
  content: "";
}

.drumset-grid {
  display: table-cell;
  text-align: center;
}

.drums-beat svg,
.drums-beat svg rect {
  pointer-events: none;
}

/** Add/Remove animations */

.drum-sound.ng-enter .volume-meter {
  transform: scale(0, 0)!important;
}

.drum-sound.ng-leave {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition-property: opacity;
}

.drum-sound.ng-leave.ng-leave-active .volume-meter {
  transform: scale(0, 0)!important;
}

.drum.drag-box {
  border-radius: 16px;
  width: 34px;
  height: 34px;
  border: 1px solid #ccc;
}
.drum.drag-box .volume-meter {
  transition: none;
}
.drum.drop-box {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  border: 2px solid rgb(33,150,243);
}

/*.drums-beat svg rect {
  display: none;
}

.beat[subdivision="3"] .grid-3,
.beat[subdivision="4"] .grid-4 {
  display: block;
}*/