.fretboard-menu {
  height: 52px;
}
.md-button.fretboard-menu {
  min-width: 32px;
  padding: 0;
  margin: 12px 4px 0 14px;
}

.fretboard {
  padding: 0 10px 0 10px;
  position: relative;
}

.fretboard-scroller {
  overflow-x: auto;
  padding-left: 55px;
}
.fretboard-table {
  width: calc(100% - 2px);
  border-collapse: collapse;
}

.fretboard .md-button {
  min-width: 32px;
  padding: 0;
  margin: 0;
}

.fretboard-table tbody td {
  border: 1px solid #fff;
}

.fretboard-table tbody {
  border: solid #777;
  border-width: 2px 2px 2px 0;
}

.fretboard .fret-box {
  height: 30px;
  max-height: 30px;
  line-height: 30px;
  text-align: center;
  color: #333;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  font-size: 14px;
}


.fret-box .md-button {
  font-size: 13px;
}

.fret-box.octave-0 {
  background-color: #f44336;
}
.fret-box.octave-1 {
  background-color: #ff5722;
}
.fret-box.octave-2 {
  background-color: #ff9800;
}
.fret-box.octave-3 {
  background-color: #ffc107;
}
.fret-box.octave-4 {
  background-color: #ffeb3b;
}

.fretboard-table thead th {
  position: relative;
  font-weight: normal;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  min-width: 46px;
  padding: 0 7px;
  color: #ccc;
}

.fretboard .fret-index::before {
  position: absolute;
  font-size: 44px;
  font-weight: bold;
  color: #555;
  transform: translate3d(-15px, 0, 0);
}
.fretboard .fret-index:nth-child(4),
.fretboard .fret-index:nth-child(6),
.fretboard .fret-index:nth-child(8),
.fretboard .fret-index:nth-child(10),
.fretboard .fret-index:nth-child(13),
.fretboard .fret-index:nth-child(16),
.fretboard .fret-index:nth-child(18),
.fretboard .fret-index:nth-child(20),
.fretboard .fret-index:nth-child(22),
.fretboard .fret-index:nth-child(25) {
  padding: 0 0 0 14px;
}

.fretboard .fret-index:nth-child(4)::before,
.fretboard .fret-index:nth-child(6)::before,
.fretboard .fret-index:nth-child(8)::before,
.fretboard .fret-index:nth-child(10)::before,
.fretboard .fret-index:nth-child(16)::before,
.fretboard .fret-index:nth-child(18)::before,
.fretboard .fret-index:nth-child(20)::before,
.fretboard .fret-index:nth-child(22)::before {
  bottom: 12px;
  content: ".";
}

.fretboard .fret-index:nth-child(13)::before,
.fretboard .fret-index:nth-child(25)::before {
  bottom: -4px;
  content: "..";
  letter-spacing: -4px;
  padding: 16px 0px 0 4px;
  transform: rotate(90deg);
}


.second-button::before {
  content: "/";
  position: absolute;
  left: -2px;
}

.fretboard md-input-container {
  margin: 4px 16px 2px 5px;
}

.fretboard-settings .style-selectbox {
  min-width: 120px;
}
.fretboard-settings input {
  padding-top: 6px;
  height: 34px;
  text-align: right;
  width: 80px;
}

md-input-container.input-inline-label label {
  bottom: 3px;
  left: 0;
  position: relative;
}

.ghost-notes-container {
  width: 54px;
  position: absolute;
  left: 8px;
  top: 22px;
  border: solid #777;
  border-width: 2px 2px 2px 2px;
}
.ghost-notes-container .ghost-note:last-child {
  border-bottom: none;
}
.fretboard .ghost-note {
  height: 32px;
  line-height: 32px;
  background-color: #ddd;
  text-align: center;
  border-bottom: 1px solid #fff;
  outline: none;
}

.fret-box div {
  position: relative;
  xborder: 2px solid;
  xborder-radius: 2px;
  border-color: transparent;
  box-sizing: content-box;
}
/*.fret-box:hover div {
  border-color: #333;
}*/

.ghost-note:hover {
  opacity: 0.8;
  font-weight: bold;
  color: #111;
}
.fret-box:hover {
  opacity: 0.92;
}
.fret-box span:hover {
  color: #222;
  font-weight: bold;
}

.fret-box .second-label:not(.empty)::before {
  content: "/";
  color: #333;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
}
.fret-box .second-label:empty {
  display: none;
}
