.help-dialog {
  width: 70%;
  height: 80%;
}
md-dialog.help-dialog.md-transition-in {
  -webkit-transform: none;
  transform: none;
}

.help-container {
  background-color: #fff;
  height: 100%;
}

.help-index {
  background-color: #f0f0fc;
  min-width: 200px;
  width: 20%;
  padding: 0;
}

.help-index .active {
  color: #2196F3;
}
.help-container .content {
  padding: 10px;
  background-color: #fff;
  z-index: 1;
  position: relative;
  width: 100%;
}

/*.bass-slide {
  width: 600px;
  height: 180px;
}*/


.help-bass-sheet {
  position: relative;
  height: 172px;
  width: 100%;
}
.help-bass-sheet.strings-5 {
  height: 196px;
}

.help-bass-sheet .beats-container {
  margin-left: 48px;
  padding-top: 28px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.help-bass-sheet .beat,
.help-drum-sheet .beat {
  position: relative;
  max-width: 300px;
}
.help-bass-sheet .beat:last-child,
.help-drum-sheet .beat:last-child {
  border-right: 1px solid #ccc;
}

.help-container .instructions {
  font-weight: bold;
}

.help-container.active-step-1 .slideshow-steps > *:first-child,
.help-container.active-step-2 .slideshow-steps > *:nth-child(2),
.help-container.active-step-3 .slideshow-steps > *:nth-child(3),
.help-container.active-step-4 .slideshow-steps > *:nth-child(4),
.help-container.active-step-5 .slideshow-steps > *:nth-child(5),
.help-container.active-step-6 .slideshow-steps > *:nth-child(6),
.help-container.active-step-7 .slideshow-steps > *:nth-child(7),
.help-container.active-step-8 .slideshow-steps > *:nth-child(8) {
  font-weight: bold;
}

.help-container .slideshow-steps ul {
  padding-left: 20px;
}


/***** Index panel *****/

.help-container .index-item-container {
  overflow: hidden;
}

.help-index .index-item-container {
  transition: height cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s;
}

.index-item-container .index-item {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  outline: none;
  cursor: pointer;
}
/*
  background-color: rgba(33,150,243, 0.15);
}
*/
.index-item-container.expanded .index-item {
  background-color: rgba(33,150,243, 0.15);
  font-weight: bold;
  border: none;
}
.help-index .index-item-container:not(.expanded) {
  height: 48px;
}
.help-index .index-item-container[size="1"].expanded {
  height: 92px;
}
.help-index .index-item-container[size="2"].expanded {
  height: 136px;
}
.help-index .index-item-container[size="3"].expanded {
  height: 180px;
}
.help-index .index-item-container[size="4"].expanded {
  height: 224px;
}

.help-index li {
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}

.help-index ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style-position: inside;
}
.help-index li {
  padding-left: 22px;
}
.help-index li:hover {
  background-color: rgba(33,150,243, 0.05);
}

.help-index .sections.ng-enter,
.help-index .sections.ng-leave {
  transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s;
}

.help-index .sections.ng-enter,
.help-index .sections.ng-leave.ng-leave-active {
  opacity: 0.2;
}

.help-index .sections.ng-leave,
.help-index .sections.ng-enter.ng-enter-active {
  opacity: 1;
}


.help-container section {
  padding-top: 0px;
  padding-bottom: 100px;
  position: relative;
}

.help-container section > h4 {
  position: absolute;
  top: -52px;
  margin-top: 0;
  margin-bottom: 16px;
}

.help-container h5 {
  text-decoration: underline;
  font-size: 15px;
}

.help-container .non-interactive {
  pointer-events: none;
}

.help-container .bass-sound-container:not(.hover) .resize-handler {
  opacity: 0;
}
.help-container .bass-sound-container:hover .rg-right {
  pointer-events: none!important;
}
.help-container .md-panel-outer-wrapper .bass-form {
  transition-property: opacity;
}

.help-container .md-panel-outer-wrapper {
  overflow: hidden;
  position: absolute;
  width: 500px;
  height: 600px;
  clip: rect(0, auto, auto, 0);
}

.help-container .content a {
  color: #2196F3;
  cursor: pointer;
}

.help-container .bass-button {
  display: inline-block;
  opacity: 1;
}
.help-container div.bass-button {
  position: static;
  min-width: 26px;
  width: 26px;
  min-height: 26px;
  height: 26px;
  line-height: 24px;
}

.help-drum-sheet {
  position: relative;
  width: 50%;
  padding-left: 68px;
}

/*.help-bar {
  padding: 32px 10px 10px 10px;
  overflow: visible;
  xwidth: 80%;
}*/

.help-container .bar.swiper-container {
  pointer-events: none;
  padding-bottom: 80px;
}
.help-container .bar.swiper-container .swiper-controls::before {
  position: absolute;
  content: "↑";
  left: 0;
  right: 0;
  text-align: center;
  top: 24px;
  color: #aaa;
  font-size: 20px;
}
.help-container .bar.swiper-container .swiper-controls::after {
  position: absolute;
  content: "Pagination controls";
  top: 48px;
  left: 0;
  right: 0;
  text-align: center;
  color: #aaa;
}

.help-container .bar-preferences {
  margin-top: 30px;
  pointer-events: none;
  overflow: visible;
  position: relative;
}

.help-container .bar-preferences::before {
  position: absolute;
  content: "↑";
  bottom: 64px;
  left: 14px;
  color: #aaa;
  white-space: nowrap;
}
.help-container .bar-preferences::after {
  position: absolute;
  content: "Bar Preferences";
  bottom: 44px;
  left: 0;
  color: #aaa;
  white-space: nowrap;
}