.beat-container.piano {
  margin-top: 5px;
}
.piano .sounds-container {
  border-top: 1px solid #ccc;
}
.piano .grid-cell {
  min-height: 15px;
  font-size: 14px;
}
.piano .grid-cell.black {
  background: rgba(0,0,0,0.02);
}
.piano .grid-cell.c-key {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.piano .sound-container {
  position: absolute;
  border-radius: 3px;
  border: 1px solid #999;
  box-sizing: border-box;
  font-size: 13px;
  color: #222;
  max-height: 15px;
  line-height: 14px;
  padding-left: 5px;
  top: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  box-shadow: none;
}
.piano .sound-container.selected {
  border: 2px solid #555;
  max-height: 17px;
  transform: translate3d(0, 1px, 0);
}
.piano .sound-container .resize-handler {
  font-size: 8px;
  line-height: 6px;
  padding: 1px 0px 0 0;
}
.piano .resize-container {
  height: 15px;
}

.piano .sound-container .octave {
  font-size: 9px;
}

.piano .tie {
  content: "⏝";
  position: relative;
  bottom: 3px;
}

.piano-keys-container {
  position: absolute;
  left: 4px;
  top: 5px;
  width: 3.125em;
  border: 1px solid #aaa;
  border-width: 1px 0 0 1px;
  background-color: #fff;
  z-index: 1;
}
.piano-keys-container .piano-key {
  min-height: 25px;
  width: 100%;
  box-sizing: border-box;
}
.piano-keys-container .piano-key:hover {
  background-color: #FFF9C4;
}
.piano-keys-container .piano-key.black {
  min-height: 1px;
  max-height: 1px;
  background-color: #ccc;
  position: relative;
}
.piano-keys-container .piano-key.black:after {
  position: absolute;
  background-color: #555;
  content: "";
  left: 0;
  top: -6px;
  height: 13px;
  width: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.piano-key.black[key="A♯"]:after {
  top: -8px;
}
.piano-key.black[key="D♯"]:after {
  top: -7px;
}
.piano-key.black[key="F♯"]:after {
  top: -4px;
}
.piano-key.black[key="C♯"]:after {
  top: -5px;
}
.piano-key.black[key="C♯"]:before {
  content: "C";
  position: absolute;
  font-size: 12px;
  display: block;
  top: 8px;
  left: 2px;
  color: #777;
}
.piano-keys-container .piano-key.black:hover:after {
  background-color: #F57F17;
  background-color: #ae5507;
}
.piano-keys-container .piano-key[key="C"] {
  border-bottom: 1px solid #ccc;
}
.piano-keys-container .piano-key[key="E"] {
  border-top: 1px solid #ccc;
}

.drag-sound.piano .sound-container {
  height: 16px!important;
  font-size: 13px;
  line-height: 13px;
}