.playlist .playlist-item {
  border-bottom: 1px solid #eee;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  outline: none;
}

.playlist .playlist-item.selected {
  background-color: #ffffe0;
  xborder-color: #2196F3;
}

.playlist .playlist-item input {
  width: 40px;
  border: none;
  margin-right: 8px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  text-align: right;
  outline: none;
}

.playlist .playlist-item .repeats {
  position: relative;
}
.playlist .playlist-item .repeats span {
  position: absolute;
  right: 16px;
  top: 0;
}

.playlist .playlist-item .repeats:hover span,
.playlist .playlist-item .repeats input:focus ~ span {
  display: none;
}
.playlist .playlist-item .repeats:not(:hover).one-repeat,
.playlist .playlist-item .repeats:not(:hover).one-repeat input {
  color: transparent;
}
.playlist .playlist-item:hover input {
  border-bottom: 1px solid #2196F3;
}


.playlist-panel {
  height: 100%;
  width: 320px;
  padding: 0;
  margin: 0 16px;
}

.playlist-panel .toolbar {
  background-color: #455A64;
  height: 44px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  padding: 0 4px;
  text-align: center;
}

.playlist {
  overflow: auto;
  padding: 8px 5px;
}

.playlist-container {
  padding: 5px 20px 20px 20px;
}
.viewer-container {
  position: relative;
  height: 100%;
  margin: 0 15px 0 0px;
}

.player.swiper-container,
.viewer-container .swiper-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 10px;
}

.player .bar-beat {
  max-height: 65px;
  height: 8vh;
  margin-bottom: 10px;
}


.player .swiper-slide .section-info {
  min-width: 30px;
  position: relative;
  color: #555;
}

/*.player .swiper-slide .section-info::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 36px;
  content: "";
  width: 1px;
  border: solid #aaa;
  border-width: 0 2px;
  z-index: 200;
}*/


/*.player .swiper-slide .section-info::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 3px;
  height: 64px;
  background-color: #aaa;
  z-index: 200;
}*/

.player .swiper-slide .section-info .instrument-slide::before{
  display: none;
}

.player .swiper-slide > div:last-child .beat::after {
  position: absolute;
  top: 0;
  right: -3px;
  content: "";
  width: 3px;
  height: 64px;
  background-color: #aaa;
  z-index: 200;
}
.player .swiper-slide > div:last-child > .bass-board::after {
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  left: auto;
  right: -3px;
  content: "";
  width: 3px;
  background-color: #ccc;
  z-index: 200;
}
.player .subbeat-label.align-right {
  padding-left: 24px;
}
.player .swiper-slide .section-info .name {
  position: absolute;
  top: 100px;
}

.player .swiper-slide .time-signature {
  font-size: 20px;
  xfont-weight: bold;
  right: 0;
  top: 5px;
  height: 80px;
  padding: 0 14px;
}
.player .swiper-slide .beat .section-info .time-signature {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 34px;
  height: 50px;
  padding: 0;
  text-align: center;
}

.player .swiper-slide .section-info .bpm {
  position: absolute;
  font-size: 16px;
  top: -50px;
  z-index: 200;
  text-align: left;
  left: 0;
  transform: translate3d(52px, 0, 0);
  white-space: nowrap;
}
.player .swiper-slide .beat .section-info .bpm {
  transform: translate3d(12px, 0, 0);
}

.section-info .note-symbol {
  font-size: 20px;
  line-height: 16px;
  width: 7px;
  display: inline-block;
}


.player .swiper-slide .section-info .bass-board p {
  padding: 0;
  margin: 0;
  line-height: 36px;
  height: 36px;
  text-align: center;
  xfont-weight: bold;
  font-size: 20px;
}

.section-label {
  position: absolute;
  top: -50px;
  left: 64px;
  color: #555;
  font-size: 15px;
  width: 200%;
}

.playlist-editor {
  padding-bottom: 10px;
  padding-top: 35px;
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
}
.playlist-editor .info-note {
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 13px;
  color: #777;
}

.playlist-editor.ng-enter, .playlist-editor.ng-leave {
  transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.45s;
  transition-property: opacity,transform;
}

.playlist-editor.ng-enter,
.playlist-editor.ng-leave.ng-leave-active {
  opacity: 0.01;
  transform: translate3d(50%, 0, 0);
}

.playlist-editor.ng-leave,
.playlist-editor.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


.playlist-button {
  text-align: left;
  text-transform: none;
}

.md-button.edit-playlist2 {
  position: absolute;
  right: 26px;
  top: 1px;
}
