.playlist .playlist-item {
  border-bottom: 1px solid #eee;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  outline: none;
}

.playlist .playlist-item.selected {
  background-color: #ffffe0;
  xborder-color: #2196F3;
}

.playlist .playlist-item input {
  width: 40px;
  border: none;
  margin-right: 8px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  text-align: right;
  outline: none;
}

.playlist .playlist-item .repeats {
  position: relative;
}
.playlist .playlist-item .repeats span {
  position: absolute;
  right: 16px;
  top: 0;
}

.playlist .playlist-item .repeats:hover span,
.playlist .playlist-item .repeats input:focus ~ span {
  display: none;
}
.playlist .playlist-item .repeats:not(:hover).one-repeat,
.playlist .playlist-item .repeats:not(:hover).one-repeat input {
  color: transparent;
}
.playlist .playlist-item:hover input {
  border-bottom: 1px solid #2196F3;
}


.playlist-panel {
  height: 100%;
  width: 320px;
  padding: 0;
  margin: 0 16px;
  position: relative;
}

.playlist-panel .toolbar {
  background-color: #455A64;
  height: 44px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  padding: 0 4px;
  text-align: center;
}

.playlist {
  overflow: auto;
  padding: 8px 5px;
}

.playlist-container {
  padding: 5px 20px 20px 20px;
}

.viewer-container {
  padding-right: 12px;
}

.playlist-swiper {
  box-sizing: border-box;
}
.playlist-swiper.swiper-container,
.viewer-container .swiper-wrapper {
  height: 100%;
  /*width: calc(100% - 8px);*/
  width: 100%;
  padding-left: 7px;
  padding-right: 10px;
  padding-top: 10px;
}

.playlist-swiper .bar-beat {
  height: 44px;
  margin-bottom: 10px;
}
/*.playlist-swiper .bar-beat {
  min-height: 44px;
  max-height: 44px;
  height: 8vh;
  margin-bottom: 10px;
}*/

.bass-sheet .swiper-slide .chord-label {
  position: absolute;
  bottom: 10px;
  color: #777;
  text-align: center;
}

.bass-sheet .chord-label.bar {
  left: 15px!important;
  width: calc(25% - 30px)!important;
}

.bass-sheet .swiper-slide .header {
  height: 56px;
  position: relative;
}


.swiper-slide .header .bar-label {
  top: 27px;
}

.bass-sheet .swiper-slide .section-info .bar-beat::before,
.bass-sheet .swiper-slide .section-info .instrument-slide::before {
  display: none;
}

.bass-sheet .beat.first .bar-beat > div:first-child::before,
.bass-sheet .swiper-slide > div:last-child .bar-beat::after {
  position: absolute;
  top: 0;
  right: -3px;
  content: "";
  width: 3px;
  height: 100%;
  background-color: #aaa;
  z-index: 200;
}

.bass-sheet .beat.first .bass-board:before {
  width: 3px;
  opacity: 1;
  background-color: #bbb;
}
.bass-sheet .beat.last .bass-board:after {
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  left: auto;
  right: -3px;
  content: "";
  width: 3px;
  background-color: #bbb;
}

.bass-sheet .subbeat-label.align-right {
  padding-left: 24px;
}

.bass-sheet .beat.with-header {
  padding-left: 36px;
  position: relative;
}
.bass-sheet .section-header {
  position: absolute;
  bottom: 0;
  top: 56px;
  left: 0px;
  width: 36px;
  text-align: center;
}
.bass-sheet .section-header .strings-labels {
  position: absolute;
  bottom: 0;
  top: auto;
  font-weight: 400;
  width: 36px;
}

.bass-sheet .swiper-slide .time-signature {
  font-size: 20px;
  top: 0;
}

.bass-sheet .swiper-slide .beat .section-label .bpm {
  font-size: 15px;
  color: #aaa;
  line-height: 15px;
  position: absolute;
  left: -30px;
  top: -8px;
}
.bass-sheet .swiper-slide .beat.with-header .section-label .bpm {
  left: -48px;
  top: -1px;
}
.bass-sheet .swiper-slide .beat:not(.with-header) .section-label.with-tempo {
  left: 22px;
}

.section-label i {
  font-size: 17px;
  width: 13px;
  line-height: 15px;
  display: inline-block;
}


.section-label {
  position: absolute;
  top: 0;
  left: 14px;
  width: 200%;
}
.section-label .section-name {
  font-size: 15px;
  color: #555;
  font-weight: bold;
}

.playlist-editor {
  padding-top: 35px;
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
}
.playlist-editor > div {
  height: 100%;
}
.playlist-editor .info-note {
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
}

.playlist-editor.ng-enter, .playlist-editor.ng-leave {
  transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.45s;
  transition-property: opacity,transform;
}

.playlist-editor.ng-enter,
.playlist-editor.ng-leave.ng-leave-active {
  opacity: 0.01;
  transform: translate3d(50%, 0, 0);
}

.playlist-editor.ng-leave,
.playlist-editor.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


.playlist-button {
  text-align: left;
  text-transform: none;
  margin: 4px 16px;
}

.md-button.edit-playlist {
  position: absolute;
  right: 26px;
  top: 1px;
}
.playback-active .md-button.edit-playlist {
  display: none;
}

.playlist-swiper .bottom-note {
  position: absolute;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  color: #777;
  font-size: 15px;
}

.playlist-swiper.swiper-container-horizontal {
  height: auto;
}
.playlist-swiper.swiper-container-horizontal.strings-4 {
  min-height: 304px;
}

.display-note-length .playlist-swiper {
  padding-bottom: 24px;
}