@media (max-height: 800px) {
  html {
    font-size: 0.85em;
  }
  md-progress-circular {
    transform: scale(0.85, 0.85);
    transform-origin: 0 0;
  }
  .rzslider .rz-pointer {
    transform: scale(0.85, 0.85);
  }
}
@media (max-height: 600px) {
  html {
    font-size: 0.7em;
  }
  md-progress-circular {
    transform: scale(0.7, 0.7);
    transform-origin: 0 0;
  }


  footer, /* filter in template*/
  .bottom.toolbar {
    display: none!important;
  }
  .editor, .viewer-container {
    bottom: 0;
  }
}

@media (max-height: 500px) {
  html {
    xfont-size: 0.6em;
  }
}

@media (max-width: 900px) {
  .control-panel md-input-container.track {
    min-width: 1em;
    .md-select-value {
      min-width: 2em;
      .md-text > span {
        display: none;
      }
    }
  }
}
