.audio-graph-container svg {
  position: absolute;
  left: 0;
  top: 0;
}

html,
body {
  min-height: 400px;
  max-width: 1440px!important;
  max-height: 820px!important;
}

@page {
  size: 1440px 820px;
  margin: 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .bass-grid {
    display: none;
  }
  .audio-graph-container {
    height: 86px;
    background-color: rgb(240, 240, 240);
  }
  .audio-graph-container canvas {
    display: none;
  }
  .audio-graph-container svg {
    position: static;
  }
/*  .playback-fields {
    display: none;
  }*/
/*  .control-panel > div.flex {
    min-width: 250px;
  }*/

  .md-open-menu-container:not(.md-active) {
    z-index: 50;
  }
  md-checkbox,
  .rzslider {
    -webkit-print-color-adjust: exact;
  }
  .control-panel,
  .md-button.md-fab,
  .md-whiteframe-z2,
  .md-whiteframe-6dp,
  .md-whiteframe-16dp,
  .playback-fields .player-bg,
  .sound-container {
    box-shadow: none;
  }
  .md-button.md-fab:before,
  .md-whiteframe-z2:before,
  .md-whiteframe-6dp:before,
  .md-whiteframe-16dp:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: opacity(1);
  }
  .md-button.md-fab {
    overflow: visible;
  }
  .md-button.md-fab:before {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    xopacity: 0.55;
    z-index: -1;
    xfilter: drop-shadow(0px 1px 2px #444);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-filter: opacity(1);
  }
  .md-whiteframe-z2:before {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .md-whiteframe-6dp:before {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }
  .md-whiteframe-16dp:before {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
  .sound-container .resize-container {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
    -webkit-filter: opacity(1);
  }
  .piano .sound-container .resize-container {
    box-shadow: none;
    -webkit-filter: none;
  }

  body > div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    -webkit-filter: opacity(1);
  }

  .playback-fields .player-bg {
    display: none;
  }
  /** Fix for slide gradients **/
  .label-wrapper .slide {
    background: none;
  }
  .label-wrapper .slide:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: opacity(1);
  }
  .slide.octave-0:before {
    background: linear-gradient(to right, transparent, transparent, #f44336, #f44336);
  }
  .slide.octave-1:before {
    background: linear-gradient(to right, transparent, transparent, #ff5722, #ff5722);
  }
  .slide.octave-2:before {
    background: linear-gradient(to right, transparent, transparent, #ff9800, #ff9800);
  }
  .slide.octave-3:before {
    background: linear-gradient(to right, transparent, transparent, #ffc107, #ffc107);
  }
  .slide.octave-4:before {
    background: linear-gradient(to right, transparent, transparent, #ffeb3b, #ffeb3b);
  }
  .no-colors .slide:before {
    display: none;
  }
  .label-wrapper .slide {
    height: 30px!important;
    margin: 1px;
  }
}
