.control-panel {
  background-color: #455A64;
  position: absolute;
  padding: 0 5px;
  margin: 0;
  height: 3.125em;
  width: 100%;
  color: #fff;
  z-index: 50;

  md-icon {
    fill: #fff;
  }
  .md-button {
    font-size: 1em;
    min-width: 32px;
    min-height: 2em;
    line-height: 2.25em;
    height: 2em;
    md-icon {
      width: 1.5em;
      height: 1.5em;
    }

    &.toolbar-separated-button {
      min-width: 42px;
      font-size: 1em;
      min-height: 2em;
      width: 42px;
      /*line-height: 2.25em;*/
      padding: 0;
      border-radius: 0;
      margin: 0.375em 0;
      text-align: center;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        top: 6px;
        bottom: 3px;
        width: 1px;
        content: "";
        background-color: #fff;
        opacity: 0.25;
      }
    }
    &.secondary {
      margin: 0.375em 0;
      min-width: 42px;
      /*line-height: 2.25em;*/
    }
    &.play-stop-button {
      margin: 2px;
      padding: 0;
      line-height: 2.85em;
      min-width: 2.85em;
      overflow: visible;
      z-index: 1;

      md-icon {
        margin-bottom: 4px;
        width: 2em;
        height: 2em;
      }

      md-progress-circular {
        display: none;
        position: absolute;
        top: 0.438em;
        left: 0.375em;
        &:after {
          content: "Loading";
          position: absolute;
          font-size: 80%;
          font-weight: 500;
          text-transform: none;
          background-color: #3b4d55;
          left: 32px;
          top: 0;
          bottom: 0;
          padding-left: 0.25em;
          line-height: 31px;
        }
        svg path {
          stroke: #3b4d55;
          stroke-width: 5px!important;
        }
      }
      &.loading {
        opacity: 1!important;
        pointer-events: none;
        md-progress-circular {
          display: block;
        }
      }
    }
  }
  md-input-container {
    margin-top: 1em;
    margin-bottom: 0;
    min-height: 2em;
    height: 2em;
    padding: 0;

    &:not(.md-input-invalid).md-input-has-value label {
      color: #bbb;
    }
    label {
      &.md-no-float {
        font-size: 0.625em;
        padding: 0;
      }
    }
    input {
      height: 1.813em;
      xheight: 1.84em;
      xheight: 29px;
      font-size: 1em;
      line-height: 1.625em;
      padding-top: 0;
    }

    &.track {
      min-width: 160px;
      margin-right: 10px;
      > label {
        left: 0;
      }
      md-icon {
        margin-bottom: 3px;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  md-select .md-select-value {
    min-height: 1.625em;
    height: 1.625em;
    line-height: 1.625em;
    padding-top: 0.063em;
  }

  .mode-switch {
    border: 1px solid #777;
    position: relative;
    margin: 0.313em;
    border-radius: 0.313em;

    label {
      margin: 0;
      position: absolute;
      top: -5px;
      left: 20px;
      right: 20px;
      line-height: 0.563em;
      height: 0.563em;
      font-size: 0.625em;
      text-align: center;
      color: #bbb;
      background-color: #455A64;
      padding: 2px 5px 5px 5px;
    }

    .md-button {
      margin-top: 1px;
    }
  }
  form .md-button {
    line-height: 1.85em;
  }
}


.control-panel md-input-container .md-input,
.control-panel md-select .md-select-value {
  border-bottom-color: #999;
}


.control-panel ::selection {
  background: #ffb7b7;
}

.instruments-toolbar {
  margin-left: 10px;
}


.control-panel .tracks-list {
  min-width: 100px;
}

.playlist-mode .tracks-list md-option[type="drums"],
.playlist-mode .tracks-list md-option[type="piano"] {
  pointer-events: none;
  opacity: 0.5;
}
.tracks-list md-option md-icon {
  padding-bottom: 2px;
}

.control-panel md-menu {
  padding: 0;
}


.playlist-mode .track-split-item {
  display: none;
}
.track-split-item md-option {
  height: 36px;
}
.track-split-item md-option .md-text {
  color: #777;
  font-size: 14px;
  white-space: normal;
}
.track-split-item md-option md-icon {
  width: 16px;
  height: 16px;
}


.instrument-tab.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  visibility: hidden;
}


/*  Playback tools  */

.playback-fields {
  height: 3.125em;
  padding: 0 0.75em 0 1.125em;
  position: relative;
}

.playback-fields .playback-speed-field,
.playback-fields .bpm-field {
  width: 4.875em;
  margin: 1em 5px 0px 5px;
}
.playback-fields md-input-container input[type="number"] {
  text-align: left;
  border-color: rgba(220,220,220,0.25);
}
.bpm-field::after {
  content: "bpm";
  position: absolute;
  left: 34px;
  bottom: 8px;
  font-size: 12px;
  pointer-events: none;
}
.bpm-field::-webkit-validation-bubble-message { display: none; }

.playback-speed-field::after {
  content: "%";
  position: absolute;
  left: 2.5em;
  bottom: 0.5em;
  font-size: 0.9em;
  pointer-events: none;
}

.section-mode .playback-speed-field {
  display: none;
}


.control-panel md-select:not([disabled]):focus .md-select-value,
.control-panel md-select .md-select-value.md-select-placeholder,
.control-panel .md-button,
.control-panel input {
  color: #fff;
}


md-select-menu,
md-select-menu md-content,
md-menu-content.preferences {
  max-height: 360px;
}
@media (min-height: 600px) {
  md-menu-content.preferences {
    max-height: 560px;
  }
}

.md-subheader {
  background-color: transparent;
}
.md-subheader .md-subheader-inner {
  padding: 16px 16px 8px 16px;
}


.select-text-container {
  display: inline-block;
  position: relative;
  min-width: 180px;
}
.select-text-container > md-input-container:first-child {
  width: 100%;
}
.select-text-container > md-input-container:last-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: visible;
}

.select-text-container md-input-container.md-input-focused + md-input-container label {
  color: #2196F3!important;
}

.select-text-container md-input-container.md-input-focused + md-input-container input {
  border-color: transparent;
}

.select-text-container > md-input-container:last-child input {
  padding-right: 30px;
}
.select-editable .md-select-value span:not(.md-select-icon) {
  visibility: hidden;
}
.select-text-container .md-select-icon {
  z-index: 10;
}

.project-toolbar {
  margin-left: 10px;
}

.toolbar-button {
  min-width: 32px;
  margin: 6px 2px 6px 2px;
}

.playback-range-menu md-icon {
  transition: transform 0.4s cubic-bezier(0.35, 0, 0.25, 1);
}

.playlist-mode .playback-range-menu md-icon {
  transform: rotate3d(0, 0, 1, 90deg);
}

.toolbar-button[disabled],
.playback-active .disabled-on-playback,
.readonly-project .md-button[aria-label="Save Section"],
.readonly-project .md-button[aria-label="Save Playlists"],
.readonly-project md-menu-item > .md-button[aria-label="Open Project"],
.readonly-project md-menu-item > .md-button[aria-label="New Section"],
.readonly-project md-menu-item > .md-button[aria-label="Save As"],
.readonly-project md-menu-item > .md-button[aria-label="Export"],
.readonly-project md-menu-item > .md-button[aria-label="Upload"],
.readonly-project md-menu-item > .md-button[aria-label="Delete Section"] {
  opacity: 0.6!important;
  pointer-events: none;
}

.control-panel md-select[disabled] .md-select-value {
  display: none;
}

.playlist-range {
  width: 210px;
  overflow: auto;
}
.playlist-range .playback-range {
  min-height: 28px;
  height: 28px;
}

.playlist-range .rzslider {
  margin-top: 14px;
}

.playback-range label {
  color: #777;
  font-size: 13px;
  padding: 0 10px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  height: 26px;
  background-color: #fff;
  z-index: 10;
}

.playlist-range {
  overflow: hidden;
  padding-top: 22px;
}

md-menu-content.playback-range {
  max-height: 100%;
}
.section-range {
  padding: 0 10px;
}

/**
  Playback range slider
*/

.playlist-range .rz-tick-value {
  font-size: 14px;
}
.section-range .rz-tick-value {
  font-size: 14px;
}

.section-range .rzslider {
  width: 280px;
  margin-top: 60px;
}

.md-open-menu-container .preferences.section-range {
  max-width: 420px;
}
.section-range .rzslider.long {
  width: 400px;
}

.section-range .rzslider ul > li:last-child:before {
  content: "|"!important;
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: -32px;
}

.section-range .rzslider ul > li:last-child > span {
  display: none;
}


.playback-range .rzslider .rz-pointer {
  transition: left 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

.playback-range .rzslider .rz-bar-wrapper {
  transition: 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: left, width;
}

.playback-range .rzslider.rz-vertical .rz-pointer {
  transition: bottom 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

.playback-range .rzslider.rz-vertical .rz-bar-wrapper {
  transition: 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: bottom, height;
}


/** Playback progress slider **/
.playback-slider.rzslider {
  position: absolute;
  left: 22px;
  right: 22px;
  width: auto;
  bottom: -0.438em;
  height: 1em;
  margin: 0.25em 0;
  z-index: 2;

  .rz-bar-wrapper {
    padding-top: 0;
    margin-top: 0;
    height: 2em;

    .rz-bar {
      margin: 0;
      width: 100%;
      top: 0.875em;
    }
  }
  .rz-ticks {
    .rz-tick {
      height: 0.438em;
      width: 2px;
      border: solid transparent;
      border-width: 4px 2px;
      top: 0.625em;
      margin-left: -2px;
      opacity: 0.01;
      background-clip: padding-box;
      transition: opacity 0.35s cubic-bezier(0.35, 0, 0.25, 1);
    }
    .rz-tick-legend {
      color: #000;
      font-size: 12px;
      top: 21px;
      opacity: 0.01;
      transition: opacity 0.25s cubic-bezier(0.35, 0, 0.25, 1);
      pointer-events: none;
      white-space: nowrap;
      background-color: #fff;
      border-radius: 2px;
    }
  }
  .rz-pointer.rz-pointer-min {
    display: none;
  }
}

.playback-slider.rzslider:hover .rz-ticks .rz-tick {
  opacity: 0.5;
}
.playback-slider.rzslider .rz-ticks .rz-tick:hover .rz-tick-legend {
  opacity: 1;
}
