/*
.control-panel::after {
  position: absolute;
  content: "";
  bottom: -10px;
  height: 1px;
  left: 5px;
  right: 5px;
  background-color: #ddd;
}
*/
.control-panel {
  margin: 5px 10px 25px 10px;
  min-height: 44px;
  height: 44px;
  position: relative;
}
.control-panel ::selection {
  background: #ffb7b7;
}

.instruments-toolbar {
  margin-left: 10px;
}

.control-panel md-input-container {
  margin-top: 16px;
  margin-bottom: 0;
  min-height: 29px;
  height: 29px;
}
.control-panel md-input-container label:not(.md-no-float) {
  padding: 0 0 2px 0;
  margin-top: 0px;
  font-size: 15px;
}
.control-panel md-input-container label.md-no-float {
  padding: 0;
}

.control-panel md-input-container input {
  height: 30px;
  padding-top: 0;
}
.control-panel .md-button {
  color: #444;
}

.control-panel .tracks-list {
  min-width: 100px;
}

.playlist-mode .tracks-list md-option[type="drums"] {
  pointer-events: none;
  opacity: 0.5;
}
.tracks-list md-option md-icon {
  padding-bottom: 2px;
}

.control-panel md-menu {
  padding: 0;
  margin: 2px 0;
}

.control-panel md-input-container.track {
  min-width: 160px;
  xmargin-left: 5px;
  margin-right: 10px;
}

.control-panel md-input-container.track > label {
  left: 0;
}

.control-panel md-input-container.track md-icon {
  margin-bottom: 3px;
}

.playlist-mode .track-split-item {
  display: none;
}
.track-split-item md-option {
  height: 36px;
}
.track-split-item md-option .md-text {
  color: #777;
  font-size: 14px;
  white-space: normal;
}
.track-split-item md-option md-icon {
  width: 16px;
  height: 16px;
}


.instrument-tab.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  visibility: hidden;
}


/*  Playback tools  */

.playback-fields {
  height: 53px;
  padding: 0 12px 0 18px;
  position: relative;
}

.playback-fields .player-bg {
  position: absolute;
  content: "";
  background-color: #3b4d55;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 1px;
  transform: perspective(120px) rotateX(-16deg) ;
  left: 0;
  right: 0;
  top: 0;
  bottom: -5px;
  border-radius: 8px;
  box-shadow:
    2px 3px 5px 0px rgba(0, 0, 0, 0.21),
    -5px 5px 5px 0px rgba(0, 0, 0, 0.06);
}


.play-stop-button {
  margin: 2px;
  padding: 0 10px 0 0;
  line-height: 44px;
}
.play-stop-button md-icon {
  margin-bottom: 4px;
  padding: 0px 0;
  width: 32px;
  height: 32px;
}

.playback-fields .playback-speed-field,
.playback-fields .bpm-field {
  width: 78px;
  margin: 16px 5px 0px 5px;
}
.playback-fields md-input-container input[type="number"] {
  text-align: left;
}
.bpm-field::after {
  content: "bpm";
  position: absolute;
  left: 34px;
  bottom: 8px;
  font-size: 12px;
  pointer-events: none;
}
.bpm-field::-webkit-validation-bubble-message { display: none; }

.playback-speed-field::after {
  content: "%";
  position: absolute;
  left: 36px;
  bottom: 8px;
  font-size: 14px;
}

.section-mode .playback-speed-field {
  display: none;
}

.mode-switch {
  border: 1px solid #777;
  position: relative;
  margin: 5px;
  border-radius: 5px;
}
.mode-switch .md-button {
  margin-top: 2px;
}

.control-panel .mode-switch label {
  margin: 0;
  position: absolute;
  top: -5px;
  left: 20px;
  right: 20px;
  line-height: 9px;
  height: 9px;
  font-size: 9px;
  text-align: center;
  color: #bbb;
  background-color: #455A64;
  padding: 2px 5px 5px 5px;
}

.control-panel .md-button.icon-hover:not([disabled]):not(.active) {
  opacity: 0.85;
}

.control-panel .md-button.icon-hover:not(.active):hover {
  opacity: 1;
}

.control-panel {
  background-color: #455A64;
  padding: 0 5px;
  margin: 0;
  height: 52px;
  color: #fff;
}
.control-panel md-select:not([disabled]):focus .md-select-value,
.control-panel md-select .md-select-value.md-select-placeholder,
.control-panel .md-button,
.control-panel input {
  color: #fff;
}

.toolbar-separated-button.md-button {
  min-width: 42px;
  min-height: 32px;
  width: 42px;
  line-height: 32px;
  padding: 0;
  border-radius: 0;
  margin: 8px 0;
  text-align: center;
  xborder-left: 1px solid #999;
  position: relative;
}
.toolbar-separated-button::before {
  position: absolute;
  left: 0;
  top: 6px;
  bottom: 3px;
  width: 1px;
  content: "";
  background-color: #fff;
  opacity: 0.25;
}

.control-panel md-input-container label {
  color: #bbb;
}
.control-panel md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: #bbb;
}
.control-panel md-input-container .md-input,
.control-panel md-select .md-select-value {
  border-bottom-color: #999;
}
.control-panel md-select .md-select-value {
  height: 26px;
  line-height: 26px;
}

.control-panel md-icon {
  fill: #fff;
}


.control-panel md-input-container.md-input-invalid.md-input-focused label {
  color: #2196F3;
}

md-select-menu,
md-select-menu md-content {
  max-height: 360px;
}


.dialog-header {
  text-align: center;
  height: 36px;
  line-height: 36px;
  background-color: #455A64;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.md-subheader {
  background-color: transparent;
}
.md-subheader .md-subheader-inner {
  padding: 16px 16px 8px 16px;
}


.control-panel md-input-container {
  height: 32px;
  padding: 0;
}

.select-text-container {
  display: inline-block;
  position: relative;
  min-width: 180px;
}
.select-text-container > md-input-container:first-child {
  width: 100%;
}
.select-text-container > md-input-container:last-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: visible;
}

.select-text-container md-input-container.md-input-focused + md-input-container label {
  color: #2196F3!important;
}

.select-text-container md-input-container.md-input-focused + md-input-container input {
  border-color: transparent;
}

.select-text-container > md-input-container:last-child input {
  padding-right: 30px;
}
.select-editable .md-select-value span:not(.md-select-icon) {
  visibility: hidden;
}
.select-text-container .md-select-icon {
  z-index: 10;
}

.project-toolbar {
  margin-left: 10px;
}

.toolbar-button {
  min-width: 32px;
  margin: 6px 2px 5px 2px;
}

.playback-range-menu md-icon {
  transition: transform 0.4s cubic-bezier(0.35, 0, 0.25, 1);
}

.playlist-mode .playback-range-menu md-icon {
  transform: rotate3d(0, 0, 1, 90deg);
}

.toolbar-button[disabled],
.playback-active .mode-switch,
.playback-active .project-toolbar,
.readonly-project .md-button[aria-label="Save Section"],
.readonly-project .md-button[aria-label="Save Playlists"],
.readonly-project md-menu-item > .md-button[aria-label="Open Project"],
.readonly-project md-menu-item > .md-button[aria-label="New Section"],
.readonly-project md-menu-item > .md-button[aria-label="Save As"],
.readonly-project md-menu-item > .md-button[aria-label="Export"],
.readonly-project md-menu-item > .md-button[aria-label="Delete Section"] {
  opacity: 0.6!important;
  pointer-events: none;
}

.control-panel md-select[disabled] .md-select-value {
  display: none;
}

.playlist-range {
  width: 210px;
  overflow: auto;
}
.playlist-range .playback-range {
  min-height: 28px;
  height: 28px;
}

.playlist-range .rzslider {
  margin-top: 14px;
}

.playback-range label {
  color: #777;
  font-size: 13px;
  padding: 0 10px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  height: 26px;
  background-color: #fff;
  z-index: 10;
}

.playlist-range {
  overflow: hidden;
  padding-top: 22px;
}

md-menu-content.playback-range {
  max-height: 100%;
}
.section-range {
  padding: 0 10px;
}

/**
  Playback range slider
*/

.playlist-range .rz-tick-value {
  font-size: 14px;
}
.section-range .rz-tick-value {
  font-size: 14px;
}

.section-range .rzslider {
  width: 280px;
  margin-top: 60px;
}

.md-open-menu-container .preferences.section-range {
  max-width: 420px;
}
.section-range .rzslider.long {
  width: 400px;
}

.section-range .rzslider ul > li:last-child:before {
  content: "|"!important;
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: -32px;
}

.section-range .rzslider ul > li:last-child > span {
  display: none;
}


.playback-range .rzslider .rz-pointer {
  transition: left 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

.playback-range .rzslider .rz-bar-wrapper {
  transition: 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: left, width;
}

.playback-range .rzslider.rz-vertical .rz-pointer {
  transition: bottom 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

.playback-range .rzslider.rz-vertical .rz-bar-wrapper {
  transition: 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: bottom, height;
}


.play-stop-button md-progress-circular {
  position: absolute;
  top: 7px;
  left: 4px;
}
.play-stop-button md-progress-circular:after {
  content: "Loading";
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  background-color: #3b4d55;
  left: 32px;
  top: 0;
  padding-left: 3px;
  line-height: 35px;
}
.play-stop-button md-progress-circular svg path {
  stroke: #3b4d55;
  stroke-width: 5px!important;
}
