.main-page {
  padding: 0 70px;
  overflow: hidden;
  height: 100%;
}

.time-marker {
  width: 6px;
  height: 50px;
  opacity: 0.3;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.audio-graph-container {
  border: 1px solid #ccc;
  background-color: #eee;
}

.audio-graph {
  height: 100px;
  width: 100%;
}

md-select {
  margin: 10px 0 4px 0;
}
md-select-value {
  height: 30px;
}

.control-panel {
  margin: 10px 0 50px 0;
}

md-dialog {
  width: 100%;
  height: 100%;
}

md-input-container.input-inline-label {
  margin: 6px 0;
  line-height: 46px;

}
md-input-container.input-inline-label label {
  bottom: auto;
  left: 0;
  position: relative;
  font-size: 12px;
  padding-right: 12px;
  opacity: 1;
  transform: none;
}
.play-stop-button {
  border: 1px solid #ccc;
  margin: 0 10px;
}

.play-stop-button md-icon {
  margin-right: 6px;
  padding: 6px 0;
  width: 32px;
  height: 32px;
}
.bpm-field {
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 4px 0 4px;
}
.control-panel md-input-container {
  margin-bottom: 0;
  height: 33px;
}

.select-editable .md-select-value {
  border: none;
  min-width: 16px;
  width: 16px;
  padding: 0;
}

.select-editable .md-select-icon {
  margin: 0;
}
.toolbar-button {
  min-width: 32px;
  margin: 12px 2px 5px 2px;
}

.select-editable:not([disabled]):focus .md-select-value,
.select-editable .md-select-value {
  border: none;
  min-width: 16px;
  width: 16px;
  padding: 0;
}
.select-editable .md-select-value span:not(.md-select-icon) {
  display: none;
}

.present-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 4px 0 4px;
}

md-backdrop.md-select-backdrop {
  z-index: 100;
}