html {
  overflow-y: hidden!important;
  font-size: 1em;
  xfont-size: 0.75em;
}
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body[zoom="85"] > div[ng-include] {
  transform: scale(0.85, 0.85) translate(-8.825%, -8.825%);
  width: 117.65%;
  height: 117.65%;
}
body[zoom="85"] .md-select-menu-container,
body[zoom="85"] .md-open-menu-container,
body[zoom="85"] .md-panel {
  transform-origin: 0 0;
  transform: scale(0.85, 0.85);
}
body[zoom="85"] .drag-sound {
  zoom: 0.85;
}
body[zoom="85"] .resize-container {
  zoom: 117.65%;
}

body[zoom="90"] > div[ng-include] {
  transform: scale(0.9, 0.9) translate(-5.555%, -5.555%);
  width: 111.11%;
  height: 111.11%;
}
body[zoom="90"] .md-select-menu-container,
body[zoom="90"] .md-open-menu-container,
body[zoom="90"] .md-panel {
  transform-origin: 0 0;
  transform: scale(0.9, 0.9);
}
body[zoom="90"] .drag-sound {
  zoom: 0.9;
}
body[zoom="90"] .resize-container {
  zoom: 111.11%;
}

body[zoom="95"] > div[ng-include] {
  transform: scale(0.95, 0.95) translate(-2.63%, -2.63%);
  width: 105.26%;
  height: 105.26%;
}
body[zoom="95"] .md-select-menu-container,
body[zoom="95"] .md-open-menu-container,
body[zoom="95"] .md-panel {
  transform-origin: 0 0;
  transform: scale(0.95, 0.95);
}
body[zoom="95"] .drag-sound {
  zoom: 0.95;
}
body[zoom="95"] .resize-container {
  zoom: 105.26%;
}

.md-panel._md-panel-backdrop {
  transform: none!important;
}

/*body > div {
  overflow: hidden;
}*/
.main-page {
  padding: 0;
  padding-bottom: 38px;
  overflow: hidden;
  height: 100%;
}

.editor, .viewer-container {
  position: absolute;
  top: 3.125em;
  bottom: 40px;
  left: 0;
  width: 100%;
}

md-input-container input[type="number"] {
  text-align: right;
}

/*.time-marker {
  width: 3px;
  height: 370px;
  opacity: 0.5;
  background-color: gray;
  position: fixed;
  top: 100px;
  z-index: 200;
}*/

.md-label {
  white-space: nowrap;
}
md-icon {
  min-width: 16px;
  min-height: 16px;
}

.md-button {
  min-height: 2.25em;
  line-height: 2.25em;
  font-size: 1em;
}
.md-button span {
  font-size: 0.875em;
}
.md-button md-icon {
  color: #444;
  width: 1.5em;
  height: 1.5em;
}

.md-button.icon-hover,
.md-button.icon-hover.md-focused,
.md-button.icon-hover:hover,
.md-button.no-hover.md-focused,
.md-button.no-hover:hover {
  background-color: transparent;
}

.md-button.icon-hover:not([disabled]):not(.active) {
  opacity: 0.75;
}
.md-button.icon-hover:hover:not([disabled]) {
  opacity: 1;
}

.md-button.no-hover.md-focused,
.md-button.no-hover:hover {
  background-color: transparent;
}

md-select {
  margin: 10px 0 4px 0;
}
md-select-value {
  height: 30px;
}

md-input-container.input-inline-label {
  margin: 0.375em 0;
  line-height: 2.875em;
}
md-input-container.input-inline-label label {
  bottom: auto;
  left: 0;
  position: relative;
  font-size: 12px;
  padding-right: 12px;
  opacity: 1;
  transform: none;
}


md-backdrop.md-select-backdrop {
  z-index: 100;
}
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 101;
}



input[type=number]::-webkit-inner-spin-button {
  margin-left: 6px;
  left: 10px;
}

.md-select-menu-container.md-active {
  box-shadow:
    0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

md-menu-item {
  min-height: 3em;
  height: 3em;
}
md-menu-item md-icon {
  position: absolute;
  padding: 11px 4px;
  width: 36px;
  z-index: 1;
}
md-menu-item.md-indent .md-button {
  padding-left: 44px;
}

md-menu-item > .md-button {
  font-size: 90%;
}

md-select-menu md-checkbox {
  padding: 15px;
  margin: 0;
}
md-select-menu md-checkbox .md-container {
  left: 15px;
}

.md-menu .expand-arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  padding: 14px 6px;
  font-size: 14px;
  color: #777;
  transform: scale3d(0.75, 1, 1);
}
.submenu-trigger-button {
  position: relative;
}

.md-menu.md-nested-menu {
  padding: 0;
}

md-menu-item.menu-group-item md-divider {
  position: absolute;
  top: 10px;
  padding: 0;
  left: 5px;
  width: calc(100% - 10px);
  z-index: 50;
}

md-menu-item.menu-group-item {
  min-height: 16px;
  height: 16px;
  color: #bbb;
  font-size: 11px;
  position: relative;
  width: 100%;
}

md-menu-item.menu-group-item .group-item-title {
  background-color: white;
  padding: 0 10px;
  width: auto;
  z-index: 50;
}

md-menu-item.right md-icon {
  position: absolute;
  right: 0;
}

.toggle-button.md-button[disabled] {
  opacity: 0.5;
}
.toggle-button.md-button.md-focused:not([disabled]),
.toggle-button.md-button:hover:not([disabled]) {
  background-color: transparent;
}


.md-select-menu-container.sections-list md-content {
  overflow-x: hidden;
}

md-option {
  height: 42px;
}
.sections-list md-option {
  min-width: 160px;
}


/**
  Slider
*/

.rzslider .rz-pointer {
  outline: none;
  top: -10px;
  width: 24px;
  height: 24px;
  background-color:  #2196F3;
}

.rzslider .rz-pointer.rz-active::after {
  background-color:  #2196F3;
}
.rzslider .rz-pointer:after {
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
}

.rzslider[disabled] {
  cursor: default;
}

.rzslider .rz-pointer[aria-valuenow="0"]:after {
  background-color: #fff!important;
}

.volume-field .rzslider .rz-pointer[aria-valuenow="0"],
.rzslider[disabled] .rz-pointer {
  cursor: default;
  background-color: #ccc;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  top: -6px;
  box-sizing: border-box;
}

.rzslider .rz-ticks .rz-tick.rz-selected {
  background-color: #2196F3;
}
.rzslider:not([disabled]) .rz-bar-wrapper .rz-bar.rz-selection {
  background-color: #2196F3;
}
.rzslider:not(.rz-vertical) .rz-bar-wrapper .rz-bar {
  height: 2px;
  top: 17px;
  margin: 0 12px;
  width: calc(100% - 24px);
}
.rzslider:not(.rz-vertical) .rz-bar-wrapper .rz-bar.rz-selection {
  margin: 0;
  width: 100%;
}

.rzslider:not(.rz-vertical) .rz-ticks .rz-tick {
  width: 2px;
  border-radius: 0;
}

.rzslider.rz-vertical .rz-pointer {
  transform: translate(0, -10px);
}

.rzslider.rz-vertical .rz-bar-wrapper .rz-bar:not(.rz-selection) {
  height: calc(100% - 22px);
  margin-bottom: 22px;
}
.rzslider.rz-vertical .rz-ticks .rz-tick {
  margin-top: 0px;
}

.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-value {
  transform: translate(0, -38%);
}

.rzslider.rz-vertical .rz-bar-wrapper .rz-bar {
  width: 2px;
}

.rzslider.rz-vertical .rz-ticks .rz-tick {
  height: 2px;
  border-radius: 0;
  left: -1px;
}
.rzslider.rz-vertical .rz-pointer {
  left: -11px !important;
}


/** To make range slider in menu initialized properly */
.md-open-menu-container {
  display: block!important;
}


/** Instrument swiper */

.workspace {
  position: relative;
  overflow-y: auto;
}


.bass-board-container {
  position: relative;
  outline: none;
}

.workspace .instrument-grid {
  margin: 0 1.125em 0 3em;
  position: relative;
  xoverflow: hidden;
}

.workspace .swiper-container {
  padding-left: 0.5em;
  padding-right: 0.25em;
}

.beat-container {
  position: relative;
}
.beat-container:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  width: 1px;
  background-color: #555;
  opacity: 0.3;
  z-index: 199;
}

.beat.first .beat-container:before {
  width: 3px;
}

.bar-end.instrument-slide .beat-container:after {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  content: "";
  width: 1px;
  border: solid #aaa;
  border-width: 0 2px;
  z-index: 200;
  background-color: white;
}

.instrument-left-panel {
  position: absolute;
  top: 0;
  left: -2.625em;
  bottom: 0;
}

.bar-slide.swiper-slide:not(.swiper-slide-visible) > div,
.instrument-slide.swiper-slide:not(.swiper-slide-visible) > div  {
  display: none;
}


md-menu-content,
md-select-menu {
  border-radius: 3px;
}

md-select-menu:not(.md-overflow) md-content {
  padding: 0;
  border-radius: 3px;
}

md-option md-icon {
  fill: #777;
}
.toggle-button.active md-icon {
  fill: #2196F3;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #2196F3!important;
}

/*  Menu - Item hover  */

md-select-menu md-option {
  background-color: transparent!important;
}
md-select-menu md-option:hover,
md-menu-item .md-button:not([disabled]):hover /*,
md-menu-content .md-button:not([disabled]):hover,
md-menu-content .md-button.md-focused:not([disabled]) */{
  background-color: #ffffe0!important;
}
md-menu-item .md-button.md-focused:not([disabled]) {
  background-color: #ffffe0;
}

md-menu-item ._md-nested-menu {
  padding: 0;
}
md-option md-icon {
  margin-right: 5px;
}
md-option[selected] md-icon {
  fill: #2196F3;
}

md-menu-content.big {
  max-height: 420px;
}

md-dialog .md-button.md-primary {
  color: #333;
}


/** Tooltips */

md-tooltip .md-content {
  font-size: 12.5px;
  font-weight: normal;
  opacity: 1!important;
  background-color: #444;
}

md-tooltip .md-content ul {
  padding-left: 18px;
}
md-tooltip.multiline-tooltip {
  transform: translate3d(0, -2px, 0);
}
md-tooltip.multiline-tooltip .md-content {
  opacity: 1;
  height: auto;
  max-width: 220px;
  white-space: normal;
  line-height: 18px;
}
md-tooltip.multiline-tooltip .md-content p {
  padding: 0;
  margin: 5px 2px;
}
md-tooltip md-divider {
  background-color: #fff;
}


.md-button.md-fab.icon-hover {
  opacity: 1!important;
}
.md-button.md-fab:not(.active) md-icon {
  fill: #aaa;
}
.md-button.md-fab:hover:not(.active) md-icon {
  fill: #909090;
}

.md-button.md-fab {
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #fff
}
.md-button.md-fab:not([disabled]):hover {
  background-color: #fff
}


.select-list md-list-item[disabled] {
  opacity: 0.65;
}
.select-list md-list-item:not([disabled]):hover {
  background-color: #ffffe0;
}
.select-list md-list-item .md-button.md-focused,
.select-list md-list-item .md-button:hover {
  background-color: transparent;
}

.select-list md-list-item.selected .md-button {
  color: #2196F3;
}

.select-list md-list-item .md-list-item-inner {
  border-bottom: 1px solid #ccc;
}

.select-list md-list-item.selected .md-list-item-inner {
  border-bottom: 1px solid #2196F3;
}
.select-list md-list-item.selected md-icon {
  fill: #2196F3;
}
.select-list.dragover {
  background-color: rgba(33, 152, 243, 0.1);
}

/** Dialog windows */

/*.md-dialog-container {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}*/

.md-dialog {
  border-radius: 4px;
  background-color: #fff;
}
.dialog-header {
  text-align: center;
  height: 2.25em;
  line-height: 2.25em;
  background-color: #263238;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.dialog-header.dragable {
  cursor: move;
}

.dialog-close {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  min-width: 3em;
}
.dialog-close md-icon {
  fill: #fff;
  width: 1.375em;
  height: 1.375em;
}

.open-project-dialog,
.new-track-dialog {
  max-width: 450px;
  max-height: 80%;
  width: 400px;
  transform: none;
}
.open-project-dialog {
  overflow: visible;
}
.open-project-dialog md-dialog-content {
  position: relative;
  min-height: 100px;
}

.open-project-dialog p.confirm {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
  text-align: center;
  position: absolute;
  background-color: #fff;
  top: 36px;
  bottom: 52px;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
}
.open-project-dialog .confirm-actions {
  z-index: 1;
}

.open-project-dialog p.confirm.ng-hide-add,
.open-project-dialog p.confirm.ng-hide-remove {
  transition: cubic-bezier(0.35, 0, 0.25, 1) 0.4s;
  transition-property: transform, opacity;
}
.open-project-dialog p.confirm.ng-hide {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
}

.new-track-dialog {
  width: 300px;
}
.new-track-dialog md-list-item md-icon {
  margin: 5px 10px 5px 0!important;
  fill: #444;
}
.new-track-dialog md-input-container {
  margin: 24px 16px 4px 16px;
  display: block;
}

.note-symbol {
  font-size: 20px;
}

md-toast.error .md-toast-content {
  background-color: #f44336;
}

md-toast.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
md-toast.player.md-top {
  top: 56px;
}


/*** Selectbox with spinner buttons ***/
.selectbox-spinner {
  padding-right: 26px;
}
.selectbox-spinner .buttons-spinner {
  position: absolute;
  right: 4px;
  bottom: 2px;
  width: 20px;
  margin: 0;
}

.selectbox-spinner md-select[disabled] + .buttons-spinner {
  pointer-events: none;
  opacity: 0.5;
}

footer {
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  right: 12px;
  /*z-index: 100;*/
}
footer span, a.button {
  color: #555;
  font-size: 14px;
  line-height: 33px;
  height: 33px;
  padding: 4px 10px 0 10px;
  cursor: default;
}
footer .md-button {
  padding: 0;
  margin: 0;
  min-width: 36px;
  line-height: 36px;
  height: 36px;
}
footer a.button {
  cursor: pointer;
}
footer a.button.active {
  color: #2196F3;
}
footer .separator {
  padding-left: 0;
  padding-right: 0;
}


.bottom-note {
  /*
  position: relative;
  margin: 6px 0 0 5px;
  padding: 0;
  width: calc(100% - 10px);*/
  overflow: visible;
  opacity: 0.75;
  font-size: 13px;
}
.bottom-note textarea {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;

  box-sizing: border-box;
  border-color: transparent;
  color: transparent;
  /*color: rgba(0,250,0,0.8);*/
  border-width: 0 0 1px 0;
  font-size: 15px;
  line-height: 19px;
}
.bottom-note span {
  display: block;
  position: relative;
  line-height: 19px;
  font-size: 15px;
  margin: 0;
  /*margin-bottom: 1px;*/
  letter-spacing: normal;
  word-spacing: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  border-bottom: 1px solid transparent;
  min-height: 27px;
  color: #777;
}
.bottom-note:not(.md-input-focused) span:hover {
  border-color: #ccc;
}

.bottom-note.md-input-focused textarea {
  color: #333;
  border-width: 0 0 1px 0;
}
.bottom-note.md-input-focused span {
  color: transparent;
  pointer-events: none;
}

.section-dialog {
  width: 500px;
  min-height: 280px;
  pointer-events: auto;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}



.section-dialog .left-panel md-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.section-dialog .left-panel .md-button {
  text-transform: none;
  text-align: left;
  min-height: 2.688em;
}
.section-dialog .select-list {
  max-height: 500px;
  overflow: auto;
}
.section-dialog .select-list md-list-item:before,
.section-dialog .select-list .md-list-item-inner:before {
  min-height: 0;
  display: none;
}
.section-dialog .select-list md-list-item {
  min-height: 43px;
}

.section-dialog .left-panel {
  background-color: #f9f9f9;
}

.section-dialog .preferences {
  padding-left: 8px;
}
.section-dialog md-input-container .octave {
  position: absolute;
  bottom: 2px;
  right: 16px;
  color: #999;
  pointer-events: none;
}
.section-dialog md-input-container.md-input-focused .octave {
  visibility: hidden;
}

.piano-range-field .note {
  margin: 16px 10px 0 2px;
}
.piano-range-field span {
  color: #777;
}

.playback-active .swiper-wrapper {
  transition-timing-function: linear !important;
}

.md-chip-input-container {
  height: 32px;
}

.upload-project-dialog .layout-row md-input-container {
  margin-top: 0;
}
/*.upload-project-dialog md-select {
  height: 52px;
}*/

.upload-project-dialog .note {
  color: #999;
  font-size: 13px;
  margin-top: 4px;
  padding-bottom: 6px;
}
md-dialog-content md-content {
  background-color: #fff;
}

md-option .md-text {
  width: 100%;
}

md-dialog.md-content-overflow md-dialog-actions {
  border-top-style: none;
}

md-dialog md-dialog-actions {
  padding: 0 24px;
  xbackground-color: #f7f7f7;
}
md-dialog md-dialog-actions .md-button {
  min-width: 100px;
}

.dialog-backdrop {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50,50,50, 0.6);
  color: #fff;
}
.dialog-backdrop md-progress-circular path {
  stroke: #fff;
}

md-dialog a[href]:not(.md-button) {
  text-decoration: none;
  color: #1976D2;
}
.error {
  color: #d32f2f;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

md-dialog small {
  opacity: 0.75;
  margin: 8px 0;
}


md-list-item .md-button.md-raised:not([disabled]).md-focused:not(:hover) {
  background-color: transparent;
}

.markdown-editor {
  outline: none;
  margin-top: 8px;
  min-height: 32px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1px;
}
.md-input-focused > .markdown-editor {
  border-bottom: 2px solid #2196F3;
  padding-bottom: 0;
}
.markdown-editor > p:first-child {
  margin: 0;
}
/*
.markdown-editor h3 {
  margin-bottom: 0px;
}
.markdown-editor h3 ~ p {
  margin-top: 8px;
}
.markdown-editor h4 {
  margin: 0;
  display: inline;
  font-size: 17px;
}
.markdown-editor h4 ~ p {
  display: inline;
}
*/
.markdown-editor  div, p {
  margin: 12px 0 8px 0;
}
.markdown-editor  h1 {
  font-size: 20px;
}
.markdown-editor  h2, h3 {
  font-size: 17px;
}

.markdown-editor ul>li+li,
.markdown-editor ol>li+li {
  margin-top: 4px;
}
.markdown-editor ul>li>p,
.markdown-editor ol>li>p {
  margin: 0;
}

md-sidenav {
  z-index: 100;
}

md-sidenav md-list-item {
  font-size: 15px;
  padding-left: 0;
}

md-sidenav md-toolbar {
  min-height: 2.25em;
  font-size: 1em;
}

md-sidenav md-list-item.strong .md-list-item-inner {
  font-weight: 700;
}

/*.switch-buttons .md-button:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.switch-buttons .md-button:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}*/


/*.md-panel._md-panel-animate-enter-add {
  transform: scale(0.85, 0.85);
}
.md-panel._md-panel-animate-enter.menu-animation {
  transform: scale(1, 1);
}*/

.md-panel.menu {
  transform-origin: 0 0;
  background-color: #fff;
  border-radius: 3px;
  padding: 8px;
}
.md-panel.menu-animation-enter,
.md-panel.menu-animation-leave {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.md-panel.menu-animation-enter-add {
  transform: scale(0.89, 0.9);
}
.md-panel.menu-animation-enter {
  transform: scale(1, 1);
}
.md-panel.menu-animation-leave {
  /*transform: scale(0.85, 0.85);*/
  opacity: 0;
}

.md-panel.menu .tracks-mixer {
  width: 260px;
  padding: 0;
}

.app-cover {
  display: none;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.85);
}
.app-cover h2 {
  font-weight: 400;
}

@media (max-width: 600px) and (orientation: portrait) {
  .app-cover {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
