.main-page {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.time-marker {
  width: 3px;
  height: 370px;
  opacity: 0.5;
  background-color: gray;
  position: fixed;
  top: 100px;
  z-index: 200;
}

.md-button md-icon {
  color: #444;
}

.md-button.icon-hover,
.md-button.icon-hover.md-focused,
.md-button.icon-hover:hover,
.md-button.no-hover.md-focused,
.md-button.no-hover:hover {
  background-color: transparent;
}

.md-button.icon-hover:not(.active) {
  opacity: 0.7;
}
.md-button.icon-hover:hover:not([disabled="disabled"]) {
  opacity: 1;
}

.md-button.no-hover.md-focused,
.md-button.no-hover:hover {
  background-color: transparent;
}

md-select {
  margin: 10px 0 4px 0;
}
md-select-value {
  height: 30px;
}

md-dialog {
  width: 100%;
  height: 100%;
}

md-input-container.input-inline-label {
  margin: 6px 0;
  line-height: 46px;
}
md-input-container.input-inline-label label {
  bottom: auto;
  left: 0;
  position: relative;
  font-size: 12px;
  padding-right: 12px;
  opacity: 1;
  transform: none;
}


md-list-item.volume-field {
  min-height: 44px;
  height: 52px;
}

md-list-item.volume-field .rzslider {
  margin-top: 30px;
}

.select-editable .md-select-value {
  border: none;
  min-width: 16px;
  width: 16px;
  padding: 0;
}

.select-editable .md-select-icon {
  margin: 0;
}
.toolbar-button {
  min-width: 32px;
  margin: 6px 2px 5px 2px;
}

.select-editable:not([disabled]):focus .md-select-value,
.select-editable .md-select-value {
  border: none;
  min-width: 16px;
  width: 16px;
  padding: 0;
}
.select-editable .md-select-value span:not(.md-select-icon) {
  display: none;
}


md-backdrop.md-select-backdrop {
  z-index: 100;
}
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 101;
}


.md-open-menu-container .preferences {
  max-width: 300px;
}

.preferences md-list {
  padding: 2px 10px;
}
.preferences md-list-item label {
  position: absolute;
  font-size: 13px;
  color: #777;
  top: 0;
  left: 0;
}

.preferences .volume-field .md-button {
  min-width: 48px;
  margin: 0 5px;
  padding: 12px 0 0 0;
  background-color: transparent;
}
.preferences .volume-field .md-button.active md-icon {
  color: #2196F3;
}

.preferences md-list-item {
  margin-top: 4px;
}

.preferences .bottom-border {
  border-bottom: 1px solid #eee;
}
.preferences md-input-container {
  margin: 16px 0 6px 0;
  padding: 0;
  width: 100%;
}

.preferences md-input-container .md-errors-spacer {
  max-height: 0;
  min-height: 0;
}
.preferences md-input-container input {
  padding-top: 8px;
  height: 34px;
  text-align: right;
}

.preferences md-select md-select-value {
  text-align: right;
}

.preferences.md-select-menu-container {
  margin-top: 50px;
  xtransform: translate3d(50px, 100px, 0);
}
/*.preferences md-option .md-text {
  text-align: right;
  width: 100%;
}*/

.preferences .checkbox-item {
  text-align: right;
}

.preferences .checkbox-item .md-label {
  position: absolute;
  right: 40px;
  bottom: 0;
  white-space: nowrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
  margin-left: 6px;
  left: 10px;
}

.md-select-menu-container.md-active {
  box-shadow:
    0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

md-menu-content .checkbox-item {
  position: relative;
}

md-menu-content .checkbox-item md-icon {
  position: absolute;
  left: 0px;
  top: 14px;
  width: 20px;
  height: 20px;
}
md-menu-content .checkbox-item .md-button {
  padding-left: 55px;
  padding-right: 20px;
}

.md-menu .md-button {
  text-transform: none;
}
.md-menu .expand-arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  padding: 14px 6px;
  font-size: 14px;
  color: #777;
  transform: scale3d(0.75, 1, 1);
}
.submenu-trigger-button {
  position: relative;
}

.md-menu.md-nested-menu {
  padding: 0;
}

md-menu-item.menu-group-item md-divider {
  position: absolute;
  top: 10px;
  padding: 0;
  left: 5px;
  width: calc(100% - 10px);
  z-index: 50;
}

md-menu-item.menu-group-item {
  min-height: 16px;
  height: 16px;
  color: #bbb;
  font-size: 11px;
  position: relative;
  width: 100%;
}

md-menu-item.menu-group-item .group-item-title {
  background-color: white;
  padding: 0 10px;
  width: auto;
  z-index: 50;
}


.toolbar-separated-button.md-button {
  min-width: 42px;
  min-height: 32px;
  width: 42px;
  line-height: 32px;
  padding: 0;
  border-radius: 0;
  margin: 8px 0;
  text-align: center;
  border-left: 1px solid #ccc;
}


.toggle-button.md-button.md-focused:not([disabled]),
.toggle-button.md-button:hover:not([disabled]) {
  background-color: transparent;
}

.toggle-button.active md-icon {
  fill: #2196F3;
}

.swiper-pagination {
  opacity: 0.45;
}

.swiper-pagination span:only-child {
  display: none;
}

.md-select-menu-container.sections-list md-content {
  overflow-x: hidden;
}

.sections-list md-option {
  font-size: 13px;
  min-width: 160px;
}


/**
  Slider
*/

.rzslider .rz-pointer {
  outline: none;
  top: -10px;
  width: 24px;
  height: 24px;
  background-color:  #2196F3;
}

.rzslider .rz-pointer.rz-active::after {
  background-color:  #2196F3;
}
.rzslider .rz-pointer:after {
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
}


.rzslider[disabled] {
  cursor: default;
}


.rzslider .rz-pointer[aria-valuenow="0"]:after {
  background-color: #fff!important;
}
.rzslider .rz-pointer[aria-valuenow="0"],
.rzslider[disabled] .rz-pointer {
  cursor: default;
  background-color: #ccc;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  top: -6px;
  left: -4px!important;
  box-sizing: border-box;
}

.rz-bar-wrapper .rz-bar {
  height: 2px;
  top: 17px;
  margin: 0 12px;
  width: calc(100% - 24px);
  background-color: rgba(0,0,0,0.26);
}
.rz-bar-wrapper .rz-bar.rz-selection {
  background-color:  #2196F3;
  margin: 0;
  width: 100%;
}

.rzslider .rz-ticks .rz-tick {
  width: 2px;
  border-radius: 0;
}
.rzslider .rz-ticks .rz-tick.rz-selected {
  background-color: #2196F3;
}

.rz-tick-value {
  font-size: 13px;
}

.volume-field .rzslider {
  margin-left: 10px;
}

/**
  Playback range slider
*/

.playback-range .rzslider {
  width: 280px;
  margin-top: 56px;
}

.md-open-menu-container .preferences.playback-range {
  max-width: 420px;
}
.playback-range .rzslider.long {
  width: 400px;
}

.playback-range .rzslider .rz-pointer {
  transition: left 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

.playback-range .rz-bar-wrapper {
  transition: 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: left, width;
}

.playback-range .rzslider ul > li:last-child:before {
  content: "|"!important;
  font-size: 13px;
  position: absolute;
  right: 13px;
  top: -32px;
}

.playback-range .rzslider ul > li:last-child > span {
  display: none;
}

md-list-item.range-slider-item {
  height: 72px;
  padding: 0;
}

/** To make range slider in menu initialized properly */
.md-open-menu-container {
  display: block!important;
}



/** Instrument swiper */

.workspace {
  xborder: 1px solid red;
  position: relative;
}


.bass-board-container {
  position: relative;
  outline: none;
}

.workspace .instrument-grid {
  margin: 0 22px 0 57px;
  position: relative;
  xoverflow: hidden;
}

.workspace .swiper-container {
  padding-left: 8px;
  padding-right: 4px;
}


.instrument-slide::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  width: 1px;
  background-color: #555;
  opacity: 0.3;
  z-index: 199;
}

.beat-1 .instrument-slide::before,
.beat-1.instrument-slide::before {
  width: 3px;
}

.bar-end.instrument-slide::after {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  content: "";
  width: 1px;
  border: solid #aaa;
  border-width: 0 2px;
  z-index: 200;
  background-color: white;
}

.instrument-slide .obsolete {
  display: none;
}

.instrument-left-panel {
  position: absolute;
  top: 0;
  left: -44px;
  bottom: 0;
}


md-menu-content,
md-select-menu {
  border-radius: 3px;
}

md-select-menu:not(.md-overflow) md-content {
  padding: 0;
  border-radius: 3px;
}

.toggle-button.active md-icon {
  fill: #2196F3;
}


md-checkbox.md-checked .md-icon {
  background-color: #2196F3;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #2196F3;
}

/*  Menu - Item hover  */

md-select-menu md-option {
  background-color: transparent!important;
}
md-select-menu md-option:hover,
md-menu-item .md-button:not([disabled]):hover /*,
md-menu-content .md-button:not([disabled]):hover,
md-menu-content .md-button.md-focused:not([disabled]) */{
  background-color: #ffffe0!important;
}

md-select-menu md-option[selected],
md-select-menu md-option[selected]:focus {
  color: #2196F3;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-select:not([disabled]):focus .md-select-value {
  border-color: #2196F3;
}

md-option md-icon {
  margin-right: 5px;
}
md-option[selected] md-icon {
  fill: #2196F3;
}