<div
  layout="column"
  class="main-page"
  ng-controller="AppController">
  <!-- <div flex></div> -->
  <div
    layout="row"
    class="control-panel">
    <div
      class="bpm-field">
      <md-input-container>
        <label>BPM</label>
        <input
          type="number"
          min="30"
          max="160"
          step="5"
          ng-model="player.bpm">
      </md-input-container>
    </div>

    <md-button
      class="play-stop-button"
      ng-click="player.playing? stop() : play()">
      <md-icon
        md-svg-icon="{{ player.playing? 'stop' : 'play' }}">
      </md-icon>
      {{ player.playing? 'Stop' : 'Play' }}
    </md-button>

    <div flex></div>

    <div
      layout="row"
      class="present-field">
      <md-input-container>
        <label>Bar</label>
        <input
          type="text"
          ng-model="bass.present.name">
      </md-input-container>
      <md-input-container>
        <md-select
          ng-show="bass.presents.length > 1"
          aria-label="Bar Present"
          class="select-editable"
          ng-model="bass.$selectedPresent"
          md-on-close="loadBassPresent(bass.$selectedPresent)">
          <md-option
            ng-repeat="present in bass.presents"
            ng-value="present">
            {{ present.name }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-button
        aria-label="Save"
        class="toolbar-button"
        ng-click="saveBar()">
        <md-icon
          md-svg-icon="pen">
        </md-icon>
      </md-button>
      <md-menu md-position-mode="target-right target">
        <md-button
          aria-label="Menu"
          class="toolbar-button"
          ng-click="$mdOpenMenu($event)">
          <md-icon
            md-svg-icon="menu-dots">
          </md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button
              ng-click="newBar()">
              New
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button
              ng-click="deleteBar(bass.$selectedPresent)">
              Delete
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
  <div
    flex="none"
    class="bar-container">
    <ng-include
      src="'views/bar.html'">
    </ng-include>
    <div id="time-marker" class="time-marker"></div>
  </div>

  <div class="audio-graph-container">
    <canvas
      id="canvas"
      class="audio-graph">
    </canvas>
  </div>

  <div
    ng-controller="NoteController"
    ng-include src="'views/tabs2.html'">
  </div>

  <div
    style="margin-bottom: 20px;"
    ng-include src="'views/fretboard.html'">
  </div>

  <div flex></div>
</div>