<div
  layout="column"
  class="main-page"
  ng-cloak>

  <!-- Main Toolbar -->
  <div
    layout="row"
    class="control-panel md-whiteframe-3dp"
    ng-controller="ProjectController">
    <div
      layout="row"
      class="instruments-toolbar"
      ng-include="'views/tracks_toolbar.html'">
    </div>
    <div flex></div>
    <div
      layout="row"
      class="playback-fields"
      ng-include="'views/playback_toolbar.html'">
    </div>
    <div flex></div>
    <div layout="row" ng-include="'views/project_toolbar.html'"></div>
  </div>

  <div
    ng-if="player.mode === 0"
    flex
    layout="column"
    class="editor"
    ng-controller="EditModeController">
    <div flex="none" style="height: 5%;max-height: 65px;">&nbsp</div>
    <div
      class="bar-container"
      ng-controller="BarController"
      ng-class="{
        'graph-enabled': player.graphEnabled
      }"
      msd-wheel="
        workspace.section.beatsPerView = swiperControl.setBeatsPerView(workspace.section.beatsPerView+$delta);
        slidesSizeChanged();
        $event.preventDefault()
      ">
      <div
        class="context-menu"
        ng-include src="'views/editor/bar_context_menu.html'">
      </div>
      <div class="bar swiper-container">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div
            ng-repeat="slide in slides track by slide.id"
            ng-attr-visible-subbeats="
              {{ slide.beat.subdivision === 3? 3 : swiperControl.swiperConfig.visibleSubbeats }}
            "
            class="swiper-slide bar-slide beat"
            ng-class="::{
              first: slide.beat.beat === 1
            }">
            <label class="bar-label">
              {{ ::slide.beat.bar }}
            </label>
            <!-- <input
              spellcheck="false"
              class="chord-label"
              ng-model="slide.beat.meta.chord"
              ng-blur="slide.beat.meta.chord = slide.beat.meta.chord.replace('#', '♯').replace('b', '♭')"> -->
            <div
              id="beat_{{ ::slide.beat.bar }}_{{ ::slide.beat.beat }}"
              class="bar-beat"
              layout="row"
              ng-right-click="contextMenu.open($event, $index)"
              ng-include src="'views/editor/bar_beat.html'">
            </div>

            <div class="audio-graph-container">
              <canvas class="audio-graph"></canvas>
            </div>

          </div>
        </div>
        <div layout="row" class="swiper-controls">
          <span flex></span>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <span flex></span>
        </div>
      </div>

      <div
        class="bar-toolbar">
        <div
          class="section-preferences"
          ng-include src="'views/editor/section_preferences.html'">
        </div>

        <md-button
          md-no-ink
          aria-label="Signal Graph"
          class="md-fab toggle-button icon-hover audio-graph-toggle"
          ng-class="{active: player.graphEnabled}"
          ng-click="player.graphEnabled = !player.graphEnabled">
          <md-icon md-svg-icon="audio-signal"></md-icon>
          <md-tooltip
            md-delay="1500"
            class="multiline-tooltip">
            <p><b translate="SIGNAL_VISUALIZATION"></b></p>
            <md-divider></md-divider>
            <p translate="SIGNAL_VISUALIZATION_DESC"></p>
          </md-tooltip>
        </md-button>
      </div>

    </div>
    <div flex
      class="workspace"
      layout="column">
      <div flex="none"
        class="instrument-grid"
        ng-class="[
          bass.settings.label,
          'strings-'+workspace.track.instrument.strings.length,
          {
            'no-colors': !bass.settings.colors
          }
        ]">

        <div
          ng-show="workspace.track.type === 'bass'"
          class="instrument-left-panel">

          <div class="strings-labels">
            <p ng-repeat="string in workspace.track.instrument.strings | orderBy:string.index:'-' track by string.index">
              {{ ::string.label }}<sub class="octave-index">{{ ::string.octave }}</sub><br>
            </p>
          </div>

        </div>

        <div class="instrument swiper-container">
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div
              ng-repeat="slide in slides track by slide.id"
              ng-attr-subdivision="{{ slide.beat.subdivision }}"
              ng-attr-visible-subbeats="{{ swiperControl.swiperConfig.visibleSubbeats }}"
              class="swiper-slide swiper-no-swiping instrument-slide beat"
              ng-class="::{
                first: slide.beat.beat === 1
              }">
              <div
                ng-switch="slide.type"
                ng-class="{obsolete: slide.obsolete}">
                <div
                  ng-switch-when="bass"
                  class="beat-container"
                  ng-controller="BassBeatController">
                    <div class="bass-board"
                      ng-include="'views/editor/bass_beat.html'">
                    </div>
                </div>
                <div
                  ng-switch-when="drums"
                  class="beat-container"
                  ng-controller="DrumsController"
                  class="drums-beat-grid">
                  <div
                    class="drums-beat-container"
                    ng-if="slide.visible"
                    ng-include="'views/editor/drums_beat.html'">
                  </div>
                </div>
                <md-input-container
                  class="bottom-note"
                  bd-textarea="slide.beat.meta.note">
                </md-input-container>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div flex style="max-height: 20px;"></div>

      <div ng-show="workspace.track.type === 'bass'" style="position: relative;">
        <div
          ng-include="'views/editor/fretboard.html'"
          class="diagram-container">
        </div>
      </div>

      <div
        ng-if="workspace.track.type === 'drums'"
        layout="column"
        class="drums-labels-container">
        <img
          ng-repeat="drum in workspace.track.instrument track by drum.name"
          ng-src="{{ ::drum.image }}"
          ng-click="playDrumSound(drum.name)">
      </div>

      <span flex></span>
    </div>
  </div>

  <div
    ng-if="player.mode === 1"
    flex
    layout="column"
    ng-controller="PlaylistViewer"
    class="viewer-container"
    ng-class="[
      bass.settings.label,
      {
        'no-colors': !bass.settings.colors
      }
    ]">

    <md-button
      md-no-ink
      aria-label="Editor"
      class="md-fab icon-hover toggle-button edit-playlist"
      ng-class="{active: ui.playlist.showEditor}"
      ng-click="ui.playlist.showEditor = !ui.playlist.showEditor">
      <md-icon md-svg-icon="pen"></md-icon>
    </md-button>

    <div
      flex
      class="playlist-swiper bass-sheet swiper-container"
      ng-class="['strings-'+workspace.track.instrument.strings.length]"
      ng-init="swiperControl.swiperConfig.visibleSubbeats = 4">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides (generated dynamically) -->
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>

    <div
      ng-if="viewer.fretboardVisible"
      flex="none"
      class="fretboard-container"
      ng-include="'views/fret_diagram.html'">
    </div>

    <div
      ng-if="ui.playlist.showEditor"
      ng-include="'views/playlist/editor.html'"
      class="playlist-editor">
    </div>
    <div
      class="bottom-toolbar"
      layout="row">

      <md-button
        md-no-ink
        aria-label="Layout"
        class="toggle-button icon-hover"
        ng-class="{ active: viewer.fretboardVisible }"
        ng-click="viewer.setFretboardVisible(!viewer.fretboardVisible)">
        <md-icon md-svg-icon="fretboard"></md-icon>
        <md-tooltip
          md-delay="1500"
          md-direction="top">
          <span translate="FRETBOARD"></span>
        </md-tooltip>
      </md-button>

      <md-divider></md-divider>

      <md-button
        ng-repeat="layout in ::viewer.layouts"
        md-no-ink
        aria-label="Layout"
        class="toggle-button icon-hover"
        ng-class="{ active: viewer.layout === layout }"
        ng-click="viewer.setLayout(layout)">
        <md-icon md-svg-icon="{{ ::layout.name }}"></md-icon>
        <md-tooltip
          md-delay="1500"
          md-direction="top">
          <span ng-attr-translate="{{ ::layout.name | uppercase }}_LAYOUT"></span>
        </md-tooltip>
      </md-button>

      <md-input-container
        layout="row"
        class="input-inline-label">
        <label
          class="md-label md-no-float"
          translate="BEATS_PER_SCREEN">
        </label>
        <input
          type="number"
          min="6"
          max="12"
          step="1"
          ng-model="viewer.beatsPerSlide"
          ng-change="viewer.setLayout(viewer.layout)">
      </md-input-container>

    </div>
  </div>

<!--   <div
    id="time-marker"
    class="time-marker"
    style="visibility:hidden;">
  </div> -->

  <footer layout="row">
    <a
      class="button"
      ng-click="setLanguage('en')"
      ng-class="{active: language === 'en'}">
      en
    </a>
    <span class="separator">|</span>
    <a
      class="button"
      ng-click="setLanguage('es')"
      ng-class="{active: language === 'es'}">
      es
    </a>
    <span flex></span>
    <span>Developed by Marcel Dancak</span>
    <md-button
      md-no-ink
      aria-label="GitHub"
      class="icon-hover"
      target="_blank"
      href="https://github.com/marcel-dancak/drums-and-bass">
      <md-icon md-svg-icon="github"></md-icon>
      <md-tooltip md-delay="1500" md-direction="left">
        <span translate="PROJECT_WEB"></span>
      </md-tooltip>
    </md-button>
    <md-button
      md-no-ink
      aria-label="Help"
      class="icon-hover"
      ng-click="showHelp()">
      <md-icon md-svg-icon="help"></md-icon>
      <md-tooltip md-delay="1500" md-direction="left">
        <span translate="HELP"></span>
      </md-tooltip>
    </md-button>
  </footer>
</div>