<div>
  <div>
    <label class="bar-label">Bar: {{ ::$index+1 }}</label>
  </div>
  <div
    layout-fill
    layout="row"
    class="bar">
    <div
      ng-repeat="subbeat in barLabels.subbeats | limitTo: section.timeSignature.top*4"
      layout="column"
      class="subbeat subbeat-{{ ::subbeat.index }}"
      flex>
        <label class="subbeat-label">
          {{ subbeat.name }}
          <!-- <sub>({{ subbeat.index }})</sub> -->
        </label>
        <div class="note-container"></div>
    </div>
    <div class="bar-end">
    </div>
  </div>
</div>