<div
  layout-fill
  layout="row"
  class="bar">
  <div></div>
  <md-menu>
    <md-button
      class="time-signature-button"
      ng-click="$mdOpenMenu($event)">
      {{ bar.timeSignature.top }}<br>{{ bar.timeSignature.bottom }}
    </md-button>
    <md-menu-content
      width="4"
      class="prefferences md-whiteframe-16dp">
      <md-list>
        <md-list-item
          layout="row"
          class="time-signature-field">
          <label>Time signature</label>
          <md-input-container>
            <input
              type="number"
              min="2"
              max="12"
              step="1"
              ng-model="bar.timeSignature.top">
          </md-input-container>
          <span style="margin: 20px 4px 0 6px;">/</span>
          <md-input-container>
            <md-select
              ng-model="bar.timeSignature.bottom"
              class="time-signature">
              <md-option
                ng-repeat="value in [2,4,8,16]"
                ng-value="{{ value }}">
                {{ value }}
              </md-option>
            </md-select>
          </md-input-container>
        </md-list-item>
      </md-list>
    </md-menu-content>
  </md-menu>
  <div
    ng-repeat="subbeat in bar.subbeats | limitTo: bar.timeSignature.top*4"
    layout="column"
    class="subbeat subbeat-{{ ::subbeat.index }}"
    flex>
      <label class="subbeat-label">
        {{ subbeat.name }}
        <!-- <sub>({{ subbeat.index }})</sub> -->
      </label>
      <div class="note-container"></div>
  </div>
  <div class="bar-end">
  </div>
</div>

<!-- <div layout="row" layout-fill>
  <div
    ng-repeat="beat in beats"
    layout="row"
    class="beat"
    flex>
      <div
        ng-repeat="subbeat in beat.subbeats"
        style="position:relative;"
        layout="column"
        class="subbeat"
        flex>
        <md-button
          class="md-raised"
          ng-class="{'md-primary': subbeat.pitch}"
          style="width: {{ subbeat.length }}%;"
          ng-click="showNoteDialog(subbeat, $event)">
          {{ subbeat.pitch }}
        </md-button>
        <div class="note-form-container">
        </div>
      </div>
  </div>
</div> -->