<md-menu>
  <md-button
    md-no-ink
    aria-label="Time signature"
    class="time-signature-button"
    ng-click="$mdOpenMenu($event)">
    <p>
      {{ section.timeSignature.top }}
    </p>
    <p>
      {{ section.timeSignature.bottom }}
    </p>
  </md-button>
  <md-menu-content
    width="4"
    class="preferences md-whiteframe-16dp">
    <md-list>
      <md-list-item
        layout="row"
        class="time-signature-field">
        <label>Time signature</label>
        <md-input-container>
          <input
            aria-label="Top"
            type="number"
            min="2"
            max="12"
            step="1"
            ng-model="section.timeSignature.top"
            ng-change="updateSwipers()">
        </md-input-container>
        <span style="margin: 20px 4px 0 6px;">/</span>
        <md-input-container>
          <md-select
            aria-label="Bottom"
            class="time-signature"
            ng-model="section.timeSignature.bottom">
            <md-option
              ng-repeat="value in [2,4,8,16]"
              ng-value="{{ value }}">
              {{ value }}
            </md-option>
          </md-select>
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <label>Bars</label>
        <md-input-container>
          <input
            aria-label="Bars"
            type="number"
            min="1"
            max="24"
            step="1"
            ng-model="section.length"
            ng-change="updateSwipers()">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <label>Beats per Screen</label>
        <md-input-container>
          <input
            aria-label="Beats per Screen"
            type="number"
            min="1"
            max="16"
            step="1"
            ng-model="section.beatsPerView"
            ng-change="updateSwipers()">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <label>Duration / Beats per Slide</label>
        <md-input-container>
          <input
            aria-label="Duration"
            type="number"
            min="0"
            max="1500"
            step="50"
            ng-model="section.animationDuration">
        </md-input-container>
        <span>&nbsp&nbsp</span>
        <md-input-container>
          <input
            aria-label="Beats per Slide"
            type="number"
            min="1"
            max="8"
            step="1"
            ng-model="section.beatsPerSlide"
            ng-change="updateSwipers()">
        </md-input-container>
      </md-list-item>

    </md-list>
  </md-menu-content>
</md-menu>