<div
  class="label-wrapper"
  ng-switch="sound.note.type">
  <!-- Regular note label -->
  <div ng-switch-when="regular|bend|harmonics" ng-switch-when-separator="|">
    <label class="note">
      {{ sound.note.name }}<sub>{{ sound.note.octave }}</sub>
    </label>
    <label class="fret">
      {{ sound.note.fret }}
    </label>
  </div>

  <!-- Ghost note label -->
  <p ng-switch-when="ghost">x</p>

  <!-- Slide note label -->
  <div ng-switch-when="slide"
    class="slide"
    ng-class="[
      'octave-'+sound.endNote.octave,
      { down: sound.endNote.fret < sound.note.fret }
    ]">

    <div ng-if="sound.style !== 'ring'">
      <label class="note">
        {{ sound.note.name }}<sub>{{ sound.note.octave }}</sub>
      </label>
      <label class="fret">
        {{ sound.note.fret }}
      </label>
    </div>
    <div
      class="slide-slash">|</div>
    <div>
      <label class="note">
        {{ sound.endNote.name }}<sub>{{ sound.endNote.octave }}</sub>
      </label>
      <label class="fret">
        {{ sound.endNote.fret }}
      </label>
    </div>
  </div>

  <div
    ng-switch-when="grace">
    <label class="note">
      <span class="grace">
        {{ sound.note.name }}
        <sub>{{ sound.note.octave }}</sub>
      </span>
      {{ sound.endNote.name }}<sub>{{ sound.endNote.octave }}</sub>
    </label>
    <label class="fret">
      <span class="grace">
        {{ sound.note.fret }}
      </span>
      {{ sound.endNote.fret }}
    </label>
  </div>

  <bd-bend ng-if="sound.note.type === 'bend'"></bd-bend>

  <div class="hammer-on-label"></div>

</div>