<div
  class="bass-board"
  ng-keyup="$event.keyCode == 46 && clearNote(selected.subbeat)">
  <div
    layout="column"
    class="string-container">
    <div
      ng-repeat="string in bass.strings"
      class="tab-string">
    </div>
  </div>

  <div
    layout="row">
    <div
      class="subbeat-tab"
      layout="column"
      ng-repeat="bassSubbeats in beat.subbeats">

<!--       <div
        class="tab-top-marker"
        ng-show="subbeat.noteLength.staccato">
        .
      </div> -->
      <div
        flex
        ng-repeat="string in bass.strings | orderBy:string.index:'-'"
        ng-init="grid={
          bar: beat.bar,
          beat: beat.beat,
          subbeat: $parent.$index+1,
          string: string.index,
          sound: bassSubbeats[string.index].sound
        }"
        ui-draggable="true"
        drag="grid"
        drop-validate="dropValidation(grid, $data)"
        ui-on-drag-enter="onDragEnter($event, grid)"
        ui-on-drag-leave="onDragLeave($event, grid)"
        ui-on-drop="onDrop($event, $data, grid, section)"

        ng-click="selected.grid=grid"
        ng-attr-octave="{{ grid.sound.note.octave }}"
        class="tab-note-container"
        ng-class="{
          active: grid.sound.note.name,
          selected: selected.grid===grid,
          ghost: grid.sound.note.name==='x'
        }"
        ng-style="{
          width: (100*section.timeSignature.bottom*grid.sound.noteLength.beatLength)+'%'
        }">
        <div
          class="resize-container"
          ng-if="grid.sound && grid.sound.note && grid.sound.note.name !== 'x'"
          resizable
          r-directions="['right']"
          on-resize="onResize(grid, info)"
          on-resize-start="onResizeStart(grid, info)"
          on-resize-end="onResizeEnd(grid, info)">
        </div>
        <md-button
          md-no-ink
          aria-label="Subbeat"
          class="tab-button"
          ng-click="openBassSoundMenu($event, grid)">
          <md-icon
            md-svg-icon="{{ grid.sound.note? 'menu-dots' : 'plus' }}">
          </md-icon>
        </md-button>
        <label>
          {{ grid.sound.note.name }}<sub>{{ grid.sound.note.octave }}</sub>
        </label>
        <label class="fret">
          &nbsp( {{ grid.sound.fret }} )
        </label>
      </div>
    </div>
  </div>

</div>