<md-menu id="bass-sound-menu" md-ofset="0 0" md-position-mode="target target">
  <md-button
    ng-init="menu.open=$mdOpenMenu"
    ng-click="$mdOpenMenu($event)"
    aria-label="Note properties">
  </md-button>
  <md-menu-content
    class="subbeat-form-container md-whiteframe-16dp">
    <div class="subbeat-form" layout="column">
      <div layout="row">
        <md-input-container flex>
          <label class="md-label">Style</label>
          <md-select
            flex
            ng-model="menu.sound.style"
            md-on-close="soundStyleChanged(menu.sound.style)">
            <md-option
              ng-repeat="style in ::bass.playingStyles"
              ng-value="::style.name">
              {{ ::style.label }}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex>
          <label class="md-label">Note</label>
          <md-select
            flex
            ng-model="menu.sound.note.type"
            md-on-close="">
            <md-option value="regular">
              Regular
            </md-option>
            <md-option value="ghost">
              Ghost
            </md-option>
            <md-option value="slide">
              Slide
            </md-option>
            <md-option value="grace">
              Grace
            </md-option>
            <md-option value="bended" ng-disabled="true">
              Bended
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex>
          <label class="md-label">Pitch</label>
          <md-select
            ng-disabled="menu.sound.note.type==='ghost'"
            md-container-class="note-select-menu"
            ng-model="menu.sound.note"
            ng-model-options="{trackBy: '$value.code'}">
            <div
              ng-repeat="note in bass.strings[menu.grid.string].notes"
              layout="row">
              <span class="fret-index">( {{ $index }} )</span>
              
              <md-option
                flex
                ng-if-end 
                ng-value="{
                  name: note.label[0],
                  octave: note.octave,
                  code: note.label[0]+note.octave,
                  type: menu.sound.note.type,
                  slide: menu.sound.note.slide,
                  fret: $index
                }">
                {{ note.label[0] }} <sub>{{ note.octave }}</sub>
              </md-option>
              <span
                ng-if-start="note.label[1]">/
              </span>
              <md-option
                flex
                ng-if-end 
                ng-value="{
                  name: note.label[1],
                  octave: note.octave,
                  code: note.label[1]+note.octave,
                  type: menu.sound.note.type,
                  slide: menu.sound.note.slide,
                  fret: $index
                }">
                {{ note.label[1] }} <sub>{{ note.octave }}</sub>
              </md-option>
            </div>
          </md-select>
        </md-input-container>
        <div
          class="buttons-spinner"
          layout="column">
          <md-button
            aria-label="Next note"
            md-prevent-menu-close
            ng-click="menu.nextNote()">
            <md-icon md-svg-icon="plus"></md-icon>
          </md-button>
          <md-button
            aria-label="Previous note"
            md-prevent-menu-close
            ng-click="menu.prevNote()">
            <md-icon md-svg-icon="minus"></md-icon>
          </md-button>
        </div>

        <md-input-container
          flex="50"
          class="slide-field"
          ng-if="menu.sound.note.type === 'slide'"
          ng-init="menu.updateSlide()">
          <label class="md-label">Slide semitones</label>
          <input
            type="number"
            min="-24"
            max="24"
            xstep="1"
            ng-model="menu.sound.note.slide"
            ng-change="menu.updateSlide()">
          <span
            ng-show="menu.sound.note.slide">
            ({{ menu.sound.note.slide < 0? 'down to' : 'up to' }}
            {{ menu.slideEndNote.label[0] }}
            <sub>{{ menu.slideEndNote.octave }}</sub>)
          </span>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="30">
          <label class="md-label">Length</label>
          <md-select
            ng-model="menu.sound.noteLength.length"
            md-on-close="updateBassGrid(menu.grid)"
            ng-disabled="menu.sound.note.type === 'ghost'">
            <md-option
              ng-repeat="value in [
                ['𝅝', 'Whole', 1],
                ['𝅗𝅥', 'Half', 0.5],
                ['𝅘𝅥', 'Quarter', 0.25],
                ['𝅘𝅥𝅮', 'Eighth', 0.125],
                ['𝅘𝅥𝅯', 'Sixteenth', 0.0625]
              ]"
              ng-value="{{ value[2] }}">
              <span class="note-symbol">{{ ::value[0] }}</span>
              <span class="note-length-title"> {{ ::value[1] }}</span>
            </md-option>
          </md-select>
        </md-input-container>
        <md-checkbox
          flex="30"
          class="md-primary"
          aria-label="Staccato"
          ng-model="menu.sound.noteLength.dotted"
          ng-disabled="menu.sound.note.type==='ghost'"
          ng-change="updateBassGrid(menu.grid)">
          Dotted
        </md-checkbox>
        <md-checkbox
          flex="40"
          class="md-primary"
          aria-label="Staccato"
          ng-model="menu.sound.noteLength.staccato"
          ng-disabled="menu.sound.note.type==='ghost'">
          Staccato
        </md-checkbox>
      </div>

      <div
        layout="row"
        class="volume-field">
        <md-input-container
          flex="none">
          <label>Volume</label>
          <input
            type="number"
            min="0.01"
            max="1"
            step="0.01"
            ng-model="menu.sound.volume">
        </md-input-container>
        <rzslider
          rz-slider-model="menu.sound.volume"
          rz-slider-options="{
            floor: 0,
            ceil: 1,
            step: 0.01,
            precision: 2,
            minLimit: 0.01,
            hideLimitLabels: true,
            hidePointerLabels: true,
            showSelectionBar: true
          }">
        </rzslider>

        <md-button
          aria-label="Play"
          class="play-button"
          md-prevent-menu-close
          ng-click="playSound(menu.sound)">
          <md-icon md-svg-icon="play"></md-icon>
        </md-button>
      </div>
    </div>
  </md-menu-content>
</md-menu>