<md-list ng-init="config=projectManager.project.tracksMap[workspace.track.id]">

  <md-list-item>
    <label translate="STRINGS"></label>
    <md-input-container>
      <md-select
        md-no-ink
        aria-label="Strings"
        md-container-class="preferences"
        ng-model="config.strings"
        ng-change="
          instrument.setLayout(config.strings);
        ">
        <md-option value="EADG">E A D G</md-option>
        <md-option value="BEADG">B E A D G</md-option>
        <!-- <md-option value="EADGC">E A D G C</md-option> -->
      </md-select>
    </md-input-container>
  </md-list-item>

</md-list>
