<md-menu>
  <md-button
    md-no-ink
    aria-label="Bass Preferences"
    class="bass-tunning-button"
    ng-click="$mdOpenMenu($event)">
    <p ng-repeat="string in project.bass.strings | orderBy:string.index:'-' track by string.index">
      {{ string.label }}<sub class="octave-index">{{ string.octave }}</sub><br>
    </p>
  </md-button>
  <md-menu-content
    width="4"
    class="preferences md-whiteframe-16dp">
    <md-list>

      <md-list-item>
        <label>Strings</label>
        <md-input-container>
          <md-select
            aria-label="Strings"
            md-container-class="preferences"
            ng-model="project.bassTuning"
            ng-change="setStringsLayout(project.bassTuning)">
            <md-option value="BEADG">B E A D G</md-option>
            <md-option value="EADG">E A D G</md-option>
          </md-select>
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <label>Labels</label>
        <md-input-container>
          <md-select
            aria-label="Labels"
            md-container-class="preferences"
            ng-model="bass.settings.label">
            <md-option value="name-and-fret">Name + Fret</md-option>
            <md-option value="name">Name</md-option>
            <md-option value="fret">Fret</md-option>
          </md-select>
        </md-input-container>
      </md-list-item>

      <md-list-item md-no-ink class="checkbox-item">
        <label>Colors</label>
        <md-input-container>
          <md-checkbox
            ng-model="bass.settings.colors">
            Enabled
          </md-checkbox>
        </md-input-container>
      </md-list-item>

    </md-list>
  </md-menu-content>
</md-menu>