<div
  class="bass-board"
  ng-keyup="$event.keyCode == 46 && clearNote(selected.subbeat)">
  <div
    layout="column"
    class="string-container">
    <div
      ng-repeat="string in bass.strings"
      class="tab-string">
    </div>
  </div>

  <div
    layout="row">
    <div
      class="subbeat-tab"
      layout="column"
      ng-repeat="bassSubbeats in beat">

      <div
        class="tab-top-marker"
        ng-show="subbeat.noteLength.staccato">
        .
      </div>
      <div
        flex
        ng-repeat="subbeat in bassSubbeats | orderBy:string.index:'-'"
        ui-draggable="true"
        drag="subbeat"
        ui-on-drop="onDrop($event, $data, subbeat, section)"
        drop-validate="dropValidation(subbeat, $data)"
        ui-on-drag-enter="onDragEnter($event, subbeat)"
        ui-on-drag-leave="onDragLeave($event, subbeat)"

        ng-click="selected.subbeat=subbeat"
        ng-attr-octave="{{ subbeat.note.octave }}"
        class="tab-note-container"
        ng-class="{
          active: subbeat.note.name,
          selected: selected.subbeat===subbeat,
          ghost: subbeat.note.name==='x'
        }"
        ng-style="{
          width: subbeat.ui.width
        }">
        <div
          class="resize-container"
          ng-if="subbeat.note.name && subbeat.note.name !== 'x'"
          resizable
          r-directions="['right']"
          on-resize="onResize(subbeat, info)"
          on-resize-start="onResizeStart(subbeat, info)"
          on-resize-end="onResizeEnd(subbeat, info)">
        </div>
        <md-button
          md-no-ink
          aria-label="Subbeat"
          class="tab-button"
          xng-mouseover="setSubbeatMenu(subbeat)"
          ng-click="openSubbeatMenu($event, subbeat)">
          <md-icon
            md-svg-icon="{{ subbeat.note.name? 'menu-dots' : 'plus' }}">
          </md-icon>
        </md-button>
        <label>
          {{ subbeat.note.name }}<sub>{{ subbeat.note.octave }}</sub>
        </label>
        <label class="fret">
          &nbsp( {{ subbeat.fret }} )
        </label>
      </div>
    </div>
  </div>

</div>