<div
  layout="column"
  class="bass-sound-form md-whiteframe-16dp"
  tabindex="0"
  md-autofocus
  ng-keyup="keyPressed($event)">
  <div layout="row">
    <md-input-container flex>
      <label>Style</label>
      <md-select
        flex
        md-no-ink
        ng-model="sound.style"
        md-on-close="soundStyleChanged(sound.style)">
        <md-option
          ng-repeat="style in ::bass.playingStyles"
          ng-value="::style.name">
          {{ ::style.label }}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label>Note</label>
      <md-select
        flex
        md-no-ink
        ng-model="sound.note.type"
        md-on-close="">
        <md-option ng-value="'regular'">
          Regular
        </md-option>
        <md-option ng-value="'ghost'">
          Ghost
        </md-option>
        <md-option ng-value="'slide'">
          Slide
        </md-option>
        <md-option ng-value="'grace'">
          Grace
        </md-option>
        <md-option ng-value="'bended'">
          Bended
        </md-option>
      </md-select>
    </md-input-container>
  </div>

  <div
    layout="row">
    <md-input-container
      flex
      class="selectbox-spinner">
      <label>Pitch</label>
      <md-select
        md-no-ink
        md-container-class="note-select-menu"
        ng-model="sound.note.code"
        md-on-close="soundPitchChanged(sound.note)"
        ng-disabled="!sound.note.type || sound.style === 'ring' || sound.note.type === 'ghost'">
        <div
          ng-repeat="note in fretsStringNotes"
          layout="row">
          <span class="fret-index">( {{ ::$index }} )</span>

          <md-option
            flex
            ng-if-end
            ng-value="note[0].code">
            {{ ::note[0].name }} <sub>{{ ::note[0].octave }}</sub>
          </md-option>
          <span
            ng-if-start="note[1]">/
          </span>
          <md-option
            flex
            ng-if-end
            ng-value="note[1].code">
            {{ ::note[1].name }} <sub>{{ ::note[1].octave }}</sub>
          </md-option>
        </div>
      </md-select>

      <div
        class="buttons-spinner"
        layout="column">
        <md-button
          aria-label="Next note"
          md-prevent-menu-close
          ng-click="nextNote(sound.note)">
          <md-icon md-svg-icon="arrow-up"></md-icon>
        </md-button>
        <md-button
          aria-label="Previous note"
          md-prevent-menu-close
          ng-click="prevNote(sound.note)">
          <md-icon md-svg-icon="arrow-down"></md-icon>
        </md-button>
      </div>
    </md-input-container>

    <md-input-container
      flex
      class="selectbox-spinner"
      ng-if="sound.note.type === 'slide'"
      ng-init="
        sound.note.slide.endNote = sound.note.slide.endNote || {
          code: sound.note.code,
          name: sound.note.name,
          octave: sound.note.octave,
          fret: sound.note.fret
        }">
      <label class="md-label">Slide To</label>
      <md-select
        md-container-class="note-select-menu"
        ng-model="sound.note.slide.endNote.code"
        md-on-close="soundPitchChanged(sound.note.slide.endNote)"
        >
        <div
          ng-repeat="note in fretsStringNotes"
          layout="row">
          <span class="fret-index">( {{ ::$index }} )</span>
          
          <md-option
            flex
            ng-if-end 
            ng-value="note[0].code">
            {{ ::note[0].name }} <sub>{{ ::note[0].octave }}</sub>
          </md-option>
          <span
            ng-if-start="note[1]">/
          </span>
          <md-option
            flex
            ng-if-end 
            ng-value="note[1].code">
            {{ ::note[1].name }} <sub>{{ ::note[1].octave }}</sub>
          </md-option>
        </div>
      </md-select>
      <div
        class="buttons-spinner"
        layout="column">
        <md-button
          aria-label="Next note"
          md-prevent-menu-close
          ng-click="nextNote(sound.note.slide.endNote)">
          <md-icon md-svg-icon="arrow-up"></md-icon>
        </md-button>
        <md-button
          aria-label="Previous note"
          md-prevent-menu-close
          ng-click="prevNote(sound.note.slide.endNote)">
          <md-icon md-svg-icon="arrow-down"></md-icon>
        </md-button>
      </div>
    </md-input-container>

    <!-- <md-input-container
      flex="50"
      class="slide-field"
      ng-if="sound.note.type === 'slide'"
      ng-init="menu.updateSlide()">
      <label class="md-label">Slide semitones</label>
      <input
        type="number"
        min="-24"
        max="24"
        xstep="1"
        ng-model="sound.note.slide"
        ng-change="menu.updateSlide()">
      <span
        ng-show="sound.note.slide">
        ({{ sound.note.slide < 0? 'down to' : 'up to' }}
        {{ menu.slideEndNote.label[0] }}
        <sub>{{ menu.slideEndNote.octave }}</sub>)
      </span>
    </md-input-container> -->
  </div>

  <md-input-container
    ng-if="sound.note.type === 'bended'"
    layout="row"
    class="line-editor-field"
    ng-init="
      sound.note.bend = sound.note.bend.pop? sound.note.bend : [0,0,0,0];
      updateLineEditor()
    ">
    <label class="md-label md-no-float">Bend graph</label>
    <div
      flex
      layout="row"
      class="line-editor">
      <svg
        class="graph">
        <line class="border" x1="-4%" y1="0" x2="104%" y2="0" />
        <line class="border" x1="-4%" y1="100%" x2="104%" y2="100%" />
        <line
          ng-repeat="point in sound.note.bend track by $index"
          ng-if="!$last"
          ng-attr-x1="{{ (100 * $index / (sound.note.bend.length-1))+ '%'}}"
          ng-attr-y1="{{ (100 * (1 - sound.note.bend[$index])) + '%' }}"
          ng-attr-x2="{{ (100 * ($index + 1) / (sound.note.bend.length-1))+ '%'}}"
          ng-attr-y2="{{ (100 * (1 - sound.note.bend[$index+1])) + '%' }}" />
      </svg>
      <rzslider
        ng-repeat-start="node in sound.note.bend track by $index"
        class="point-node"
        rz-slider-model="sound.note.bend[$index]"
        rz-slider-options="{
          vertical: true,
          floor: 0,
          ceil: 1,
          step: 0.01,
          precision: 2,
          hideLimitLabels: true,
          hidePointerLabels: true
        }">
      </rzslider>
      <span ng-repeat-end flex></span>
    </div>
    <div
      class="buttons-spinner"
      layout="column">
      <md-button
        aria-label="More points"
        md-prevent-menu-close
        ng-click="
          sound.note.bend.push(0);
          updateLineEditor()
        ">
        <md-icon md-svg-icon="plus"></md-icon>
      </md-button>
      <md-button
        aria-label="Less points"
        md-prevent-menu-close
        ng-click="
          sound.note.bend.splice(bend.length-1, 1);
          updateLineEditor()
        ">
        <md-icon md-svg-icon="minus"></md-icon>
      </md-button>
    </div>
  </md-input-container>

  <div
    layout="row"
    ng-disabled="!sound.note.type || sound.note.type === 'ghost'">
    <md-input-container flex="35">
      <label class="md-label">Length</label>
      <md-select
        md-no-ink
        ng-model="sound.noteLength.length"
        md-on-close="soundLengthChanged(sound)">
        <md-option
          ng-repeat="value in [
            ['𝅝', 'Whole', 1],
            ['𝅗𝅥', 'Half', 0.5],
            ['𝅘𝅥', 'Quarter', 0.25],
            ['𝅘𝅥𝅮', 'Eighth', 0.125],
            ['𝅘𝅥𝅯', 'Sixteenth', 0.0625]
          ]"
          ng-value="{{ value[2] }}">
          <span class="note-symbol">{{ ::value[0] }}</span>
          <span class="note-length-title"> {{ ::value[1] }}</span>
        </md-option>
      </md-select>
    </md-input-container>
    <md-checkbox
      flex="30"
      aria-label="Staccato"
      ng-model="sound.noteLength.dotted"
      ng-change="soundLengthChanged(sound)">
      Dotted
    </md-checkbox>
    <md-checkbox
      flex="40"
      aria-label="Staccato"
      ng-model="sound.noteLength.staccato">
      Staccato
    </md-checkbox>
  </div>

  <div
    layout="row"
    class="volume-field">
    <md-input-container
      flex="none">
      <label>Volume</label>
      <input
        type="number"
        min="0.01"
        max="1"
        step="0.01"
        ng-model="sound.volume"
        ng-disabled="sound.style === 'ring'">
    </md-input-container>
    <rzslider
      rz-slider-model="sound.volume"
      rz-slider-options="{
        floor: 0,
        ceil: 1,
        step: 0.01,
        precision: 2,
        minLimit: 0.01,
        hideLimitLabels: true,
        hidePointerLabels: true,
        showSelectionBar: true,
        disabled: sound.style === 'ring'
      }">
    </rzslider>

    <md-button
      md-no-ink
      aria-label="Play"
      class="play-button icon-hover"
      md-prevent-menu-close
      ng-click="playSound()">
      <md-icon md-svg-icon="play"></md-icon>
    </md-button>
  </div>
</div>
