<div
  class="drums-beat-container">
  <div
    layout="row">
    <div
      flex
      layout="column"
      class="drums-column"
      ng-repeat="drumSubbeats in beat">

      <div
        flex
        aria-label="Drum sound"
        ng-repeat="subbeat in drumSubbeats"

        class="drum-sound-box no-hover">
        <div
          class="drum-sound"
          msd-wheel="volumeControl(subbeat, $delta/10)"
          ng-click="toggleDrum(subbeat)"

          ui-draggable="true"
          drag-channel="{{ ::subbeat.drum.label }}"
          drop-channel="{{ ::subbeat.drum.label }}"
          drag="subbeat"
          ui-on-drop="onDrop($event, $data, subbeat, drumsData)"

          >
          <div
            class="volume-meter"
            style="transform: scale({{ subbeat.volume }}, {{ subbeat.volume }});"
            xng-style="{
              transform: 'scale('+subbeat.volume+','+subbeat.volume+')'
            }">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>