<div
  ng-controller="DrumsController"
  class="drums-container"
  ng-keyup="$event.keyCode == 46 && clearNote(selected.subbeat)">
  <div
    layout="column"
    class="drums-labels-container">
    <md-button
      aria-label="{{ ::drum.label }}"
      class="drum-label"
      ng-repeat="drum in drums">
      {{ ::drum.label }}
    </md-button>
  </div>

  <div
    layout="row">
    <div
      flex
      layout="column"
      class="drums-column"
      ng-repeat="subbeats in drumsData">

      <div
        flex
        aria-label="Drum sound"
        ng-repeat="subbeat in subbeats"

        class="drum-sound-box no-hover">
        <div
          class="drum-sound"
          msd-wheel="volumeControl(subbeat, $delta/10)"
          ng-click="toggleDrum(subbeat)"

          ui-draggable="true"
          drag-channel="{{ ::subbeat.drum.label }}"
          drop-channel="{{ ::subbeat.drum.label }}"
          drag="subbeat"
          ui-on-drop="onDrop($event, $data, subbeat, drumsData)"

          >
          <div
            class="volume-meter"
            style="transform: scale({{ subbeat.volume }}, {{ subbeat.volume }});"
            xng-style="{
              transform: 'scale('+subbeat.volume+','+subbeat.volume+')'
            }">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>