<div
  layout="row"
  class="drums">
  <div
    flex
    layout="column"
    ng-repeat="drumSubbeats in slide.beat.subbeats track by $index"
    class="subbeats-container">
    <div
      flex
      aria-label="Drum sound"
      class="drum-sound-box no-hover"

      ng-repeat="drum in workspace.track.instrument track by drum.name">
      <div
        class="drum-sound"
        msd-wheel="volumeControl(drumSubbeats[$index], $delta/10)"
        ng-click="toggleDrum(drumSubbeats[$index])"

        ui-draggable="true"
        drag-channel="{{ ::drum.name }}"
        drop-channel="{{ ::drum.name }}"
        drag="{
          sound: drumSubbeats[$index],
          bar: slide.beat.bar,
          beat: slide.beat.beat,
          subbeat: $parent.$index+1,
          index: $index
        }"
        ui-on-drop="onDrop($event, $data, drumSubbeats[$index])">
        <div
          class="volume-meter"
          ng-style="{
            transform: 'scale('+drumSubbeats[$index].volume+','+drumSubbeats[$index].volume+')'
          }">
          <span>&nbsp</span>
        </div>
      </div>
    </div>
  </div>
</div>
