<div
  class="drums-beat-container"
  ng-if="ui.instrumentIndex === 1 && beat.visible">
  <div
    layout="row">
    <div
      flex
      layout="column"
      ng-repeat="drumSubbeats in beat.subbeats"
      class="drums-column"
      ng-class="{
        hidden: slides.visibleSubbeats.indexOf($index+1) === -1
      }">

      <div
        flex
        aria-label="Drum sound"
        class="drum-sound-box no-hover"

        ng-repeat="drum in drums"
        ng-init="subbeat=drumSubbeats[drum.name]">
        <div
          class="drum-sound"
          msd-wheel="volumeControl(subbeat, $delta/10)"
          ng-click="toggleDrum(subbeat)"

          ui-draggable="true"
          drag-channel="{{ ::drum.label }}"
          drop-channel="{{ ::drum.label }}"
          drag="{
            sound: subbeat,
            bar: beat.bar,
            beat: beat.beat,
            subbeat: $parent.$index+1
          }"
          ui-on-drop="onDrop($event, $data, subbeat, section)"
          >
          <div
            class="volume-meter"
            ng-style="{
              transform: 'scale('+subbeat.volume+','+subbeat.volume+')'
            }">
            <span>&nbsp</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>