<div
  class="fretboard"
  ng-controller="FretboardController">

  <div class="ghost-notes-container">
    <div
      ng-repeat="string in workspace.track.instrument.strings | orderBy:string.index:'-' track by string.index"
      class="ghost-note"
      ng-click="playBassSound({
        note: {
          type: 'ghost'
        },
        string: string.label
      })"
      ui-draggable="true"
      drag-channel="fretboard"
      drag="{
        sound: {
          style: fretboard.style,
          note: {
            type: 'ghost'
          },
          noteLength: {
            length: 1/16,
            beatLength: 1/16
          },
          volume: 0.75,
          string: string.label
        }
      }">x
    </div>
  </div>

  <div class="fretboard-scroller">
    <table class="fretboard-table">

      <thead>
        <!-- <span flex class="fret-index"></span> -->
        <tr>
          <th class="fret-index"
            ng-repeat="fret in [].constructor(25) | limitTo: fretboard.size+1 track by $index">
            {{ ::$index }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="string in workspace.track.instrument.strings | orderBy:string.index:'-' track by string.index"
          class="string-row">

          <td
            ng-repeat="note in string.notes | limitTo: fretboard.size+1"
            ng-click="playBassSound({
              note: {
                type: 'regular',
                name: note.label[0],
                octave: note.octave,
                fret: $index
              },
              string: string.label
            })"
            class="fret-box octave-{{ ::note.octave }}"

            ui-draggable="true"
            drag-channel="fretboard"
            drag="{
              label: note.label,
              sound: {
                style: fretboard.style,
                note: {
                  type: 'regular',
                  name: note.label[0],
                  octave: note.octave,
                  fret: $index
                },
                noteLength: fretboard.noteLength,
                volume: 0.75,
                string: string.label
              }
            }"
            >
            <div layout="row">
              <span flex>{{ ::note.label[0] }}</span>
              <span flex class="second-label">{{ ::note.label[1] }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    layout="row"
    class="fretboard-settings">

    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Style</label>
      <md-select
        aria-label="Style"
        class="style-selectbox"
        ng-model="fretboard.style">
        <md-option
          ng-repeat="style in ::playingStyles"
          ng-value="::style.name">
          {{ ::style.label }}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Length</label>
      <md-select
        ng-model="fretboard.noteLength.length">
        <md-option
          ng-repeat="value in [
            ['𝅝', 'Whole', 1],
            ['𝅗𝅥', 'Half', 0.5],
            ['𝅘𝅥', 'Quarter', 0.25],
            ['𝅘𝅥𝅮', 'Eighth', 0.125],
            ['𝅘𝅥𝅯', 'Sixteenth', 0.0625]
          ]"
          ng-value="{{ ::value[2] }}">
          <span class="note-symbol">{{ ::value[0] }}</span>
          <span class="note-length-title"> {{ ::value[1] }}</span>
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Frets</label>
      <input
        type="number"
        min="19"
        max="24"
        step="1"
        ng-model="fretboard.size">
    </md-input-container>
  </div>

</div>