<div
  class="fret-diagram">

  <div class="fretboard-scroller">
    <!-- Fret Labels -->
    <div
      layout="row"
      class="frets-labels">
      <label
        ng-repeat="fret in [].constructor(25) | limitTo: settings.fretboard.size+1 track by $index"
        fret="{{ ::$index }}"
        flex>
        {{ ::$index }}
      </label>
    </div>

    <!-- Strings -->
    <div class="strings">
      <div
        ng-repeat="string in workspace.track.instrument.strings | orderBy:string.index:'-'"
        class="string {{ ::string.label }}"
        layout="row">

        <div
          ng-repeat="note in string.notes | limitTo: settings.fretboard.size+1"
          class="fret-box fret-{{ ::$index }}"
          ng-class="::['octave-'+note.octave, {'dual-label': note.label.length > 1}]"
          flex>
          <label
            ng-repeat="label in ::note.label"
            note="{{ ::label }}"
            octave="{{ ::note.octave }}">
            <span class="note">{{ ::label }}</span>
          </label>
        </div>

        <div class="fret-box ghost-note">
          <label>x</label>
        </div>

      </div>
    </div>
  </div>
</div>