<div
  class="fret-diagram">
  <div
    layout="row"
    class="frets-labels">
    <label
      ng-repeat="fret in ::frets"
      fret="{{::fret}}"
      flex>
      {{ ::fret }}
    </label>
  </div>
  <div class="strings">
    <div
      ng-repeat="string in ::instrument.strings | orderBy:string.index:'-'"
      class="string {{ ::string.label }}"
      layout="row">
      <!-- <label>{{ string.label }}</label> -->
      <div
        ng-repeat="fret in ::frets"
        flex
        class="fret-box fret-{{ ::fret }}"
        ng-class="['octave-'+note.octave]"
        ng-init="note = string.notes[fret]">
        <!-- <span>&nbsp;</span> -->
        <!-- <label>{{ string.notes[fret].label[0] }}</label> -->
        <label
          ng-repeat="label in ::note.label"
          ng-init="
            id = string.label+':'+label+note.octave;
            fretNote = noteById[id]
          "
          ng-attr-id="{{ ::id.replace(':', '_') }}"
          ng-class="{
            active: config.notes.indexOf(id) !== -1,
            root: fretNote.id === rootNote.id
          }">
          <span class="note">{{ ::label }}</span>
          <!-- <span class="interval">{{ ::fretNote.interval }}</span> -->
        </label>
      </div>

      <div class="fret-box ghost-note">
        <label>x</label>
      </div>

    </div>
  </div>
</div>
