<div
  class="fretboard">
  <div layout="row">
    <span
      flex
      class="fret-index"
      ng-repeat="fret in [].constructor(25) track by $index">
      {{ $index }}
    </span>
  </div>

  <div
    layout="column"
    class="ghost-notes">
    <div
      ng-repeat="string in bass.strings"
      ng-click="playBassSound({
        note: {
          name: 'x'
        },
        string: string.index
      })"
      ui-draggable="true"
      drag="{
        source: 'fretboard',
        sound: {
          style: 'finger',
          note: {
            label: ['x'],
            octave: ''
          },
          noteLength: {
            length: 1/16
          },
          volume: 0.75,
          string: string.index
        }
      }">
      x
    </div>
  </div>

  <div
    ng-repeat="string in bass.strings | orderBy:string.index:'-'"
    layout="row">
    <div
      flex
      ng-click="playBassSound({
        note: {
          name: note.label[0],
          octave: note.octave
        },
        string: string.index
      })"
      class="fret-box octave-{{ ::note.octave }}"
      ng-repeat="note in string.notes"

      ui-draggable="true"
      drag="{
        source: 'fretboard',
        sound: {
          style: 'finger',
          note: {
            label: note.label,
            octave: note.octave
          },
          noteLength: {
            length: 1/8
          },
          volume: 0.75,
          string: string.index,
          fret: $index
        }
      }"
      >
      {{ ::note.label.join(' / ') }}
    </div>
  </div>
</div>