<div
  layout="row"
  class="control-panel">

  <div
    layout="row"
    class="instruments-toolbar">
    <div
      layout="row"
      class="instruments-field">
      <md-button
        flex
        md-no-ink
        aria-label="Bass"
        class="no-hover"
        ng-class="{
          active: ui.instrumentIndex === 0
        }"
        ng-click="selectInstrument(0)">
        Bass
        <md-icon md-svg-icon="bass-guitar"></md-icon>
      </md-button>
      <md-button
        flex
        md-no-ink
        aria-label="Drums"
        class="icon-hover"
        ng-class="{
          active: ui.instrumentIndex === 1
        }"
        ng-click="selectInstrument(1)">
        Drums
        <md-icon md-svg-icon="drums"></md-icon>
      </md-button>
      <md-ink-bar
        ng-class="{
          'md-left': ui.instrumentIndex === 0,
          'md-right': ui.instrumentIndex === 1
        }">
      </md-ink-bar>
    </div>

    <md-menu
      md-offset="56 10">
      <md-button
        md-no-ink
        aria-label="Preferences"
        class="preferences icon-hover toolbar-separated-button"
        ng-click="$mdOpenMenu($event)">
        <md-icon
          md-svg-icon="preferences">
        </md-icon>
        <md-tooltip md-delay="1000">Volume preferences</md-tooltip>
      </md-button>

      <md-menu-content
        md-no-ink
        width="4"
        class="preferences md-whiteframe-16dp">
        <md-list>

          <md-list-item
            ng-repeat="track in project.tracks track by track.id"
            class="volume-field bottom-border">
            <label>{{ track.name }}</label>
            <rzslider
              rz-slider-model="track.audio.gain.value"
              rz-slider-options="{
                floor: 0,
                ceil: 1,
                step: 0.01,
                precision: 2,
                hideLimitLabels: true,
                hidePointerLabels: true,
                showSelectionBar: true,
                disabled: track.muted
              }">
            </rzslider>
            <md-button
              md-no-ink
              aria-label="Mute"
              class="mute-button"
              ng-class="{active: !track.muted}"
              md-prevent-menu-close
              ng-click="toggleVolumeMute(track)">
              <md-icon
                md-svg-icon="{{ track.muted? 'volume-mute' : 'volume-medium' }}">
              </md-icon>
            </md-button>
          </md-list-item>

<!--           <md-list-item
            class="volume-field bottom-border">
            <label>Bass Volume</label>
            <rzslider
              rz-slider-model="player.bass.audio.gain.value"
              rz-slider-options="{
                floor: 0,
                ceil: 1,
                step: 0.01,
                precision: 2,
                hideLimitLabels: true,
                hidePointerLabels: true,
                showSelectionBar: true,
                disabled: player.bass.muted
              }">
            </rzslider>
            <md-button
              md-no-ink
              aria-label="Mute"
              class="mute-button"
              ng-class="{active: !player.bass.muted}"
              md-prevent-menu-close
              ng-click="toggleVolumeMute(player.bass)">
              <md-icon
                md-svg-icon="{{ player.bass.muted? 'volume-mute' : 'volume-medium' }}">
              </md-icon>
            </md-button>
          </md-list-item> -->


<!--           <md-list-item
            class="volume-field bottom-border">
            <label>Drums Volume</label>
            <rzslider
              rz-slider-model="player.drums.audio.gain.value"
              rz-slider-options="{
                floor: 0,
                ceil: 1,
                step: 0.01,
                precision: 2,
                hideLimitLabels: true,
                hidePointerLabels: true,
                showSelectionBar: true,
                disabled: player.drums.muted
              }">
            </rzslider>
            <md-button
              md-no-ink
              aria-label="Mute"
              class="mute-button"
              ng-class="{active: !player.drums.muted}"
              md-prevent-menu-close
              ng-click="toggleVolumeMute(player.drums)">
              <md-icon
                md-svg-icon="{{ player.drums.muted? 'volume-mute' : 'volume-medium' }}">
              </md-icon>
            </md-button>
          </md-list-item> -->

          <md-list-item
            class="volume-field bottom-border">
            <label>Input Volume</label>
            <rzslider
              rz-slider-model="player.input.audio.gain.value"
              rz-slider-options="{
                floor: 0,
                ceil: 1,
                step: 0.01,
                precision: 2,
                hideLimitLabels: true,
                hidePointerLabels: true,
                showSelectionBar: true,
                disabled: player.input.muted
              }">
            </rzslider>
            <md-button
              md-no-ink
              aria-label="Mute"
              class="mute-button"
              ng-class="{active: !player.input.muted}"
              md-prevent-menu-close
              ng-click="toggleInputMute(player.input)">
              <md-icon
                md-svg-icon="{{ player.input.muted? 'volume-mute' : 'volume-medium' }}">
              </md-icon>
            </md-button>
          </md-list-item>
        </md-list>

      </md-menu-content>
    </md-menu>

<!--     <md-input-container class="track">
      <md-select
        md-no-ink
        aria-label="Track"
        class="tracks-list"
        ng-model="workspace.trackName"
        ng-change="selectTrack(workspace.trackName)">
        <md-option
          ng-repeat="track in section.tracksList track by $index"
          ng-value="track">
          {{ track }}
        </md-option>
      </md-select>
    </md-input-container> -->

  </div>
  <div
    layout="row"
    class="instrument-tracks">
    <a
      ng-repeat="track in project.tracks track by track.id"
      class="item"
      ng-show="track.type === ['bass', 'drums'][ui.instrumentIndex]"
      ng-class="{active: workspace.track === track}"
      ng-click="selectTrack(track)">
      / {{ track.name }}
    </a>
  </div>

  <div flex></div>

  <div
    layout="row"
    class="playback-fields">

    <md-input-container class="bpm-field">
      <label>bpm</label>
      <input
        type="number"
        min="30"
        max="200"
        step="5"
        ng-model="section.bpm"
        ng-change="bpmChanged(section.bpm)">
    </md-input-container>

    <md-button
      md-no-ink
      aria-label="Play"
      class="play-stop-button icon-hover"
      ng-click="player.playing? stop() : play()">
      <md-icon
        md-svg-icon="{{ player.playing? 'stop' : 'play' }}">
      </md-icon>
      {{ player.playing? 'Stop' : 'Play' }}
    </md-button>

    <md-button
      md-no-ink
      aria-label="Countdown"
      class="toggle-button toolbar-separated-button icon-hover"
      ng-class="{active: player.countdown}"
      ng-click="player.countdown=!player.countdown">
      <md-icon
        md-svg-icon="countdown">
      </md-icon>
      <md-tooltip md-delay="1000">Countdown</md-tooltip>
    </md-button>

    <md-button
      md-no-ink
      aria-label="Loop"
      class="toggle-button toolbar-separated-button icon-hover"
      ng-class="{active: player.loop}"
      ng-click="player.loop=!player.loop">
      <md-icon
        md-svg-icon="loop">
      </md-icon>
      <md-tooltip md-delay="1000">Repeat mode</md-tooltip>
    </md-button>

    <md-menu
      md-position-mode="target target"
      md-offset="0, 56">
      <md-button
        md-no-ink
        class="toggle-button toolbar-separated-button icon-hover"
        ng-class="{
          active: player.playbackRange.start > 1 || player.playbackRange.end < section.length+1
        }"
        ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="playback-range"></md-icon>
        <md-tooltip md-delay="1000">Playback range</md-tooltip>
      </md-button>
      <md-menu-content
        class="preferences playback-range md-whiteframe-16dp">
        <md-list>
          <md-list-item class="range-slider-item playback-range">
            <label>Playback range</label>
            <rzslider
              class="range-slider"
              ng-class="{ long: section.length > 10 }"
              rz-slider-model="player.playbackRange.start"
              rz-slider-high="player.playbackRange.end"
              rz-slider-options="{
                floor: 1,
                ceil: section.length+1,
                step: 1,
                minRange: 1,
                pushRange: true,
                showTicks: true,
                onEnd: updatePlaybackRange,
                showTicksValues: true
              }">
            </rzslider>
          </md-list-item>

          <md-list-item md-no-ink class="checkbox-item">
            <md-input-container>
              <md-checkbox
                ng-model="player.visibleBeatsOnly">
                Visible beats only
              </md-checkbox>
            </md-input-container>
          </md-list-item>

        </md-list>
      </md-menu-content>
    </md-menu>

  </div>

  <div flex></div>

  <div
    layout="row"
    class="project-toolbar"
    ng-controller="ProjectController">
    <md-input-container>
      <label>Section</label>
      <input
        type="text"
        ng-model="section.name">
    </md-input-container>
    <md-input-container>
      <md-select
        md-no-ink
        ng-show="project.sections.length > 0"
        aria-label="Section"
        class="select-editable"
        md-container-class="sections-list"
        ng-model="project.selectedSectionIndex"
        ng-change="loadSection(project.selectedSectionIndex)">
        <md-option
          ui-draggable="true"
          drag="$index"
          ui-on-drag-enter=""
          ui-on-drag-leave=""
          ui-on-drop="dropSection($event, $data, $index, section)"
          drag-channel="section"
          drop-channel="section"

          ng-repeat="section in project.sections | orderBy:section.index track by $index"
          ng-value="::$index">
          {{ section.name }}
        </md-option>
      </md-select>
    </md-input-container>
    <md-button
      md-no-ink
      aria-label="Save"
      class="toolbar-button icon-hover"
      ng-click="saveSection(project.selectedSectionIndex)">
      <md-icon
        md-svg-icon="pen">
      </md-icon>
      <md-tooltip md-delay="1000">Save section</md-tooltip>
    </md-button>
    <md-menu
      md-position-mode="target-right target">
      <md-button
        md-no-ink
        aria-label="Menu"
        class="toolbar-button icon-hover"
        ng-click="$mdOpenMenu($event)">
        <md-icon
          md-svg-icon="menu-dots">
        </md-icon>
        <md-tooltip md-delay="1000">Options</md-tooltip>
      </md-button>
      <md-menu-content
        md-no-ink
        class="md-whiteframe-16dp">
        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="New"
            ng-click="newSection()">
            New
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="Save As"
            ng-click="saveSection()">
            Save As...
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="Delete"
            ng-click="deleteSection(project.selectedSectionIndex)">
            Delete
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="Export"
            ng-click="exportToFile()">
            Export
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
  </div>
</div>