<div
  layout="row"
  class="control-panel">

  <div
    layout="row"
    class="instruments-field">
    <md-button
      flex
      md-no-ink
      aria-label="Bass"
      class="no-hover"
      ng-class="{
        active: ui.instrumentIndex===0
      }"
      ng-click="ui.instrumentIndex=0">
      Bass
      <md-icon md-svg-icon="bass-guitar"></md-icon>
    </md-button>
    <md-button
      flex
      md-no-ink
      aria-label="Drums"
      class="no-hover"
      ng-class="{
        active: ui.instrumentIndex===1
      }"
      ng-click="ui.instrumentIndex=1">
      Drums
      <md-icon md-svg-icon="drums"></md-icon>
    </md-button>
    <md-ink-bar
      ng-class="{
        'md-left': ui.instrumentIndex === 0,
        'md-right': ui.instrumentIndex === 1
      }">
    </md-ink-bar>
  </div>

  <md-menu
    md-offset="56 10">
    <md-button
      md-no-ink
      aria-label="Preferences"
      class="preferences"
      ng-click="$mdOpenMenu($event)">
      <md-icon
        md-svg-icon="preferences">
      </md-icon>
    </md-button>

    <md-menu-content
      md-no-ink
      width="4"
      class="preferences md-whiteframe-16dp">
      <md-list>
        <md-list-item
          class="volume-field bottom-border">
          <label>Bass Volume</label>
          <md-slider
            class="md-primary"
            ng-model="player.bass.audio.gain.value"
            ng-disabled="player.bass.muted"
            aria-label="Volume"
            min="0"
            max="1"
            step="0.01"
            flex>
          </md-slider>
          <md-button
            md-no-ink
            aria-label="Mute"
            class="mute-button"
            ng-class="{active: !player.bass.muted}"
            md-prevent-menu-close
            ng-click="toggleVolumeMute(player.bass)">
            <md-icon
              md-svg-icon="{{ player.bass.muted? 'volume-mute' : 'volume-medium' }}">
            </md-icon>
          </md-button>
        </md-list-item>

        <md-list-item
          class="volume-field bottom-border">
          <label>Drums Volume</label>
          <md-slider
            class="md-primary"
            ng-model="player.drums.audio.gain.value"
            ng-disabled="player.drums.muted"
            aria-label="Volume"
            min="0"
            max="1"
            step="0.01"
            flex>
          </md-slider>
          <md-button
            md-no-ink
            aria-label="Mute"
            class="mute-button"
            ng-class="{active: !player.drums.muted}"
            md-prevent-menu-close
            ng-click="toggleVolumeMute(player.drums)">
            <md-icon
              md-svg-icon="{{ player.drums.muted? 'volume-mute' : 'volume-medium' }}">
            </md-icon>
          </md-button>
        </md-list-item>

        <md-list-item
          class="volume-field bottom-border">
          <label>Input Volume</label>
          <md-slider
            class="md-primary"
            ng-model="player.input.audio.gain.value"
            ng-disabled="player.input.muted"
            aria-label="Volume"
            min="0"
            max="1"
            step="0.01"
            flex>
          </md-slider>
          <md-button
            md-no-ink
            aria-label="Mute"
            class="mute-button"
            ng-class="{active: !player.input.muted}"
            md-prevent-menu-close
            ng-click="toggleInputMute(player.input)">
            <md-icon
              md-svg-icon="{{ player.input.muted? 'volume-mute' : 'volume-medium' }}">
            </md-icon>
          </md-button>
        </md-list-item>
      </md-list>

    </md-menu-content>
  </md-menu>

  <div flex></div>

  <div
    class="bpm-field">
    <md-input-container>
      <label>bpm</label>
      <input
        type="number"
        min="30"
        max="200"
        step="5"
        ng-model="player.bpm">
    </md-input-container>
  </div>

  <div
    layout="row"
    class="playback-fields">
    <md-button
      md-no-ink
      aria-label="Play"
      class="play-stop-button"
      ng-click="player.playing? stop() : play()">
      <md-icon
        md-svg-icon="{{ player.playing? 'stop' : 'play' }}">
      </md-icon>
      {{ player.playing? 'Stop' : 'Play' }}
    </md-button>

    <md-button
      md-no-ink
      aria-label="Countdown"
      class="toggle-button"
      ng-class="{active: player.countdown}"
      ng-click="player.countdown=!player.countdown">
      <md-icon
        md-svg-icon="countdown">
      </md-icon>
    </md-button>

    <md-button
      md-no-ink
      aria-label="Loop"
      class="toggle-button"
      ng-class="{active: player.loop}"
      ng-click="player.loop=!player.loop">
      <md-icon
        md-svg-icon="loop">
      </md-icon>
    </md-button>
  </div>

  <div flex></div>

  <div
    layout="row"
    class="project-toolbar"
    ng-controller="ProjectController">
    <md-input-container>
      <label>Section</label>
      <input
        type="text"
        ng-model="project.sectionName">
    </md-input-container>
    <md-input-container>
      <md-select
        md-no-ink
        ng-show="project.sections.length > 0"
        aria-label="Section"
        class="select-editable"
        md-container-class="sections-list"
        ng-model="project.selectedSectionIndex"
        ng-change="loadSection(project.selectedSectionIndex)">
        <md-option
          ng-repeat="section in project.sections | orderBy:section.index track by $index"
          ng-value="$index">
          {{ section.id }} {{ section.name }} <span class="space"></span>
          <div class="option-buttons-group">
            <md-button
              aria-label="Up"
              class="no-hover"
              ng-click="
                moveSectionUp(section);
                $event.stopPropagation()
              ">
              <md-icon md-svg-icon="arrow-up"></md-icon>
            </md-button>
            <md-button
              aria-label="Down"
              class="no-hover"
              ng-click="
                moveSectionDown(section);
                $event.stopPropagation()
              ">
              <md-icon md-svg-icon="arrow-down"></md-icon>
            </md-button>
          </div>
        </md-option>
      </md-select>
    </md-input-container>
    <md-button
      md-no-ink
      aria-label="Save"
      class="toolbar-button"
      ng-click="saveSection(project.selectedSectionIndex)">
      <md-icon
        md-svg-icon="pen">
      </md-icon>
    </md-button>
    <md-menu
      md-position-mode="target-right target">
      <md-button
        md-no-ink
        aria-label="Menu"
        class="toolbar-button"
        ng-click="$mdOpenMenu($event)">
        <md-icon
          md-svg-icon="menu-dots">
        </md-icon>
      </md-button>
      <md-menu-content
        md-no-ink
        class="md-whiteframe-16dp">
        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="New"
            ng-click="newEmptySection()">
            New
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="Save As"
            ng-click="saveSection()">
            Save As...
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="Delete"
            ng-click="deleteSection(project.selectedSectionIndex)">
            Delete
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button
            md-no-ink
            aria-label="Export"
            ng-click="exportToFile()">
            Export
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
  </div>
</div>