  <div layout="row">
    <md-select
      flex
      ng-model="subbeat.note.label"
      md-on-close="updateNote(subbeat)"
      placeholder="Note">
      <md-option
        ng-repeat="noteLabel in notesLabels"
        ng-value="noteLabel">
        {{ noteLabel }}
      </md-option>
    </md-select>
    <md-select
      flex
      ng-model="subbeat.note.octave"
      md-on-close="updateNote(subbeat)"
      placeholder="Octave">
      <md-option
        ng-repeat="octave in bass.notes.notesOctaves[subbeat.note.label]"
        ng-value="octave">
        {{ octave }}
      </md-option>
    </md-select> 
    <md-select
      flex
      ng-model="subbeat.note.length"
      md-on-close="checkMeasure(subbeat)"
      placeholder="Length">
      <md-option
        ng-repeat="value in [1, 0.5, 0.25, 0.125, 0.0625]"
        ng-value="{{ value }}">
        1/{{ 1/value }}
      </md-option>
    </md-select>
  </div>