<md-dialog class="open-project-dialog">
  <div class="info-note">Drag project file to import project</div>
  <div class="dialog-header">
    Projects
    <md-button
      md-no-ink
      aria-label="Close"
      class="dialog-close icon-hover"
      ng-click="close()">
      <md-icon md-svg-icon="x"></md-icon>
    </md-button>
  </div>

  <md-dialog-content bd-file-drop="importProjectFile($file)">
    <md-list
      md-no-ink
      ng-init="
        form = {
          selected: -1
        }
      ">
      <md-list-item
        ng-repeat="project in projects"
        ng-class="{
          selected: form.selected === $index
        }"
        ng-disabled="$index === 0 && openedProjectId === project.id"
        ng-click="form.selected = $index">
        {{ ::project.name }}
      </md-list-item>

    </md-list>
  </md-dialog-content>

  <p
    class="confirm ng-hide"
    ng-show="showConfirmation">
    Are you sure to delete project <b>{{ projects[form.selected].name }}</b>?
  </p>

  <md-dialog-actions ng-hide="showConfirmation">
    <md-button
      md-no-ink
      aria-label="Delete"
      ng-disabled="form.selected === -1"
      ng-click="showConfirmation = true">
      Delete
    </md-button>
    <span flex></span>
    <md-button
      md-no-ink
      aria-label="Open"
      ng-disabled="form.selected === -1"
      ng-click="openProject(projects[form.selected].id)">
      Open
    </md-button>
  </md-dialog-actions>
  <md-dialog-actions class="confirm-actions" ng-show="showConfirmation">
    <md-button
      md-no-ink
      aria-label="No"
      ng-click="showConfirmation = false">
      No
    </md-button>
    <md-button
      md-no-ink
      aria-label="Yes"
      ng-click="
        deleteProject(projects[form.selected].id);
        form.selected = -1;
        showConfirmation = false">
        Yes
    </md-button>
  </md-dialog-actions>
</md-dialog>
