<md-list>

  <md-list-item>
    <label translate="TYPE"></label>
    <md-input-container>
      <md-select
        md-no-ink
        aria-label="Type"
        md-container-class="preferences"
        ng-model="instrument.preset"
        ng-change="workspace.track.preset = instrument.preset">
        <md-option value="acoustic">Acoustic</md-option>
        <md-option value="synth">Electric</md-option>
      </md-select>
    </md-input-container>
  </md-list-item>

  <md-list-item
    layout="row"
    class="piano-range-field"
    ng-init="range = [
      instrument.notes.list[0].octave,
      instrument.notes.list[instrument.notes.list.length-1].octave,
    ]">
    <label translate="RANGE"></label>
    <span class="note">C</span>
    <md-input-container>
      <input
        aria-label="Start"
        type="number"
        min="1"
        max="5"
        step="1"
        ng-model="range[0]"
        ng-change="instrument.setRange('C'+range[0], 'B'+range[1])">
    </md-input-container>
    <span style="margin: 16px 20px 0 20px;">-</span>
    <span class="note">B</span>
    <md-input-container>
      <input
        aria-label="End"
        type="number"
        min="2"
        max="7"
        step="1"
        ng-model="range[1]"
        ng-change="instrument.setRange('C'+range[0], 'B'+range[1])">
    </md-input-container>
  </md-list-item>

</md-list>
