<md-input-container class="bpm-field">
  <label>Speed</label>
  <input
    type="number"
    min="30"
    max="200"
    step="5"
    ng-model="workspace.section.bpm"
    ng-change="ui.bpmChanged(workspace.section.bpm)">
</md-input-container>

<md-input-container class="playback-speed-field">
  <label>Speed</label>
  <input
    type="number"
    min="20"
    max="300"
    step="5"
    ng-model="player.speed"
    ng-change="ui.playbackSpeedChanged(player.speed)">
</md-input-container>

<md-button
  md-no-ink
  aria-label="Play"
  class="play-stop-button icon-hover"
  ng-click="player.playing? player.stop() : player.play()">
  <md-icon
    md-svg-icon="{{ player.playing? 'stop' : 'play' }}">
  </md-icon>
  <span>{{ player.playing? 'Stop' : 'Play' }}</span>
  <md-progress-circular
    ng-show="player.loading"
    md-mode="indeterminate"
    md-diameter="31">
  </md-progress-circular>
</md-button>

<md-button
  md-no-ink
  aria-label="Countdown"
  class="toggle-button toolbar-separated-button icon-hover"
  ng-class="{active: player.countdown}"
  ng-click="player.countdown=!player.countdown">
  <md-icon
    md-svg-icon="countdown">
  </md-icon>
  <md-tooltip md-delay="1500">Countdown</md-tooltip>
</md-button>

<md-button
  md-no-ink
  aria-label="Loop"
  class="toggle-button toolbar-separated-button icon-hover"
  ng-class="{active: player.loop}"
  ng-click="player.loop=!player.loop">
  <md-icon
    md-svg-icon="loop">
  </md-icon>
  <md-tooltip md-delay="1500">Repeat mode</md-tooltip>
</md-button>

<md-button
  md-no-ink
  aria-label="Loop"
  class="screen-playback toggle-button toolbar-separated-button icon-hover"
  ng-class="{active: player.visibleBeatsOnly}"
  ng-click="
    player.visibleBeatsOnly =! player.visibleBeatsOnly;
    player.visiblePlaybackModeChanged(player.visibleBeatsOnly)
  ">
  <md-icon
    md-svg-icon="screen-playback">
  </md-icon>
  <md-tooltip
    md-delay="1500"
    class="multiline-tooltip">
    <p><b>Visible screen playback</b></p>
    <md-divider></md-divider>
    <p>Play only visible area on the screen (without automatic slides transition)
      <!-- <ul>
        <li>Restricts playback to visible screen</li>
        <li>Disables automatic slides transition during playback</li>
      </ul> -->
    </p>
  </md-tooltip>
</md-button>

<md-menu
  md-position-mode="target target"
  md-offset="10, 0"
  class="playback-range-menu">
  <md-button
    md-no-ink
    class="toggle-button toolbar-separated-button icon-hover"
    ng-class="{
      active: player.playbackRange.start > 1 || player.playbackRange.end < player.playbackRange.max
    }"
    ng-click="
      initSliders();
      $mdOpenMenu($event)
    ">
    <md-icon md-svg-icon="selection-playback"></md-icon>
    <md-tooltip
      md-delay="1500"
      class="multiline-tooltip">
      <p><b>Selection playback</b></p>
      <md-divider></md-divider>
      <p>Select visible range for playback</p>
    </md-tooltip>
  </md-button>
  <md-menu-content
    class="preferences playback-range md-whiteframe-16dp">

    <div
      ng-show="player.mode === 0"
      class="section-range">
      <label>Bars Selection</label>
      <rzslider
        class="range-slider"
        ng-class="{ long: workspace.section.length > 10 }"
        rz-slider-model="player.playbackRange.start"
        rz-slider-high="player.playbackRange.end"
        rz-slider-options="{
          floor: 1,
          ceil: player.playbackRange.max,
          step: 1,
          minRange: 1,
          pushRange: true,
          showTicks: false,
          onEnd: player.playbackRangeChanged,
          showTicksValues: true
        }">
      </rzslider>
    </div>

    <div
      ng-show="player.mode === 1"
      class="playlist-range">
      <label>Playlist Selection</label>
      <rzslider
        class="range-slider"
        ng-style="{
          height: (36*player.playlist.length)+'px'
        }"
        rz-slider-model="player.playbackRange.start"
        rz-slider-high="player.playbackRange.end"
        rz-slider-options="{
          vertical: true,
          rightToLeft: true,
          floor: 1,
          ceil: player.playbackRange.max,
          step: 1,
          minRange: 1,
          pushRange: true,
          showTicks: true,
          onEnd: player.playbackRangeChanged,
          showTicksValues: true,
          translate: playlistLabel
        }">
      </rzslider>
    </div>
  </md-menu-content>
</md-menu>