<div layout="row">

  <div
    layout="column"
    flex="none">
    <div
      ng-init="beat = beats[0]"
      class="section-info">
       <div class="bpm">
        <span class="note-symbol">𝅘𝅥</span>={{ ::beat.bpm }}
      </div>

      <div class="time-signature">
        <div>{{ ::beat.timeSignature.top }}</div>
        <div>{{ ::beat.timeSignature.bottom }}</div>
      </div>
      <div class="bass-board instrument-slide">
        <p ng-repeat="string in ::workspace.track.instrument.strings | orderBy:string.index:'-'">
          {{ string.label }}<sub class="octave-index">{{ string.octave }}</sub><br>
        </p>
      </div>

    </div>
  </div>

  <div
    ng-repeat="beat in ::beats"
    layout="column"
    style="position:relative;"
    flex>

    <!-- Bar -->
    <div
      class="beat beat-{{ ::beat.beat }}">

      <div
        ng-if="::beat.sectionInfo && $index > 0"
        class="section-info">
        <div class="time-signature">
          <div>{{ ::beat.timeSignature.top }}</div>
          <div>{{ ::beat.timeSignature.bottom }}</div>
        </div>

         <div class="bpm">
          𝅘𝅥 &nbsp;={{ ::beat.bpm }}
        </div>

      </div>

      <label
        class="section-label">
        {{ ::beat.sectionInfo.name }}
      </label>

      <label class="bar-label">
        {{ ::beat.bar }}
      </label>
      <div
        id="beat_{{ ::beat.bar }}_{{ ::beat.beat }}"
        class="bar-beat"
        layout="row">
        <div
          flex
          class="subbeat">
          <label class="subbeat-label {{ ::beat.sectionInfo? 'align-right' : '' }}">
            {{ ::beat.beat }}
          </label>
        </div>
        <div
          ng-repeat="label in ::barLabels[beat.subdivision] track by $index"
          flex
          class="subbeat"
          ng-class="{
            hidden: !swiperControl.swiperConfig.visibleSubbeats[beat.subdivision][$index+2]
          }">
          <label class="subbeat-label">
            {{ ::label }}
          </label>
        </div>
      </div>
    </div>

    <!-- Instrument -->
    <div
      class="bass-board instrument-slide beat-{{ ::beat.beat }} {{ ::($last && emptyBeats.length)? 'last' : '' }}">
      <div class="string-container">
        <div
          ng-repeat="string in ::workspace.track.instrument.strings"
          class="bass-string">
        </div>
      </div>
      <div
        ng-repeat="item in ::beat.sounds"
        class="
          bass-sound-wrapper
          string-{{ ::{G: 4, D: 3, A: 2, E: 1, B: 0}[item.sound.string] }}
          {{ ::item.sound.style }}
          {{ ::item.sound.note.type }}
          {{ ::item.sound.noteLength.staccato? 'staccato' : '' }}
        "
        style="
          left: {{ ::100*(item.subbeat-1)/beat.subdivision }}%;
          top: {{ ::{G: '0', D: '36px', A: '72px', E: '108px', B: '144px'}[item.sound.string] }};
          width: {{ ::(100 * beat.timeSignature.bottom * item.sound.noteLength.beatLength * (beat.subdivision === 3? 2/3 : 1)) }}%;">
        <div
          class="top-label">
        </div>
        <div
          ng-attr-octave="{{ ::item.sound.note.octave }}"
          class="bass-sound-container">
          <bd-sound-label sound="item.sound"></bd-sound-label>
        </div>
      </div>
    </div>

  </div>

  <section
    ng-repeat="empty in ::emptyBeats track by $index"
    class="empty"
    style="position:relative;"
    flex>
  </section>
</div>