<div
  class="viewer-container"
  ng-controller="PlaylistViewer"
  flex
  layout="column">

  <md-button
    md-no-ink
    class="md-fab icon-hover toggle-button edit-playlist2"
    ng-class="{active: ui.playlist.showEditor}"
    ng-click="ui.playlist.showEditor = !ui.playlist.showEditor">
    <md-icon md-svg-icon="pen"></md-icon>
  </md-button>

  <div
    flex
    class="playlist-swiper bass-sheet swiper-container"
    ng-class="['strings-'+workspace.track.instrument.strings.length]"
    ng-init="swiperControl.swiperConfig.visibleSubbeats = visibleSubbeats">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides (generated dynamically) -->
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <div
    ng-if="ui.playlist.showEditor"
    ng-controller="PlaylistEditor"
    layout="row"
    class="playlist-editor">

    <div layout="column">
      <div
        flex
        layout="column"
        class="playlist-panel md-whiteframe-6dp">
        <div class="toolbar">
          <label>Playlist</label>
        </div>
        <md-list
          flex
          class="playlist"
          ng-keyup="playlistKeyPressed($event)"
          ui-on-drop="dropPlaylistSection($event, workspace.playlist.items, $data, workspace.playlist.items.length)"
          drop-channel="playlist">
          <div
            md-no-ink
            ng-repeat="item in workspace.playlist.items track by $index"
            class="playlist-item"
            ng-class="{selected: selected.item === item}"
            ng-click="selected.item = item"
            layout="row"
            ui-draggable="true"
            drag="{
              index: $index,
              data: item
            }"
            ui-on-drop="dropPlaylistSection($event, workspace.playlist.items, $data, $index, item)"
            drag-channel="playlist"
            drop-channel="playlist">
            <div
              class="repeats"
              ng-class="{'one-repeat': item.repeats === 1}">
              <input
                type="number"
                min="1"
                ng-model="item.repeats"
                ng-change=updatePlaylist()>
              <span>x</span>
            </div>
            <span>{{ sectionNames[item.section] }}</span>
          </div>
        </md-list>
      </div>
      <md-button
        class="playlist-button"
        ng-click="clearPlaylist()">
        <md-icon md-svg-icon="x"></md-icon>
        Clear
      </md-button>
    </div>

    <div layout="column">
      <div
        flex
        layout="column"
        class="playlist-panel md-whiteframe-6dp">
        <div class="toolbar">
          <label>Sections</label>
        </div>
        <md-list
          flex
          class="playlist">
          <div
            md-no-ink
            ng-repeat="item in availableSections track by item.section"
            class="playlist-item"
            layout="row"
            ui-draggable="true"
            drag="{data: item}"
            drag-channel="playlist">
            <span>{{ sectionNames[item.section] }}</span>
          </div>
        </md-list>
      </div>
      <md-button
        class="playlist-button"
        ng-click="moveAllUnused()">
        <md-icon md-svg-icon="arrow-left"></md-icon>
        Move all
      </md-button>
    </div>

    <!-- <div flex></div> -->
    <p class="info-note">
      Drag items from <b>Sections</b> list into the <b>Playlist</b>.
    </p>
  </div>
</div>
