<!-- <svg
  class="trapezoid"
  viewbox="0 0 102 55"
  preserveAspectRatio="none"
  width="113%"
  height="130%">
  <defs>
    <filter id="f3" x="-5%" y="0" width="110%" height="115%">
      <feOffset result="offOut" in="SourceAlpha" dx="0" dy="-0.5" />
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="2" />
    </filter>
  </defs>
  <path
    d="
    M96.5,0
    L93,42
    a5,12 0 0 1 -3.5,8
    L12,50
    a5,12 0 0 1 -3.5,-8
    L5,0"
    filter="url(#f3)">
  </path>
  <path
    class="fill"
    d="
    M98,0
    a2,4 0 0 1 0.5,4
    L94,42
    a5,12 0 0 1 -3.5,8
    L11,50
    a5,12 0 0 1 -3.5,-8
    L3,4
    a2,4 0 0 1 0.5,-4z">
  </path>
</svg> -->
<svg
  class="trapezoid"
  viewbox="0 0 102 55"
  preserveAspectRatio="none"
  width="113%"
  height="130%">
  <defs>
    <filter id="f3" x="-5%" y="0" width="110%" height="115%">
      <feOffset result="offOut" in="SourceAlpha" dx="0" dy="-0.5" />
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="2" />
    </filter>
  </defs>
  <path
    d="
    M96.5,0
    L93,42
    a5,12 0 0 1 -3.5,8
    L12,50
    a5,12 0 0 1 -3.5,-8
    L5,0"
    filter="url(#f3)">
  </path>
  <path
    class="fill"
    d="
    M98,0
    a2,4 0 0 1 0.5,4
    L94,42
    a4,11 0 0 1 -3,8
    L11,50
    a4,11 0 0 1 -3,-8
    L3,4
    a2,4 0 0 1 0.5,-4z">
  </path>
</svg>

<form novalidate ng-switch="player.mode">
  <md-input-container
    ng-switch-when="0"
    class="bpm-field">
    <label class="md-no-float" translate="SPEED"></label>
    <input
      type="number"
      min="30"
      max="200"
      step="5"
      bd-disable-step-validator
      ng-model="workspace.section.bpm"
      ng-change="ui.bpmChanged(workspace.section.bpm)">
  </md-input-container>

  <md-input-container
    ng-switch-when="1"
    class="playback-speed-field">
    <label class="md-no-float" translate="SPEED"></label>
    <input
      type="number"
      min="20"
      max="300"
      step="5"
      bd-disable-step-validator
      ng-model="player.speed"
      ng-change="ui.playbackSpeedChanged(player.speed)">
  </md-input-container>
</form>

<md-button
  md-no-ink
  aria-label="Play"
  class="play-stop-button icon-hover"
  ng-class="{ loading: player.loading }"
  ng-click="player.playing? player.pause() : player.play()">
  <md-icon
    md-svg-icon="{{ player.playing? 'pause' : 'play' }}">
  </md-icon>
  <md-progress-circular
    md-mode="indeterminate"
    md-diameter="31">
  </md-progress-circular>
</md-button>

<md-button
  md-no-ink
  aria-label="Stop"
  class="secondary icon-hover"
  ng-click="player.goToStart()">
  <md-icon
    md-svg-icon="back">
  </md-icon>
</md-button>

<md-button
  md-no-ink
  aria-label="Countdown"
  class="toggle-button toolbar-separated-button icon-hover"
  ng-class="{active: player.countdown}"
  ng-click="player.countdown=!player.countdown">
  <md-icon
    md-svg-icon="countdown">
  </md-icon>
  <md-tooltip md-delay="1500"><span translate="COUNTDOWN"></span></md-tooltip>
</md-button>

<md-button
  md-no-ink
  aria-label="Loop"
  class="toggle-button toolbar-separated-button icon-hover"
  ng-class="{active: player.loop}"
  ng-click="player.loop=!player.loop">
  <md-icon
    md-svg-icon="loop">
  </md-icon>
  <md-tooltip md-delay="1500"><span translate="REPEAT"></span></md-tooltip>
</md-button>

<md-button
  md-no-ink
  aria-label="Loop"
  class="screen-playback toggle-button toolbar-separated-button icon-hover"
  ng-class="{active: player.visibleBeatsOnly}"
  ng-click="
    player.visibleBeatsOnly =! player.visibleBeatsOnly;
    player.visiblePlaybackModeChanged(player.visibleBeatsOnly)
  ">
  <md-icon
    md-svg-icon="screen-playback">
  </md-icon>
  <md-tooltip
    md-delay="1500"
    class="multiline-tooltip">
    <p><b translate="SCREEN_PLAYBACK"></b></p>
    <md-divider></md-divider>
    <p translate="SCREEN_PLAYBACK_DESC"></p>
  </md-tooltip>
</md-button>

<md-menu
  md-position-mode="target target"
  md-offset="10, 0"
  class="playback-range-menu">
  <md-button
    md-no-ink
    aria-label="Selection playback"
    class="toggle-button toolbar-separated-button icon-hover"
    ng-class="{
      active: player.playbackRange.start > 1 || player.playbackRange.end < player.playbackRange.max
    }"
    ng-click="
      initSliders();
      $mdOpenMenu($event)
    ">
    <md-icon md-svg-icon="selection-playback"></md-icon>
    <md-tooltip
      md-delay="1500"
      class="multiline-tooltip">
      <p><b translate="SELECTION_PLAYBACK"></b></p>
      <md-divider></md-divider>
      <p translate="SELECTION_PLAYBACK_DESC"></p>
    </md-tooltip>
  </md-button>
  <md-menu-content
    class="preferences playback-range md-whiteframe-16dp">

    <div
      ng-show="player.mode === 0"
      class="section-range">
      <label translate="ACTIVE_BARS"></label>
      <rzslider
        class="range-slider"
        ng-class="{ long: workspace.section.length > 10 }"
        rz-slider-model="player.playbackRange.start"
        rz-slider-high="player.playbackRange.end"
        rz-slider-options="{
          floor: 1,
          ceil: player.playbackRange.max,
          step: 1,
          minRange: 1,
          pushRange: true,
          showTicks: false,
          onEnd: player.playbackRangeChanged,
          showTicksValues: true
        }">
      </rzslider>
    </div>

    <div
      ng-show="player.mode === 1"
      class="playlist-range">
      <label translate="ACTIVE_SECTIONS"></label>
      <rzslider
        class="range-slider"
        ng-style="{
          height: (36*player.playlist.length)+'px'
        }"
        rz-slider-model="player.playbackRange.start"
        rz-slider-high="player.playbackRange.end"
        rz-slider-options="{
          vertical: true,
          rightToLeft: true,
          floor: 1,
          ceil: player.playbackRange.max,
          step: 1,
          minRange: 1,
          pushRange: true,
          showTicks: true,
          onEnd: player.playbackRangeChanged,
          showTicksValues: true,
          translate: playlistLabel
        }">
      </rzslider>
    </div>
  </md-menu-content>
</md-menu>
<rzslider
  class="playback-slider"
  rz-slider-model="player.progress.value"
  rz-slider-options="{
    floor: 0,
    ceil: player.progress.max,
    step: 1,
    ticksArray: player.progress.ticks,
    getLegend: player.progress.legend,
    showTicks: true,
    showSelectionBar: true,
    showTicksValues: false,
    hideLimitLabels: true,
    hidePointerLabels: true,
    onChange: player.setProgress,
    onEnd: player.progressReleased
  }">
</rzslider>