<div
  ng-init="ui={}">
  <div layout="row">
    <md-input-container
      class="volume-field"
      flex="none">
      <label>Volume</label>
      <input
        type="number"
        min="0"
        max="1"
        step="0.01"
        ng-model="subbeat.volume">
    </md-input-container>
    <md-slider
      class="md-primary"
      ng-model="subbeat.volume"
      aria-label="Volume"
      min="0"
      max="1"
      step="0.01"
      flex>
    </md-slider>
  </div>
  <!-- <md-input-container> -->
  <md-select
    ng-model="subbeat.technique"
    placeholder="Technique">
    <md-option
      ng-repeat="style in playingStyles"
      ng-value="style">
      {{ bass.playingStyles[style].label }}
    </md-option>
  </md-select>
  <ng-include src="bass.playingStyles[subbeat.technique].form"></ng-include>
<!--   <div
    ng-include="'{{ subbeat.technique.form }}'">
  </div> -->
  <!-- </md-input-container> -->
</div>
