<div
  ng-controller="TabsController"
  class="tabs-container">
  <md-button
    aria-label="Tunning"
    class="tabs-tunning-button">
    <p ng-repeat="string in bass.strings">
      {{ string.label }}<sub class="octave-index">{{ string.octave }}</sub><br>
    </p>
  </md-button>

  <div
    layout="row">
    <div
      class="subbeat-tab"
      layout="column"
      style="width: {{ 1 * 100 }}%;"
      ng-repeat="bassSubbeat in bassData">

      <div
        class="tab-top-marker"
        ng-show="subbeat.note.staccato">
        .
      </div>
      <div
        flex
        ng-repeat="subbeat in bassSubbeat | orderBy:string.index:'-'"
        ui-draggable="true"
        drag="subbeat"
        ui-on-drop="onDrop($event, $data, subbeat, bassData)"
        drop-validate="dropValidation(subbeat, $data)"
        ui-on-drag-enter="onDragEnter($event, subbeat)"
        ui-on-drag-leave="onDragLeave($event, subbeat)"

        class="tab-note-container"
        ng-class="{active: subbeat.note.name}"
        ng-style="{
          width: 
            (100*subbeat.note.length*16*(subbeat.note.dotted? 1.5 : 1))+'%'
        }">
        <div
          class="resize-container"
          ng-if="subbeat.note.name && subbeat.note.name !== 'x'"
          resizable
          r-directions="['right']"
          on-resize="onResize(subbeat, info)"
          on-resize-start="onResizeStart(subbeat, info)"
          on-resize-end="onResizeEnd(subbeat, info)">
        </div>
        <!-- <div class="tab-string"></div> -->
        <md-button
          aria-label="Subbeat"
          class="tab-button"
          xng-mouseover="setSubbeatMenu(subbeat)"
          ng-click="openSubbeatMenu($event, subbeat)">
          <md-icon
            md-svg-icon="{{ subbeat.note.name? 'menu-dots' : 'plus' }}">
          </md-icon>
        </md-button>
        {{ subbeat.note.name }}<sub>{{ subbeat.note.octave }}</sub>
      </div>
    </div>
  </div>

  <md-menu id="subbeat-menu">
    <md-button
      ng-init="menu.open=$mdOpenMenu"
      ng-click="$mdOpenMenu($event)"
      aria-label="Note properties">
    </md-button>
    <md-menu-content
      class="subbeat-form-container">
      <div class="subbeat-form" layout="column">
        <div layout="row">
          <md-input-container flex>
            <label class="md-label">Style</label>
            <md-select
              flex
              ng-model="menu.note.style"
              md-on-close="updateNote(menu.subbeat)">
              <md-option
                ng-repeat="style in playingStyles"
                ng-value="style">
                {{ bass.playingStyles[style].label }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button
            md-no-ink
            aria-label="Clear"
            class="clear-button"
            ng-click="clearNote(menu.subbeat)">
            <md-icon
              md-svg-icon="trash">
            </md-icon>
          </md-button>
        </div>

        <div layout="row">
          <md-input-container flex>
            <label class="md-label">Note</label>
            <md-select
              ng-model="menu.note.name"
              md-on-close="menu.note.string=string.index;updateNote(menu.subbeat)">
              <md-option
                ng-repeat="noteLabel in notesLabels"
                ng-value="noteLabel">
                {{ noteLabel }}
              </md-option>
              <md-option value="x">
                Ghost
              </md-option>
            </md-select>
          </md-input-container>
          <div class="horizontal-space"></div>
          <md-input-container flex>
            <label class="md-label">Octave</label>
            <md-select
              ng-if="menu.subbeat"
              ng-model="menu.note.octave"
              md-on-close="updateNote(menu.subbeat)"
              ng-disabled="!menu.note.name || menu.note.name==='x'">
              <md-option
                xng-repeat="octave in bass.notes.notesOctaves[menu.note.name]"
                ng-repeat="octave in bass.noteStringOctaves(menu.note.name, menu.subbeat.string)"
                ng-value="octave">
                {{ octave }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex="30">
            <label class="md-label">Length</label>
            <md-select
              ng-model="menu.note.length"
              md-on-close="checkMeasure(menu.subbeat)"
              ng-disabled="!menu.note.name || menu.note.name==='x'">
              <md-option
                ng-repeat="value in [
                  ['𝅝', 'Whole', 1],
                  ['𝅗𝅥', 'Half', 0.5],
                  ['𝅘𝅥', 'Quarter', 0.25],
                  ['𝅘𝅥𝅮', 'Eighth', 0.125],
                  ['𝅘𝅥𝅯', 'Sixteenth', 0.0625]
                ]"
                ng-value="{{ value[2] }}">
                <span class="note-symbol">{{ ::value[0] }}</span>
                <span class="note-length-title"> {{ value[1] }}</span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-checkbox
            flex="30"
            class="md-primary"
            aria-label="Staccato"
            ng-model="menu.note.dotted"
            ng-disabled="menu.note.name==='x'">
            Dotted
          </md-checkbox>
          <md-checkbox
            flex="40"
            class="md-primary"
            aria-label="Staccato"
            ng-model="menu.note.staccato"
            ng-disabled="menu.note.name==='x'">
            Staccato
          </md-checkbox>
        </div>

        <div layout="row">
          <md-input-container
            class="volume-field"
            flex="none">
            <label>Volume</label>
            <input
              type="number"
              min="0"
              max="1"
              step="0.01"
              ng-model="menu.note.volume">
          </md-input-container>
          <md-slider
            class="md-primary"
            ng-model="menu.note.volume"
            aria-label="Volume"
            min="0"
            max="1"
            step="0.01"
            flex>
          </md-slider>
        </div>
      </div>
    </md-menu-content>
  </md-menu>

  <div
    class="drop-note-area"
    ng-style="{
      width: dropNote.width+'px',
      left: dropNote.left+'px',
      top: dropNote.top+'px',
      opacity: dropNote.visible? 1 : 0
    }">
  </div>
</div>