<md-input-container class="track">
  <label class="md-no-float" translate="TRACK"></label>
  <md-select
    md-no-ink
    aria-label="Track"
    class="tracks-list"
    ng-init="ui.trackId = 'bass_0'"
    ng-model="ui.trackId"
    ng-change="ui.trackId && ui.selectTrack(ui.trackId)"
    md-on-close="ui.trackId = workspace.track.id"
    md-container-class="tracks-list">

    <md-option
      md-no-ink
      ng-repeat="track in project.tracks track by track.id"
      type="{{ ::track.type }}"
      ng-value="track.id">
      <md-icon md-svg-icon="{{ ::track.instrument.icon || track.type }}"></md-icon>
      {{ track.name }}
    </md-option>

    <md-divider></md-divider>
    <div
      layout="row"
      class="track-split-item">
      <md-option
        ng-value="false"
        ng-click="addTrackDialog($event)">
        <md-icon md-svg-icon="plus"></md-icon>
        <span translate="NEW"></span>
      </md-option>
      <md-option
        ng-value="false"
        ng-click="removeTrack(ui.trackId)">
        <md-icon md-svg-icon="x"></md-icon>
        <span translate="REMOVE"></span>
      </md-option>
    </div>

  </md-select>
</md-input-container>

<md-menu
  md-offset="0 10"
  ng-init="instrument = null">
  <md-button
    md-no-ink
    aria-label="Volume"
    class="preferences icon-hover toolbar-button"
    ng-disabled="workspace.track.type === 'drums'"
    ng-click="
      instrument = workspace.track.instrument;
      $mdOpenMenu($event)
    ">
    <md-icon
      md-svg-icon="options">
    </md-icon>
    <md-tooltip md-delay="1500">
      <span translate="INSTRUMENT_PREFERENCES"></span>
    </md-tooltip>
  </md-button>
<!--   <md-menu-content
    width="4"
    class="preferences md-whiteframe-16dp">
    <div
      ng-if="instrument === workspace.track.instrument"
      ng-switch="workspace.track.type">
      <div ng-switch-when="bass">
        <ng-include src="'views/bass_settings.html'"></ng-include>
      </div>
      <div ng-switch-when="piano">
        <ng-include src="'views/piano_settings.html'"></ng-include>
      </div>
    </div>
  </md-menu-content> -->
  <md-menu-content
    width="4"
    class="preferences md-whiteframe-16dp"
    ng-switch="workspace.track.type">
    <div ng-switch-when="bass">
      <ng-include src="'views/bass_settings.html'"></ng-include>
    </div>
    <!-- Piano settings requires reinitialization -->
    <div
      ng-switch-when="piano"
      ng-if="instrument === workspace.track.instrument">
      <ng-include src="'views/piano_settings.html'"></ng-include>
    </div>
  </md-menu-content>
</md-menu>

<md-menu
  md-offset="10 10">
  <md-button
    md-no-ink
    aria-label="Volume"
    class="preferences icon-hover toolbar-separated-button"
    ng-click="
      initSliders();
      $mdOpenMenu($event)
    ">
    <md-icon
      md-svg-icon="volume-medium">
    </md-icon>
    <md-tooltip
      md-delay="1500"
      class="multiline-tooltip">
      <p><b translate="VOLUME_PREFERENCES"></b></p>
      <md-divider></md-divider>
      <p translate="VOLUME_PREFERENCES_DESC"></p>
    </md-tooltip>
  </md-button>

  <md-menu-content
    md-no-ink
    width="4"
    class="preferences md-whiteframe-16dp">
    <md-list>

      <md-list-item
        ng-repeat="track in project.tracks track by track.id"
        class="volume-field bottom-border">
        <label>
          <md-icon
            style="padding-right: 8px;"
            md-svg-icon="{{ ::track.instrument.icon || track.type }}">
          </md-icon>
          {{ track.name }}
        </label>
        <rzslider
          rz-slider-model="track.audio.gain.value"
          rz-slider-options="{
            floor: 0,
            ceil: 1,
            step: 0.01,
            precision: 2,
            hideLimitLabels: true,
            hidePointerLabels: true,
            showSelectionBar: true,
            disabled: track.muted,
            scale: ui.scale
          }">
        </rzslider>
        <md-button
          md-no-ink
          aria-label="Mute"
          class="mute-button"
          ng-class="{active: !track.muted}"
          md-prevent-menu-close
          ng-click="toggleVolumeMute(track)">
          <md-icon
            md-svg-icon="{{ track.muted? 'volume-mute' : 'volume-medium' }}">
          </md-icon>
        </md-button>
      </md-list-item>

      <md-list-item
        class="volume-field bottom-border"
        ng-class="{ 'audio-track': project.audioTrack }"
        bd-binary-file-drop="addAudioTrack($file)">
        <label>Audio Track</label>
        <rzslider ng-if-start="project.audioTrack"
          rz-slider-model="project.audioTrack.audio.gain.value"
          rz-slider-options="{
            floor: 0,
            ceil: 1,
            step: 0.01,
            precision: 2,
            hideLimitLabels: true,
            hidePointerLabels: true,
            showSelectionBar: true,
            disabled: project.audioTrack.muted,
            scale: ui.scale
          }">
        </rzslider>
        <md-button
          md-no-ink
          aria-label="Mute"
          class="mute-button"
          ng-class="{active: !project.audioTrack.muted}"
          md-prevent-menu-close
          ng-click="toggleVolumeMute(project.audioTrack)">
          <md-icon
            md-svg-icon="{{ project.audioTrack.muted? 'volume-mute' : 'volume-medium' }}">
          </md-icon>
        </md-button>
        <div
          ng-if-end
          layout="row"
          class="time-field">
          <md-input-container>
            <label class="md-no-float">Minute</label>
            <input
              type="number"
              min="0"
              ng-model="project.audioTrack.start[0]">
          </md-input-container>
          <span> : </span>
          <md-input-container>
            <label class="md-no-float">Second</label>
            <input
              type="number"
              min="0"
              ng-model="project.audioTrack.start[1]">
          </md-input-container>
          <span>:</span>
          <md-input-container>
            <label class="md-no-float">Milisecond</label>
            <input
              type="number"
              min="0"
              step="10"
              ng-model="project.audioTrack.start[2]"
              bd-disable-step-validator>
          </md-input-container>
        </div>
        <p
          ng-if="!project.audioTrack"
          class="drop-area">
          <small>Drag audio file</small>
        </p>
      </md-list-item>

      <md-list-item
        class="volume-field bottom-border">
        <label translate="INPUT_VOLUME"></label>
        <rzslider
          rz-slider-model="player.input.audio.gain.value"
          rz-slider-options="{
            floor: 0,
            ceil: 1,
            step: 0.01,
            precision: 2,
            hideLimitLabels: true,
            hidePointerLabels: true,
            showSelectionBar: true,
            disabled: player.input.muted,
            scale: ui.scale
          }">
        </rzslider>
        <md-button
          md-no-ink
          aria-label="Mute"
          class="mute-button"
          ng-class="{active: !player.input.muted}"
          md-prevent-menu-close
          ng-click="toggleInputMute(player.input)">
          <md-icon
            md-svg-icon="{{ player.input.muted? 'volume-mute' : 'volume-medium' }}">
          </md-icon>
        </md-button>
      </md-list-item>
    </md-list>

  </md-menu-content>
</md-menu>
