<md-list class="tracks-mixer preferences">

  <md-list-item
    ng-repeat="track in project.tracks track by track.id"
    class="volume-field bottom-border">
    <label>
      <md-icon
        style="padding-right: 8px;"
        md-svg-icon="{{ ::track.instrument.icon || track.type }}">
      </md-icon>
      {{ track.name }}
    </label>
    <rzslider
      rz-slider-model="track.audio.gain.value"
      rz-slider-options="{
        floor: 0,
        ceil: 1,
        step: 0.01,
        precision: 2,
        hideLimitLabels: true,
        hidePointerLabels: true,
        showSelectionBar: true,
        disabled: track.muted
      }">
    </rzslider>
    <md-button
      md-no-ink
      aria-label="Mute"
      class="mute-button"
      ng-class="{active: !track.muted}"
      ng-click="toggleVolumeMute(track)">
      <md-icon
        md-svg-icon="{{ track.muted? 'volume-mute' : 'volume-medium' }}">
      </md-icon>
    </md-button>
  </md-list-item>

  <md-list-item
    ng-if="runtime.desktop || project.audioTrack"
    class="volume-field bottom-border audio-track"
    xbd-binary-file-drop="addFileAudioTrack($file)"
    bd-data-url-file-drop="addFileAudioTrack($file)">
    <label>
      <ng-switch on="project.audioTrack.source.type">
        <md-icon
          ng-switch-when="youtube"
          style="padding-right: 8px;"
          md-svg-icon="youtube">
        </md-icon>
        <md-icon
          ng-switch-when="file"
          style="padding-right: 8px;"
          md-svg-icon="audio-file">
        </md-icon>
      </ng-switch>Audio Track
    </label>
    <div style="width:100%" class="layout-row">
      <rzslider
        ng-if-start="project.audioTrack"
        rz-slider-model="project.audioTrack.audio.gain.value"
        rz-slider-options="{
          floor: 0,
          ceil: 1,
          step: 0.01,
          precision: 2,
          hideLimitLabels: true,
          hidePointerLabels: true,
          showSelectionBar: true,
          disabled: project.audioTrack.muted
        }">
      </rzslider>
      <md-button
        ng-if-end
        md-no-ink
        aria-label="Mute"
        class="mute-button"
        ng-class="{active: !project.audioTrack.muted}"
        ng-click="toggleVolumeMute(project.audioTrack)">
        <md-icon
          md-svg-icon="{{ project.audioTrack.muted? 'volume-mute' : 'volume-medium' }}">
        </md-icon>
      </md-button>
    </div>

    <div
      class="extra-fields layout-row"
      ng-if="runtime.desktop && project.audioTrack">
      <md-button
        md-no-ink
        class="icon-hover"
        ng-click="openSyncPreferences($event)">
        <md-icon md-svg-icon="watch"></md-icon>
        <md-tooltip md-delay="1500" md-direction="top">
          <span xtranslate="SYNCHRONIZE">Synchronize timing</span>
        </md-tooltip>
      </md-button>
      <small
        ng-if-start="player.mode === 0"
        style="opacity: 0.5;padding-bottom: 0.3rem">{{ ::syncInfo() }}
      </small>
      <span ng-if-end flex></span>
      <md-button
        md-no-ink
        style="padding:0"
        class="icon-hover"
        aria-label="Remove"
        ng-click="removeAudioTrack()">
        <md-icon md-svg-icon="trash"></md-icon>
        <md-tooltip md-delay="1500" md-direction="top">
          <span xtranslate="SYNCHRONIZE">Remove Track</span>
        </md-tooltip>
      </md-button>
    </div>

<!--     <div
      ng-if="runtime.desktop && project.audioTrack && player.mode === 0"
      layout="row"
      class="time-field">
      <md-input-container>
        <label class="md-no-float">Minute</label>
        <input
          type="number"
          min="0"
          ng-model="workspace.section.audioTrack.start[0]">
      </md-input-container>
      <span> : </span>
      <md-input-container>
        <label class="md-no-float">Second</label>
        <input
          type="number"
          min="0"
          ng-model="workspace.section.audioTrack.start[1]">
      </md-input-container>
      <span>:</span>
      <md-input-container>
        <label class="md-no-float">Milisecond</label>
        <input
          type="number"
          min="0"
          step="10"
          ng-model="workspace.section.audioTrack.start[2]"
          bd-disable-step-validator>
      </md-input-container>
      <md-button
        md-no-ink
        style="padding:0"
        class="icon-hover"
        aria-label="Remove"
        ng-click="removeAudioTrack()">
        <md-icon md-svg-icon="x"></md-icon>
      </md-button>
    </div> -->

    <p
      ng-if="!project.audioTrack"
      class="drop-area">
      <span style="position: relative; display:inline-block; width:1.85rem; height:1.85rem; line-height: 1.6rem;">
        <md-icon
          style="fill:#000; width: 100%; height: 100%;"
          md-svg-icon="audio-file2">
        </md-icon>
        <input type="file" name="file" placeholder="open file"
          style="position: absolute; left:0; top: 0; width:100%; height: 100%; opacity:0.01; cursor:pointer; overflow: hidden;" />
      </span>

      &nbsp;/&nbsp;
      <md-icon
        style="fill:#000;width:1.85rem;height:1.85rem;cursor:pointer"
        md-svg-icon="youtube"
        ng-click="addYoutubeTrack()">
      </md-icon>
    </p>
  </md-list-item>

  <md-list-item
    ng-if="::runtime.desktop"
    class="volume-field bottom-border">
    <label translate="INPUT_VOLUME"></label>
    <rzslider
      rz-slider-model="input.audio.gain.value"
      rz-slider-options="{
        floor: 0,
        ceil: 1,
        step: 0.01,
        precision: 2,
        hideLimitLabels: true,
        hidePointerLabels: true,
        showSelectionBar: true,
        disabled: input.muted
      }">
    </rzslider>
    <md-button
      md-no-ink
      aria-label="Mute"
      class="mute-button"
      ng-class="{active: !input.muted}"
      ng-click="toggleInputMute(input)">
      <md-icon
        md-svg-icon="{{ input.muted? 'volume-mute' : 'volume-medium' }}">
      </md-icon>
    </md-button>
  </md-list-item>

</md-list>
