<md-menu
  md-position-mode="target target"
  md-offset="-5 10"
  class="beat-menu">
  <div class="button"
    aria-label="Menu"
    ng-init="contextMenu.show = $mdOpenMenu"
    ng-click="$mdOpenMenu($event)">
    <offset
      md-menu-origin
      style="position:absolute;width:5px;height:5px;">
    </offset>
  </div>
  <md-menu-content
    md-no-ink
    width="3"
    class="md-whiteframe-16dp beat-menu-content">

    <md-menu-item class="menu-group-item">
      <md-divider></md-divider>
      <div layout="row">
        <span flex></span>
        <span
          flex="none"
          class="group-item-title"
          translate="BEAT">
        </span>
        <span flex="5"></span>
      </div>
    </md-menu-item>

    <md-menu-item>
      <md-menu>
        <md-menu-item>
          <md-button
            aria-label="Subdivision"
            class="submenu-trigger-button"
            ng-click="$mdOpenMenu()"
            translate="SUBDIVISION">
          </md-button>
          <!-- <md-icon class="expand-icon" md-svg-icon="arrow-right-fill"></md-icon> -->
          <span class="expand-arrow">▶</span>
        </md-menu-item>
        <md-menu-content>
          <md-menu-item
            type="radio"
            class="md-indent"
            ng-model="contextMenu.beat.subdivision"
            ng-value="4"
            ng-change="contextMenu.beat.grid = contextMenu.beat.grid? contextMenu.beat.subdivision*2 : undefined">
            <md-icon md-svg-icon="check"></md-icon>
            <md-button
              aria-label="Standard"
              translate="SUBDIVISION_STANDARD">
            </md-button>
          </md-menu-item>

          <md-menu-item
            type="radio"
            class="md-indent"
            ng-model="contextMenu.beat.subdivision"
            ng-value="3"
            ng-change="contextMenu.beat.grid = contextMenu.beat.grid? contextMenu.beat.subdivision*2 : undefined">
            <md-icon md-svg-icon="check"></md-icon>
            <md-button
              aria-label="Triplet"
              translate="SUBDIVISION_TRIPLET">
            </md-button>
          </md-menu-item>

          <md-divider></md-divider>
          <md-menu-item
            type="checkbox"
            class="md-indent"
            ng-click="contextMenu.beat.grid = contextMenu.beat.grid? undefined : contextMenu.beat.subdivision*2">
            <md-icon md-svg-icon="check" ng-show="contextMenu.beat.grid"></md-icon>
            <md-button
              aria-label="Triplet"
              translate="DOUBLE_GRID">
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>
    </md-menu-item>
    <md-menu-item>
      <md-button
        aria-label="Label"
        ng-click="labelEditor($event)"
        translate="COMMENT">
      </md-button>
    </md-menu-item>

    <md-menu-item class="menu-group-item">
      <md-divider></md-divider>
      <div layout="row">
        <span flex></span>
        <span
          flex="none"
          class="group-item-title"
          translate="BAR">
        </span>
        <span flex="5"></span>
      </div>
    </md-menu-item>

    <md-menu-item>
      <md-button
        aria-label="Copy"
        ng-click="copyBar()"
        translate="COPY">
      </md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button
        aria-label="Paste"
        ng-disabled="workspace.clipboard.length === 0 || workspace.clipboard.type !== workspace.trackSection.type"
        ng-click="pasteBar()"
        translate="PASTE">
      </md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button
        aria-label="Clear"
        ng-click="clearBar()"
        translate="CLEAR">
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>