<div
  ng-if="slide.initialized"
  sly-show="slide.visible"
  ng-keyup="keyPressed($event)"
  class="bass">
  <div class="string-container">
    <div
      ng-repeat="string in workspace.track.instrument.strings track by string.index"
      class="bass-string">
    </div>
  </div>

  <div
    class="subbeats-container"
    layout="column"
    ng-repeat="bassSubbeats in ::slide.beat.subbeats track by $index">

    <div
      ng-repeat="string in workspace.track.instrument.strings | orderBy:string.index:'-' track by string.index"
      id="bass_{{::slide.beat.bar}}_{{::slide.beat.beat}}_{{::$parent.$index+1}}_{{::string.label}}"

      ng-init="grid={
        bar: slide.beat.bar,
        beat: slide.beat.beat,
        subbeat: $parent.$index+1,
        string: string,
        sound: bassSubbeats[string.label].sound
      }"
      class="bass-subbeat string-{{ ::string.index }}"
      ng-style="{
        left: (($parent.$index/slide.beat.subdivision)*(slide.beat.subdivision===4? 100 : 150))+'%'
      }">
      <div
        class="bass-grid"
        drop-channel="bassboard,fretboard"
        drop-validate="dropValidation(workspace.track.instrument, grid, $data)"
        ui-on-drag-enter="onDragEnter(slide.beat, grid, $event)"
        ui-on-drag-leave="onDragLeave(slide.beat, grid, $event)"
        ui-on-drop="onDrop($event, $data, grid)">

        <md-button
          md-no-ink
          aria-label="Sound"
          class="bass-button"
          ng-click="openBassSoundMenu($event, grid, bass)"
          ng-right-click="openBassSoundMenu($event, grid, bass)">+
        </md-button>
      </div>

      <div
        ng-if="grid.sound.note"
        class="bass-sound-wrapper"
        ng-class="[{
            selected: workspace.selected.grid === grid,
            staccato: grid.sound.noteLength.staccato
          },
          grid.sound.note.type,
          grid.sound.style
        ]"
        ng-style="{
          width: (100 * workspace.section.timeSignature.bottom * grid.sound.noteLength.beatLength)+'%'
        }">

        <div
          class="top-label">
        </div>

        <div
          ui-draggable="true"
          drag="grid"
          drag-channel="bassboard"

          ng-attr-octave="{{ grid.sound.note.octave }}"
          class="bass-sound-container"
          ng-click="selectGrid($event, grid);$event.stopPropagation()"
          ng-right-click="openBassSoundMenu($event, grid, bass)">

          <div class="resize-handler">
<!--             <div>❮</div>
            <div>❯</div> -->
            <div>◀</div>
            <div>▶</div>
          </div>

          <div
            class="resize-container"
            resizable
            r-directions="['right']"
            on-resize="onResize(grid, info, $event)"
            on-resize-start="onResizeStart(grid, info, slide.beat.subdivision, $event)"
            on-resize-end="onResizeEnd(grid, info, $event)"
            r-grabber="<div></div>">
          </div>

          <bd-sound-label sound="grid.sound" string="string"></bd-sound-label>

        </div>
      </div>

    </div>
  </div>

</div>