<div
  ng-if="slide.initialized"
  class="bass sounds-container"
  ng-keyup="keyPressed($event)"
  ng-init="beat = workspace.trackSection.beat(slide.beat.bar, slide.beat.beat)">
  <div class="string-container"
    ng-click="bassForm.openNew($event, beat, bass)">
    <div
      ng-repeat="string in workspace.track.instrument.strings | orderBy:string.index:'-' track by string.index"
      class="bass-string"
      drop-channel="bass.instrument,bass.editor"
      ui-on-drag-enter="dragHandler.onDragEnter($event, beat, string)"
      ui-on-drag-over="dragHandler.onDragOver($event, beat, string)"
      ui-on-drop="dragHandler.onDrop($event, beat, string)">
    </div>

    <div
      class="bass-grid"
      ng-switch="beat.grid || beat.subdivision">
      <svg width="100%" height="100%" ng-switch-when="4">
        <defs>
          <pattern id="grid-4" x="12.5%" y="0" width="25%" height="2.25em" patternUnits="userSpaceOnUse">
            <circle cx="1.063em" cy="1.125em" r="1em" fill="#fff" stroke="#ddd"/>
            <line x1="0.813em" y1="1.156em" x2="1.375em" y2="1.156em" stroke="#ddd"/>
            <line x1="1.094em" y1="0.875em" x2="1.094em" y2="1.438em" stroke="#ddd"/>
          </pattern>
        </defs>
        <rect
          class="grid-4"
          style="transform: translate(-1.063em, 0)"
          fill="url(#grid-4)"
          width="110%"
          height="100%"
        />
      </svg>
      <svg width="100%" height="100%" ng-switch-when="3">
        <defs>
          <pattern id="grid-3" x="16.67%" y="0" width="33.33%" height="2.25em" patternUnits="userSpaceOnUse">
            <circle cx="1.063em" cy="1.125em" r="1em" fill="#fff" stroke="#ddd"/>
            <line x1="0.813em" y1="1.156em" x2="1.375em" y2="1.156em" stroke="#ddd"/>
            <line x1="1.094em" y1="0.875em" x2="1.094em" y2="1.438em" stroke="#ddd"/>
          </pattern>
        </defs>
        <rect
          class="grid-3"
          style="transform: translate(-1.063em, 0)"
          fill="url(#grid-3)"
          width="110%"
          height="100%"
        />
      </svg>
      <svg width="100%" height="100%" ng-switch-when="6">
        <defs>
          <pattern id="grid-6" x="8.33%" y="0" width="16.66%" height="2.25em" patternUnits="userSpaceOnUse">
            <circle cx="1.063em" cy="1.125em" r="0.688em" fill="#fff" stroke="#ddd"/>
            <line x1="0.813em" y1="1.156em" x2="1.375em" y2="1.156em" stroke="#ddd"/>
            <line x1="1.094em" y1="0.875em" x2="1.094em" y2="1.438em" stroke="#ddd"/>
          </pattern>
        </defs>
        <rect
          class="grid-6"
          style="transform: translate(-1.063em, 0)"
          fill="url(#grid-6)"
          width="110%"
          height="100%"
        />
      </svg>
      <svg width="100%" height="100%" ng-switch-when="8">
        <defs>
          <pattern id="grid-8" x="6.25%" y="0" width="12.5%" height="2.25em" patternUnits="userSpaceOnUse">
            <circle cx="1.063em" cy="1.125em" r="0.688em" fill="#fff" stroke="#ddd"/>
            <line x1="0.813em" y1="1.156em" x2="1.375em" y2="1.156em" stroke="#ddd"/>
            <line x1="1.094em" y1="0.875em" x2="1.094em" y2="1.438em" stroke="#ddd"/>
          </pattern>
        </defs>
        <rect
          class="grid-8"
          style="transform: translate(-1.063em, 0)"
          fill="url(#grid-8)"
          width="110%"
          height="100%"
        />
      </svg>
    </div>

  </div>

  <div
    ng-repeat="sound in beat.data track by (sound.string + sound.start)"
    class="sound-container"
    ng-class="[{
        staccato: sound.note.staccato
      },
      sound.note.type,
      sound.style,
      'string-'+workspace.track.instrument.stringIndex[sound.string]
    ]"
    ng-attr-octave="{{ sound.note.octave }}"
    ng-style="{
      left: (100*(sound.start+sound.offset))+'%',
      width: (100*(sound.end - sound.start-sound.offset))+'%'
    }"

    ui-draggable="true"
    drag="sound"
    drag-channel="bass.editor"

    ng-click="selectSound($event, sound)"
    ng-right-click="bassForm.open($event, sound, bass)">

    <div class="top-label"></div>

    <div class="bottom-label">
      <label>{{ ::(sound.meta || '') }}</label>
      <i ng-class="
        [Note.map[sound.note.length],
        { dotted: sound.note.dotted }]">
      </i>
    </div>

    <bd-sound-label sound="sound" string="workspace.track.instrument.strings[sound.string]"></bd-sound-label>

    <div
      class="resize-container"
      resizable
      r-directions="['right']"
      on-resize="resizeHandler.onResize(sound, info)"
      on-resize-start="
        selectSound({target: info.element[0]}, sound);
        resizeHandler.onResizeStart(sound, info)
      "
      on-resize-end="resizeHandler.onResizeEnd(sound, info, $event)"
      r-grabber="<div></div>">
    </div>

    <div class="resize-handler">
      <div>◀</div>
      <div>▶</div>
    </div>

  </div>

</div>