<div
  layout="column"
  class="bass-sound-form md-whiteframe-16dp"
  tabindex="0"
  md-autofocus
  ng-keyup="keyPressed($event)">
  <div layout="row">
    <md-input-container flex>
      <label translate="PLAYING_STYLE"></label>
      <md-select
        flex
        md-no-ink
        ng-model="sound.style"
        md-on-close="soundStyleChanged(sound.style)">
        <md-option
          ng-repeat="style in ::bass.playingStyles"
          ng-value="::style.name"
          ng-attr-translate="{{ ::style.label }}">
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label translate="MUSIC_NOTE"></label>
      <md-select
        flex
        md-no-ink
        ng-model="sound.note.type"
        md-on-close="noteTypeChanged()">
        <md-option
          ng-repeat="item in ::['regular', 'ghost', 'slide', 'grace', 'bend', 'harmonics']"
          ng-value="item"
          ng-attr-translate="{{ ::item | uppercase }}">
        </md-option>
      </md-select>
    </md-input-container>
  </div>

  <md-input-container ng-if="sound.note.type === 'ghost'">
    <label translate="FRET"></label>
    <input
      type="number"
      min="0"
      max="24"
      step="1"
      ng-model="sound.note.fret">
  </md-input-container>

  <div
    layout="row"
    ng-if="sound.note.type !== 'ghost'">
    <md-input-container
      flex
      class="selectbox-spinner">
      <label translate="NOTE_PITCH"></label>
      <md-select
        md-no-ink
        md-container-class="note-select-menu"
        ng-model="sound.note.code"
        md-on-close="soundPitchChanged(sound.note)"
        ng-disabled="!sound.note.type || sound.style === 'ring' || sound.note.type === 'ghost'">
        <div
          ng-repeat="note in fretsStringNotes"
          layout="row">
          <span class="fret-index">( {{ ::$index }} )</span>

          <md-option
            flex
            ng-if-end
            ng-value="note[0].code">
            {{ ::note[0].name }} <sub>{{ ::note[0].octave }}</sub>
          </md-option>
          <span
            ng-if-start="note[1]">/
          </span>
          <md-option
            flex
            ng-if-end
            ng-value="note[1].code">
            {{ ::note[1].name }} <sub>{{ ::note[1].octave }}</sub>
          </md-option>
        </div>
      </md-select>

      <div
        class="buttons-spinner"
        layout="column">
        <md-button
          aria-label="Next note"
          md-prevent-menu-close
          ng-click="nextNote(sound.note)">
          <md-icon md-svg-icon="arrow-up"></md-icon>
        </md-button>
        <md-button
          aria-label="Previous note"
          md-prevent-menu-close
          ng-click="prevNote(sound.note)">
          <md-icon md-svg-icon="arrow-down"></md-icon>
        </md-button>
      </div>
    </md-input-container>

    <md-input-container
      flex
      class="selectbox-spinner"
      ng-if="sound.note.type === 'slide' || sound.note.type === 'grace'"
      ng-init="
        sound.endNote = sound.endNote || {
          code: sound.note.code,
          name: sound.note.name,
          octave: sound.note.octave,
          fret: sound.note.fret
        }">
      <label class="md-label" translate="END_PITCH"></label>
      <md-select
        md-container-class="note-select-menu"
        ng-model="sound.endNote.code"
        md-on-close="soundPitchChanged(sound.endNote)"
        >
        <div
          ng-repeat="note in fretsStringNotes"
          layout="row">
          <span class="fret-index">( {{ ::$index }} )</span>
          
          <md-option
            flex
            ng-if-end 
            ng-value="note[0].code">
            {{ ::note[0].name }} <sub>{{ ::note[0].octave }}</sub>
          </md-option>
          <span
            ng-if-start="note[1]">/
          </span>
          <md-option
            flex
            ng-if-end 
            ng-value="note[1].code">
            {{ ::note[1].name }} <sub>{{ ::note[1].octave }}</sub>
          </md-option>
        </div>
      </md-select>
      <div
        class="buttons-spinner"
        layout="column">
        <md-button
          aria-label="Next note"
          md-prevent-menu-close
          ng-click="nextNote(sound.endNote)">
          <md-icon md-svg-icon="arrow-up"></md-icon>
        </md-button>
        <md-button
          aria-label="Previous note"
          md-prevent-menu-close
          ng-click="prevNote(sound.endNote)">
          <md-icon md-svg-icon="arrow-down"></md-icon>
        </md-button>
      </div>
    </md-input-container>
  </div>

  <md-input-container
    ng-if="sound.note.type === 'slide'"
    ng-init="
      sound.note.slide.start = sound.note.slide.start || 0.2;
      sound.note.slide.end = sound.note.slide.end || 0.8
    ">
    <label class="md-no-float" translate="SLIDE_TIMING"></label>
    <div class="slide-graph line-editor"
      ng-class="{down: sound.endNote.fret < sound.note.fret }">
      <rzslider
        class="point-node"
        rz-slider-model="sound.note.slide.start"
        rz-slider-high="sound.note.slide.end"
        rz-slider-options="{
          floor: 0.01,
          ceil: 0.99,
          step: 0.01,
          precision: 2,
          minRange: 0.2,
          pushRange: true,
          showTicks: false,
          showTicksValues: false,
          hidePointerLabels: true,
          hideLimitLabels: true,
          onEnd: slideChanged
        }">
      </rzslider>
      <svg class="graph">
        <line
          x1="0" y1="100%"
          ng-attr-x2="{{ sound.note.slide.start*100 }}%" y2="100%" />
        <line
          ng-attr-x1="{{ sound.note.slide.start*100 }}%" y1="100%"
          ng-attr-x2="{{ sound.note.slide.end*100 }}%" y2="0" />
        <line
          ng-attr-x1="{{ sound.note.slide.end*100 }}%" y1="0"
          x2="100%" y2="0" />
      </svg>
    </div>
  </md-input-container>

  <md-input-container
    ng-if="sound.note.type === 'bend'"
    layout="row"
    class="line-editor-field"
    ng-init="
      sound.note.bend = sound.note.bend.pop? sound.note.bend : [0,0,0,0];
      updateLineEditor()
    ">
    <label class="md-no-float" translate="BEND_GRAPH"></label>
    <div
      flex
      layout="row"
      class="line-editor">
      <svg
        class="graph">
        <line class="border" x1="-4%" y1="0" x2="104%" y2="0" />
        <line class="border" x1="-4%" y1="50%" x2="104%" y2="50%" opacity="0.5"/>
        <line class="border" x1="-4%" y1="100%" x2="104%" y2="100%" />
        <line
          ng-repeat="point in sound.note.bend track by $index"
          ng-if="!$last"
          ng-attr-x1="{{ 100 * $index / (sound.note.bend.length-1) }}%"
          ng-attr-y1="{{ 100 * (1 - sound.note.bend[$index]/2) }}%"
          ng-attr-x2="{{ 100 * ($index + 1) / (sound.note.bend.length-1) }}%"
          ng-attr-y2="{{ 100 * (1 - sound.note.bend[$index+1]/2) }}%" />
      </svg>
      <rzslider
        ng-repeat-start="node in sound.note.bend track by $index"
        class="point-node"
        rz-slider-model="sound.note.bend[$index]"
        rz-slider-options="{
          vertical: true,
          floor: 0,
          ceil: 2,
          step: 0.01,
          precision: 2,
          hideLimitLabels: true,
          hidePointerLabels: true
        }">
      </rzslider>
      <span ng-repeat-end flex></span>
    </div>
    <div
      class="buttons-spinner"
      layout="column">
      <md-button
        aria-label="More points"
        md-prevent-menu-close
        ng-click="
          sound.note.bend.push(0);
          updateLineEditor()
        ">
        <md-icon md-svg-icon="plus"></md-icon>
      </md-button>
      <md-button
        aria-label="Less points"
        md-prevent-menu-close
        ng-click="
          sound.note.bend.splice(bend.length-1, 1);
          updateLineEditor()
        ">
        <md-icon md-svg-icon="minus"></md-icon>
      </md-button>
    </div>
  </md-input-container>

  <div
    layout="row"
    ng-disabled="!sound.note.type || sound.note.type === 'ghost'">
    <md-input-container flex="35">
      <label
        class="md-label"
        translate="NOTE_LENGTH">
      </label>
      <md-select
        md-no-ink
        ng-model="sound.note.length"
        md-on-close="soundLengthChanged(sound)">
        <md-option
          ng-repeat="note in ::[
            Note.Whole,
            Note.Half,
            Note.Quarter,
            Note.Eighth,
            Note.Sixteenth,
            Note.ThirtySecond
          ]"
          ng-value="{{ ::note.value }}">
          <i class="{{ ::note.symbol }}"></i>
          <span
            class="note-length-title"
            ng-attr-translate="{{ ::note.label }}">
          </span>
        </md-option>
      </md-select>
    </md-input-container>
    <md-checkbox
      flex="30"
      aria-label="Staccato"
      ng-model="sound.note.dotted"
      ng-change="soundLengthChanged(sound)">
      <span translate="DOTTED_NOTE"></span>
    </md-checkbox>
    <md-checkbox
      flex="40"
      aria-label="Staccato"
      ng-model="sound.note.staccato">
      <span translate="STACCATO_NOTE"></span>
    </md-checkbox>
  </div>

  <div layout="row">
    <md-input-container
      flex="none"
      class="volume-field">
      <label class="md-no-float" translate="VOLUME"></label>
      <input
        type="number"
        min="0"
        max="1"
        step="0.01"
        ng-model="sound.volume"
        bd-disable-step-validator
        ng-disabled="sound.style === 'ring'">
    </md-input-container>

    <rzslider
      class="volume-slider"
      rz-slider-model="sound.volume"
      rz-slider-options="{
        floor: 0,
        ceil: 1,
        step: 0.01,
        precision: 2,
        enforceStep: false,
        hideLimitLabels: true,
        hidePointerLabels: true,
        disabled: sound.style === 'ring',
        scale: ui.scale
      }">
    </rzslider>
    <md-input-container class="play-field">
      <label class="md-no-float" translate="PLAY"></label>
      <md-button
        md-no-ink
        aria-label="Play"
        class="play-button icon-hover"
        md-prevent-menu-close
        ng-click="playSound()">
        <md-icon md-svg-icon="play"></md-icon>
      </md-button>
    </md-input-container>
  </div>
</div>
