<div class="bass sounds-container">
  <div class="string-container"
    ng-click="bassForm.openNew($event, vm.beat, bass)">
    <div
      ng-repeat="string in vm.instrument.strings | orderBy:string.index:'-' track by string.index"
      class="bass-string"
      drop-channel="bass.instrument,bass.editor"
      ui-on-drag-over="dragHandler.onDragOver($event, vm.beat, string)"
      ui-on-drop="dragHandler.onDrop($event, vm.beat, string)">
    </div>

    <div
      class="bass-grid"
      ng-switch="vm.beat.grid || vm.beat.subdivision">

      <svg width="100%" height="100%" ng-switch-when="3">
        <use
          ng-repeat="i in [0,1,2,3,4,5]"
          ng-attr-y="{{ ::(i*2.25) }}em"
          xlink:href="#bass-grid-3"/>
      </svg>

      <svg width="100%" height="100%" ng-switch-when="4">
        <use
          ng-repeat="i in [0,1,2,3,4,5]"
          ng-attr-y="{{ ::(i*2.25) }}em"
          xlink:href="#bass-grid-4"/>
      </svg>

      <svg width="100%" height="100%" ng-switch-when="6">
        <use
          ng-repeat="i in [0,1,2,3,4,5]"
          ng-attr-y="{{ ::(i*2.25) }}em"
          xlink:href="#bass-grid-6"/>
      </svg>

      <svg width="100%" height="100%" ng-switch-when="8">
        <use
          ng-repeat="i in [0,1,2,3,4,5]"
          ng-attr-y="{{ ::(i*2.25) }}em"
          xlink:href="#bass-grid-8"/>
      </svg>
    </div>

  </div>

  <div
    ng-repeat="sound in vm.beat.data"
    sound-model="sound"
    class="sound-container"
    ng-class="[{
        staccato: sound.note.staccato,
        selected: sound.selected
      },
      sound.note.type,
      sound.style,
      'string-'+vm.instrument.stringIndex[sound.string]
    ]"
    ng-attr-octave="{{ sound.note.octave }}"
    ng-style="{
      left: (100*(sound.start+sound.offset))+'%',
      width: (100*(sound.end - sound.start-sound.offset))+'%'
    }"

    ui-draggable="true"
    drag="clickHandler.all.indexOf(sound) !== -1? clickHandler.all : [sound]"
    drag-channel="bass.editor"

    ng-click="clickHandler.clickSelect($event, sound)"
    ng-right-click="bassForm.open($event, sound, bass)">

    <div class="top-label"></div>

    <div class="bottom-label">
      <label>{{ ::(sound.meta || '') }}</label>
      <i ng-class="
        [Note.map[sound.note.length],
        { dotted: sound.note.dotted }]">
      </i>
    </div>

    <bd-sound-label sound="sound" string="vm.instrument.strings[sound.string]"></bd-sound-label>

    <div
      class="resize-container"
      resizable
      r-directions="['right']"
      on-resize="resizeHandler.onResize(sound, info)"
      on-resize-start="
        clickHandler.select(sound);
        resizeHandler.onResizeStart(sound, info)
      "
      on-resize-end="resizeHandler.onResizeEnd(sound, info, $event)"
      r-grabber="<div></div>">
    </div>

    <div class="resize-handler">
      <div>◀</div>
      <div>▶</div>
    </div>

  </div>

</div>