<div
  class="dialog chord-identify md-whiteframe-16dp"
  layout="column">
  <div class="dialog-header dragable">
    <span>Chords Identifier</span>
    <md-button
      md-no-ink
      aria-label="Close"
      class="dialog-close icon-hover"
      ng-click="close()">
      <md-icon md-svg-icon="x"></md-icon>
    </md-button>
  </div>
  <div
    style="min-width: 500px;"
    class="layout-padding layout-column flex">
<!--     <div class="layout-row">
      <span><b>Notes:</b>&nbsp;{{ ::sounds.join(' ') }}</span>
      <div flex></div>
      <md-button
        md-no-ink
        class="icon-hover play"
        aria-label="Play"
        ng-click="playInputSounds()">
        <md-icon md-svg-icon="arrow-"></md-icon>
      </md-button>
    </div> -->
    <div class="input layout-row" style="flex-shrink: 0">
      <md-input-container flex>
        <label>Selected notes</label>
        <input
          aria-label="Chord"
          ng-model="input"
          ng-keyup="inputUpdated($event)"
          xng-blur="inputUpdated({key: 'Enter'})">
      </md-input-container>
      <md-button
        md-no-ink
        class="icon-hover action"
        aria-label="Update"
        ng-click="updateSelection()">
        <md-icon md-svg-icon="refresh"></md-icon>
      </md-button>
      <md-button
        md-no-ink
        class="icon-hover action"
        aria-label="Play"
        ng-click="playInputSounds()">
        <md-icon md-svg-icon="play"></md-icon>
      </md-button>
    </div>

    <div class="filter layout-row" style="flex-shrink: 0">
      <!-- <small flex>Results ({{ results.length }})</small> -->
      <md-checkbox
        md-no-ink
        class="md-primary"
        ng-model="filter.strict"
        ng-change="applyFilter()">Strict match
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <md-input-container flex>
        <label>Chords filter</label>
        <input
          aria-label="Chord"
          autocomplete="off"
          ng-model="filter.text"
          ng-keyup="applyFilter($event)">
      </md-input-container>
    </div>

    <div class="list-header layout-row layout-align-end-end">
      <small>Chords ({{ results.length }})</small>
      <span flex></span>
      <md-input-container class="layout-row input-inline-label">
        <label class="md-label md-no-float">Root note octave</label>
        <input
          style="width: 60px"
          aria-label="Octave"
          ng-model="rootOctave"
          type="number">
      </md-input-container>
    </div>

    <md-list
      md-no-ink
      class="select-list chord-list flex">
      <md-list-item
        ng-repeat="chord in results"
        ng-class="{ selected: selected.index === $index }"
        ng-click="playChord(chord.name);selected.index = $index"
        xng-dblclick="addToWorkspace(chord.name);selected.index = $index">
        <small>{{ ::$index + 1}}. &nbsp;</small>
        <label flex>
          <b>{{ ::chord.label }}:</b>
          <span
            ng-repeat="note in chord.notes track by $index"
            ng-class="['note-name', {match: chord.matches[$index]}]">{{ note }} </span>
        </label>
        <span ng-if-start="chord.enharmonic">/&nbsp;&nbsp;</span>
        <label ng-if-end flex>
          <b>{{ ::chord.enharmonic.label }}:</b>
          <span
            ng-repeat="note in chord.enharmonic.notes track by $index"
            ng-class="['note-name', {match: chord.matches[$index]}]">{{ note }} </span>
        </label>
        <md-button
          class="icon-hover action"
          aria-label="Set"
          ng-click="addToWorkspace(chord.name);selected.index = $index">
          <md-icon md-svg-icon="arrow-right" style="width: 1em;height:1em;"></md-icon>
        </md-button>
      </md-list-item>
    </md-list>

  </div>
</div>
