<div
  ng-if="slide.initialized"
  sly-show="slide.visible"
  class="drums-beat"
  ng-init="beat = workspace.trackSection.beat(slide.beat.bar, slide.beat.beat)"
  ng-click="editor.click($event, beat)"
  msd-wheel="editor.volumeScroll($event, beat, $delta/10)"
  style="height: {{ :: 3 * workspace.trackSection.instrument.length }}em;"
  drop-channel="drum"
  ui-on-drag-over="editor.onDragOver($event, beat)"
  xxui-on-drag-enter="editor.onDragEnter($event, beat)"
  xxui-on-drag-leave="editor.onDragLeave($event, beat)"
  ui-on-drop="editor.onDrop($event, beat, $data)">
<!--   <div
    ng-repeat="subbeat in [1,2,3,4] | limitTo: beat.subdivision track by subbeat"
    class="drumset-grid">
    <div
      ng-repeat="drum in ::workspace.track.instrument track by drum.name"
      class="grid-cell">
    </div>
  </div> -->

<!--   <svg width="100%" height="384">
    <defs>
      <pattern id="grid-3" x="16.67%" y="0" width="33.33%" height="48" patternUnits="userSpaceOnUse">
        <circle cx="17" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </pattern>
      <pattern id="grid-4" x="12.5%" y="0" width="25%" height="48" patternUnits="userSpaceOnUse">
        <circle cx="17" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </pattern>
    </defs>
    <rect
      class="grid-4"
      transform="translate(-17, 0)"
      fill="url(#grid-4)"
      width="110%"
      height="100%"
    />
    <rect
      class="grid-3"
      transform="translate(-17, 0)"
      fill="url(#grid-3)"
      width="110%"
      height="100%"
    />
  </svg> -->

<!--   <div
    class="drum-grid"
    ng-switch="beat.subdivision">
    <svg width="100%" height="100%" ng-switch-when="4">
      <defs>
        <pattern id="grid-4" x="12.5%" y="0" width="25%" height="48" patternUnits="userSpaceOnUse">
          <circle cx="17" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        </pattern>
      </defs>
      <rect
        class="grid-4"
        transform="translate(-17, 0)"
        fill="url(#grid-4)"
        width="110%"
        height="100%"
      />
    </svg>
    <svg width="100%" height="100%" ng-switch-when="3">
      <defs>
        <pattern id="grid-3" x="16.67%" y="0" width="33.33%" height="48" patternUnits="userSpaceOnUse">
          <circle cx="17" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        </pattern>
      </defs>
      <rect
        class="grid-3"
        transform="translate(-17, 0)"
        fill="url(#grid-3)"
        width="110%"
        height="100%"
      />
    </svg>
  </div> -->


  <div class="drum-grid" ng-switch="beat.grid || beat.subdivision">
    <svg width="100%" height="100%" ng-switch-when="3">
      <g ng-repeat="y in ::[0,1,2,3,4,5,6,7,8]"
        style="transform: translate(0, {{ ::y * 3 }}em)">
        <circle cx="16.67%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="50%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="83.33%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </g>
    </svg>
    <svg width="100%" height="100%" ng-switch-when="4">
      <g ng-repeat="y in ::[0,1,2,3,4,5,6,7,8]"
        style="transform: translate(0, {{ ::y * 3 }}em)">
        <circle cx="12.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="37.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="62.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="87.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </g>
    </svg>
    <svg width="100%" height="100%" ng-switch-when="6">
      <g ng-repeat="y in ::[0,1,2,3,4,5,6,7,8]"
        style="transform: translate(0, {{ ::y * 3 }}em)">
        <circle cx="8.33%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="25%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="41.66%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="58.33%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="75%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="91.66%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </g>
    </svg>
    <svg width="100%" height="100%" ng-switch-when="8">
      <g ng-repeat="y in ::[0,1,2,3,4,5,6,7,8]"
        style="transform: translate(0, {{ ::y * 3 }}em)">
        <circle cx="6.25%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="18.75%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="31.25%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="43.75%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="56.25%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="68.75%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="81.25%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="93.75%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </g>
    </svg>
  </div>

<!--   <div class="drum-grid">
    <svg width="100%" height="100%">
      <g ng-repeat="y in ::[0,1,2,3,4,5,6,7,8]" ng-attr-transform="translate(0, {{ ::y*48 }})">
        <circle cx="12.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="37.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="62.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
        <circle cx="87.5%" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </g>
    </svg>
  </div> -->

<!--   <svg width="100%" height="384" ng-if="slide.beat.subdivision === 4">
    <defs>
      <pattern id="grid-4" x="12.5%" y="0" width="25%" height="48" patternUnits="userSpaceOnUse">
        <circle cx="17" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </pattern>
    </defs>
    <rect
      class="grid-4"
      transform="translate(-17, 0)"
      fill="url(#grid-4)"
      width="110%"
      height="100%"
    />
  </svg>

  <svg width="100%" height="384" ng-if="slide.beat.subdivision === 3">
    <defs>
      <pattern id="grid-3" x="16.67%" y="0" width="33.33%" height="48" patternUnits="userSpaceOnUse">
        <circle cx="17" cy="1.5em" r="1em" fill="none" stroke="#ccc"/>
      </pattern>
    </defs>
    <rect
      class="grid-3"
      transform="translate(-17, 0)"
      fill="url(#grid-3)"
      width="110%"
      height="100%"
    />
  </svg> -->

  <div
    ng-repeat="sound in beat.data track by (sound.drum + sound.start)"
    class="drum-sound"
    ng-style="{
      left: (100*sound.start)+'%',
      width: (100/(beat.grid||beat.subdivision))+'%'
    }"
    style="top: {{ ::workspace.trackSection.instrument.index[sound.drum] * 3 }}em;"
    ui-draggable="true"
    drag-channel="drum"
    drag="sound">
    <div
      class="volume-meter"
      ng-style="{
        transform: 'scale('+sound.volume+','+sound.volume+')'
      }">
    </div>
  </div>
</div>
