<div
  ng-class="[fretboard.chordMode? 'fret-diagram' : 'fretboard']"
  ng-controller="FretboardController">

  <div class="fretboard-scroller">
    <!-- Fret Labels -->
    <div
      layout="row"
      class="frets-labels">
      <label
        ng-repeat="fret in [].constructor(25) | limitTo: settings.fretboard.size+1 track by $index"
        fret="{{ ::$index }}"
        flex>
        {{ ::$index }}
      </label>
    </div>

    <!-- Strings -->
    <div class="strings">
      <div
        ng-repeat="string in workspace.track.instrument.strings | orderBy:string.index:'-'"
        class="string {{ ::string.label }}"
        layout="row">

        <div
          ng-repeat="note in string.notes | limitTo: settings.fretboard.size+1"
          class="fret-box fret-{{ ::$index }}"
          ng-class="::['octave-'+note.octave, {'dual-label': note.label.length > 1}]"
          ng-click="playBassSound({
            note: {
              type: 'regular',
              name: note.label[0],
              octave: note.octave,
              fret: $index
            },
            string: string.label
          })"
          flex>
          <label
            ng-repeat="label in ::note.label"
            note="{{ ::label }}"
            octave="{{ ::note.octave }}"
            ui-draggable="true"
            drag-channel="bass.instrument"
            drag="{
              style: fretboard.style,
              note: {
                type: 'regular',
                name: label,
                octave: note.octave,
                length: fretboard.noteLength
              },
              string: string.label,
              volume: 0.75
            }">
            <span class="note">{{ ::label }}</span>
          </label>
        </div>

        <div
          class="fret-box ghost-note">
          <label
            ng-click="playBassSound({
              note: {
                type: 'ghost'
              },
              string: string.label
            })"
            ui-draggable="true"
            drag-channel="bass.instrument"
            drag="{
              style: fretboard.style,
              note: {
                type: 'ghost',
                length: 16
              },
              volume: 0.75,
              string: string.label
            }">x
          </label>
        </div>

      </div>
    </div>
  </div>

  <div
    layout="row"
    class="fretboard-settings">

    <!-- <md-switch ng-model="fretboard.chordMode"></md-switch> -->
    <md-input-container
      layout="row"
      class="input-inline-label">
      <label
        class="md-label md-no-float"
        translate="PLAYING_STYLE">
      </label>
      <md-select
        md-no-ink
        aria-label="Style"
        class="style-selectbox"
        ng-model="fretboard.style">
        <md-option
          ng-repeat="style in ::playingStyles"
          ng-value="::style.name"
          ng-attr-translate="{{ ::style.label }}">
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container
      layout="row"
      class="input-inline-label">
      <label
        class="md-label md-no-float"
        translate="NOTE_LENGTH">
      </label>
      <md-select
        md-no-ink
        ng-model="fretboard.noteLength">
        <md-option
          ng-repeat="note in ::[
            Note.Whole,
            Note.Half,
            Note.Quarter,
            Note.Eighth,
            Note.Sixteenth
          ]"
          ng-value="{{ ::note.value }}">
          <i class="{{ ::note.symbol }}"></i>
          <span
            class="note-length-title"
            ng-attr-translate="{{ ::note.label }}">
          </span>
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container
      layout="row"
      class="input-inline-label">
      <label
        class="md-label md-no-float"
        translate="FRETS">
      </label>
      <input
        type="number"
        min="19"
        max="24"
        step="1"
        ng-model="settings.fretboard.size">
    </md-input-container>

    <span flex></span>

    <md-input-container>
      <md-checkbox
        md-no-ink
        ng-model="fretboard.chordMode"
        ng-change="modeChanged()">
        Highlight view
      </md-checkbox>
    </md-input-container>
  </div>

</div>