
<div
  ng-if="slide.initialized"
  sly-show="slide.visible"
  ng-keydown="eventHandler.keyPressed($event)"
  ng-init="beat = workspace.trackSection.beat(slide.beat.bar, slide.beat.beat)"
  class="sounds-container">

  <div layout="column">
    <div
      ng-repeat="note in workspace.track.instrument.notes.list | orderBy:$index:'-'"
      class="grid-cell"
      ng-class="::{
        black: note.label.length > 1,
        'c-key': note.label[0] === 'C'
      }"
      drop-channel="piano.editor,piano.instrument"
      ui-on-drag-enter="dragHandler.onDragEnter($event, beat, note)"
      ui-on-drag-over="dragHandler.onDragOver($event, beat, note)"
      ui-on-drop="dragHandler.onDrop($event, beat, note)"
      >
      <!-- {{ ::note.label.join('/') }} -->
    </div>
  </div>
  <!-- <div style="min-height: {{ ::workspace.trackSection.instrument.notes.list.length*15 }}px;"></div> -->
  <div
    ng-repeat="sound in beat.data track by (sound.string + sound.start)"
    class="sound-container"
    ng-attr-octave="{{ sound.note.octave }}"
    ng-style="{
      bottom: (15*workspace.track.instrument.stringIndex(sound.note))+'px',
      left: (100*sound.start)+'%',
      width: (100*(sound.end - sound.start))+'%'
    }"
    ui-draggable="true"
    drag="sound"
    drag-channel="piano.editor"
    ng-click="eventHandler.select($event, sound)"
    >

    <div
      class="resize-container"
      resizable
      r-directions="['right']"
      on-resize="resizeHandler.onResize(sound, info)"
      on-resize-start="resizeHandler.onResizeStart(sound, info)"
      on-resize-end="resizeHandler.onResizeEnd(sound, info, $event)"
      r-grabber="<div></div>">
    </div>

    <div class="resize-handler">
      <div>◀</div>
      <div>▶</div>
    </div>

    <span ng-if="sound.prev" class="tie">⏝</span>
    <span ng-if="!sound.prev">
      {{ sound.note.name }}
      <span class="octave">{{ ::sound.note.octave }}</span>
      <span ng-show="sound.note.staccato">.</span>
    </span>

  </div>

</div>