<md-menu>
  <md-button
    md-no-ink
    aria-label="Time signature"
    class="time-signature-button"
    ng-click="$mdOpenMenu($event)">
    <p>
      {{ workspace.section.timeSignature.top }}
    </p>
    <p>
      {{ workspace.section.timeSignature.bottom }}
    </p>
  </md-button>
  <md-menu-content
    width="4"
    class="preferences md-whiteframe-16dp">
    <md-list>
      <md-list-item
        layout="row"
        class="time-signature-field">
        <label translate="TIME_SIGNATURE"></label>
        <md-input-container>
          <input
            aria-label="Top"
            type="number"
            min="1"
            max="12"
            step="1"
            ng-model="workspace.section.timeSignature.top"
            ng-change="updateSlides()">
        </md-input-container>
        <span style="margin: 20px 4px 0 6px;">/</span>
        <md-input-container>
          <md-select
            aria-label="Bottom"
            class="time-signature"
            ng-model="workspace.section.timeSignature.bottom">
            <md-option
              ng-repeat="value in ::[2,4,8,16]"
              ng-value="{{ ::value }}">
              {{ ::value }}
            </md-option>
          </md-select>
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <label translate="BARS"></label>
        <md-input-container>
          <input
            aria-label="Bars"
            type="number"
            min="1"
            max="24"
            step="1"
            ng-model="workspace.section.length"
            ng-change="updateSlides()">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <label translate="BEATS_COUNTING"></label>
        <md-input-container>
          <input
            aria-label="Counting"
            type="text"
            size="1"
            ng-model="workspace.section.barSubdivision"
            xng-blur="swiperControl.rebuildSlides()">
        </md-input-container>

        <md-tooltip
          md-delay="1500"
          class="multiline-tooltip">
          <p><b>Optional beats counting</b></p>
          <md-divider></md-divider>
          <p>
            Can be used to simplify counting on less common time signatures
            (for example beats in '4+3' will be counted as 1, 2, 3, 4, 1, 2, 3)
          </p>
        </md-tooltip>
      </md-list-item>

      <md-list-item>
        <md-button md-menu-focus-target
          md-no-ink
          class="md-raised"
          layout="row"
          layout-fill
          layout-align="space-between"
          ng-click="workspace.metadataEditor()">
          <md-icon md-svg-icon="pen"></md-icon>
          <span flex translate="CHORDS_EDITOR"></span>
        </md-button>
      </md-list-item>
    </md-list>
  </md-menu-content>
</md-menu>