<div
  role="dialog"
  class="section-dialog md-whiteframe-16dp"
  layout="column">
  <div class="dialog-header">
    <span xtranslate="PROJECT">Section metadata</span>
    <md-button
      md-no-ink
      aria-label="Close"
      class="dialog-close icon-hover"
      ng-click="close()">
      <md-icon md-svg-icon="x"></md-icon>
    </md-button>
  </div>
  <div
    flex
    layout="row">
    <div
      flex="30"
      class="left-panel"
      layout="column">
      <md-list
        flex
        class="select-list"
        ng-keyup="keyPressed($event)">
        <md-subheader class="md-no-sticky">Chords:</md-subheader>
        <md-list-item
          md-no-ink
          ng-repeat="chord in section.meta.chords"
          ng-click="selectChord(chord)"
          ng-class="{ selected: form.chord === chord }">
          {{ chord.root }}{{ chord.type }}
          <span ng-show="chord.bass">&nbsp;/ {{ chord.bass }}</span>
        </md-list-item>
        <!-- <md-list-item
          md-no-ink
          ng-click="section.meta.chords.push({start: [1,1,1]})">
          <md-icon md-svg-icon="plus"></md-icon>
          Add
        </md-list-item> -->
      </md-list>
      <md-button
        md-no-ink
        aria-label="New"
        class="icon-hover"
        ng-click="newChord()">
        <md-icon md-svg-icon="plus"></md-icon>
        <span translate="NEW"></span>
      </md-button>
    </div>

    <md-list
      flex="70"
      ng-if="form.chord"
      class="preferences">
      <md-list-item layput="row">
        <label translate="CHORD"></label>

        <md-input-container>
          <label class="md-no-float" translate="ROOT_NOTE"></label>
          <input
            aria-label="Root note"
            type="text"
            ng-model="form.chord.root"
            ng-blur="updateChord()"
            placeholder="C#">
        </md-input-container>

        <md-input-container>
          <label class="md-label md-no-float" translate="TYPE"></label>
          <input
            aria-label="Type"
            type="text"
            ng-model="form.chord.type"
            ng-blur="updateChord()"
            placeholder="min, maj, ...">
        </md-input-container>

        <md-input-container class="slash">
          <label class="md-no-float" translate="BASS_NOTE"></label>
          <input
            aria-label="Bass note"
            type="text"
            ng-model="form.chord.bass"
            ng-blur="updateChord()">
        </md-input-container>

<!--         <md-input-container>
          <label class="md-no-float" translate="OCTAVE"></label>
          <input
            aria-label="Octave"
            type="number"
            ng-model="form.chord.octave"
            ng-blur="updateChord()">
        </md-input-container> -->

      </md-list-item>

      <md-list-item layout="row">
        <label>Position:</label>
        <md-input-container flex>
          <label class="md-no-float" translate="BAR"></label>
          <input
            aria-label="Bar"
            type="number"
            min="1"
            max="{{ ::section.length }}"
            ng-model="form.chord.start[0]"
            ng-change="updatePosition()">
        </md-input-container>
        <md-input-container flex>
          <label class="md-no-float" translate="BEAT"></label>
          <input
            aria-label="Beat"
            type="number"
            min="1"
            max="{{ ::section.timeSignature.top }}"
            ng-model="form.chord.start[1]"
            ng-change="updatePosition()">
        </md-input-container>
        <md-input-container flex>
          <label class="md-no-float" translate="SUBBEAT"></label>
          <input
            aria-label="Subeat"
            type="number"
            min="1"
            max="4"
            ng-model="form.chord.start[2]"
            ng-change="updatePosition()">
        </md-input-container>
      </md-list-item>

    </md-list>
  </div>
</div>
